{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="project-detail" data-animate-on-scroll>

      <main class="sec-project-detail">
        <div class="bg-detail1"></div>
        <div class="aside-box-wrapper">
          <div class="aside-box">
            <div class="iterative-processor">

                <div class="database-connection">
                    <div class="error-handler">
                        <a class="sport1{% if request.path == '/projects/' %}-active{% endif %}"
                           href="{% url 'projects' %}">All</a>
                        {% for category in links %}
                            <a class="sport1{% if category.slug in request.path %}-active{% endif %}"
                               href="{{ category.get_url }}">{{ category.name }}</a>
                        {% endfor %}
                        <div class="variable-holder">

                            <div class="function-caller">
                                <img
                                        class="dec-line-1-icon"
                                        loading="lazy"
                                        alt=""
                                        src="{% static 'img/decline1.svg' %}"
                                />
                            </div>

                            <div class="function-caller1">
                                <img
                                        class="dec-line-2-icon"
                                        loading="lazy"
                                        alt=""
                                        src="{% static 'img/decline2.svg' %}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="audio-processor">
                <div class="availability">
                    <div class="availability1">Availability</div>
                    {#                <div class="check-button1">#}
                    {#                  <input class="icon-check1" type="checkbox" id="activeCheckbox">#}
                    {#                  <div class="event-dispatcher">#}
                    {#                    <div class="vacant-seats1">Free spots</div>#}
                    {#                  </div>#}

                    <form id="filterForm" action="{% url 'events' %}" method="POST">
                        {% csrf_token %}
                        <input id="activeCheckbox" class="icon-check1" type="checkbox" name="free-spots-checkbox"
                               {% if free_spots == True %}checked="{true}{% endif %}">

                        <label for="activeCheckbox">Free spots</label>
                    </form>

                    {#                </div>#}
                </div>
            </div>
        </div>
        </div>
        <section class="content19">
          <div class="bg6"></div>
          <div class="content-inner">
            <div class="baner-image-group">
              <img
                class="baner-image-icon1"
                loading="lazy"
                alt=""
                src="{{ single_project.image.url }}"
              />

              <div class="error-handler3">
                <img
                  class="dec-line-3-icon1"
                  alt=""
                  src="./public/decline31.svg"
                />
              </div>
              <div class="frame-wrapper11">
                <div class="frame-parent58">
                  <div class="frame-parent59">
                    <div class="frame-parent60">
                      <div class="vector-wrapper22">
                        <img
                          class="vector-icon17"
                          loading="lazy"
                          alt=""
                          src="./public/vector1.svg"
                        />
                      </div>
                      <div class="ongoing-project">Ongoing project</div>
                    </div>
                    <div class="frame-parent61">
                      <div class="vector-wrapper23">
                        <img
                          class="vector-icon18"
                          alt=""
                          src="./public/vector-14.svg"
                        />
                      </div>
                      <div class="financial-assistance2">
                        Financial assistance
                      </div>
                    </div>
                    <div class="dec-line-wrapper">
                      <img
                        class="dec-line-icon"
                        alt=""
                        src="./public/decline.svg"
                      />
                    </div>
                    <div class="frame-parent62">
                      <div class="frame-wrapper12">
                        <img
                          class="frame-child23"
                          loading="lazy"
                          alt=""
                          src="./public/group-6791.svg"
                        />
                      </div>
                      <div class="december-2023-">
                        December 2023 - February 2024
                      </div>
                    </div>
                    <div class="frame-parent63">
                      <div class="vector-wrapper24">
                        <img
                          class="vector-icon19"
                          alt=""
                          src="./public/vector-2.svg"
                        />
                      </div>
                      <div class="georgia">Georgia</div>
                    </div>
                  </div>
                  <div class="text-wrapper2">
                    <div class="text19">
                      <span
                        >The program reimburses utility costs in winter in the
                        amount of
                      </span>
                      <span class="gel">150 GEL</span>
                      <span> per month.</span>
                    </div>
                  </div>
                  <div class="button-registration1">
                    <div class="registration1">Registration</div>
                    <div class="vector-wrapper25">
                      <img
                        class="vector-icon20"
                        alt=""
                        src="./public/vector-11.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-child">
            <div class="winterization-parent">
              <h1 class="winterization">{{ single_project.name }}</h1>
              <div class="free-classes-of-container1">
                <p class="free-classes-of1">
                  {{ single_project.text }}
                </p>
                <p class="blank-line6">&nbsp;</p>
                <p class="as-part-of1">
                  *As part of the long-term #MAS program with the support of the
                  German Federal Foreign Office and partners ASB Georgia, The
                  Samaritan Association of Georgia.
                </p>
              </div>
            </div>
          </div>
          <div class="gallery-v13-m2">
            <div class="surface">
              <div class="list">
                <div class="aspectratioblock">
                  <div class="aspect-ratio">
                    <div class="aspect-ratio-keeper-rotated"></div>
                  </div>
                </div>
                <div class="aspectratioblock1">
                  <div class="aspect-ratio1">
                    <div class="aspect-ratio-keeper-rotated1"></div>
                  </div>
                </div>
                <div class="aspectratioblock2">
                  <div class="aspect-ratio2">
                    <div class="aspect-ratio-keeper-rotated2"></div>
                  </div>
                </div>
                <div class="aspectratioblock3">
                  <div class="aspect-ratio3">
                    <div class="aspect-ratio-keeper-rotated3"></div>
                  </div>
                </div>
                <div class="aspectratioblock4">
                  <div class="aspect-ratio4">
                    <div class="aspect-ratio-keeper-rotated4"></div>
                  </div>
                </div>
                <div class="aspectratioblock5">
                  <div class="aspect-ratio5">
                    <div class="aspect-ratio-keeper-rotated5"></div>
                  </div>
                </div>
              </div>
              <div class="arrows">
                <div class="navigationbutton">
                  <div class="surface1">
                    <div class="navigationicon">
                      <b class="b">←</b>
                    </div>
                  </div>
                </div>
                <div class="nubmers-wrapper">
                  <div class="nubmers">
                    <div class="number">1</div>
                    <div class="div12">/</div>
                    <div class="number1">10</div>
                  </div>
                </div>
                <div class="navigationbutton1">
                  <div class="surface2">
                    <div class="navigationicon1">
                      <b class="b1">→</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>


{% endblock %}