{% extends "base.html" %}

{% load static %}

{% block content %}
    <style>
        /* Hide mobile navbar by default */
        .mobile-section {
            display: none;
        }
        /* Media Queries */
        @media (max-width: 768px) {
            .desktop-section {
                display: none;
            }

            .mobile-section {
                display: flex;
            }

        }
    </style>
    <section class="desktop-section">
        {% if lang == 'en' %}
            {% include 'projects/desktop/projects-list-desktop-en.html' %}
        {% else %}
            {% include 'projects/desktop/projects-list-desktop.html' %}
        {% endif %}

    </section>
    <section class="mobile-section">
        {% if lang == 'en' %}
            {% include 'projects/mobile/projects-list-mobile-en.html' %}
        {% else %}
            {% include 'projects/mobile/projects-list-mobile.html' %}
        {% endif %}

    </section>

{% endblock %}

