{% extends "base.html" %}

{% load static %}

{% block content %}

      <section class="page-header6">
        <img class="bg-icon6" loading="lazy" alt="" src="{% static 'img/bg@2x.png' %}" />

        <div class="sec-title6">
          <div class="sublitle6">Subtitle</div>
          <div class="content18">
            <h1 class="events24">Projects</h1>
            <div class="discover-the-diverse-range-of-wrapper3">
              <div class="discover-the-diverse6">
                Discover the diverse range of events and activities we offer to
                support the Ukrainian community in Georgia.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="rectangle-group">
        <div class="rectangle-div"></div>
        <div class="aside-box7">
          <div class="rectangle-bg7"></div>
          <div class="value-comparator2">
            <div class="item-active6">
              <div class="item-active-child1"></div>
              <div class="all2">All</div>
            </div>
          </div>
          <div class="data-aggregator4">
            <div class="financial-assistance">Financial assistance</div>
          </div>
          <div class="data-aggregator5">
            <div class="sport2">Sport</div>
          </div>
          <div class="data-aggregator6">
            <div class="non-formal-education2">Non-formal education</div>
          </div>
          <div class="data-aggregator7">
            <div class="events-and-master2">Events and master classes</div>
          </div>
          <div class="data-aggregator8">
            <div class="other">Other</div>
          </div>
          <div class="color-palette">
            <img
              class="dec-line-1-icon2"
              loading="lazy"
              alt=""
              src="{% static 'img/decline1.svg' %}"
            />
          </div>
          <div class="position-coordinator">
            <div class="availability3">Availability</div>
          </div>
          <div class="symbol-library-wrapper">
            <div class="symbol-library">
              <input class="icon-check2" type="checkbox" />

              <div class="spacing-calculator">
                <div class="ongoing-projects">Ongoing projects</div>
              </div>
            </div>
          </div>
        </div>
        <div class="stroke-manager">
          <div class="bg5"></div>
          <div class="blend-mode-adapter">
            <div class="opacity-controller">
              <div class="raster-image-processor">
                <div class="placeholder-image-parent">
                  <img
                    class="placeholder-image-icon5"
                    alt=""
                    src="{% static 'img/placeholder-image@2x.png' %}"
                  />

                  <img
                    class="placeholder-image-icon6"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/placeholder-image@2x.png' %}"
                  />
                </div>
                <div class="auto-layout-handler">
                  <div class="constraint-solver">
                    <img
                      class="constraint-solver-child"
                      alt=""
                      src="{% static 'img/vector-35.svg' %}"
                    />

                    <img
                      class="constraint-solver-item"
                      alt=""
                      src="{% static 'img/vector-35.svg' %}"
                    />
                  </div>
                </div>
                <div class="decoration16"></div>
              </div>
              <div class="character-spacing-calculator">
                <div class="frame-parent51">
                  <div class="heading-parent2">
                    <b class="heading17"
                      >PLIS (PENSION LEGAL & INFORMATIONAL SUPPORT)</b
                    >
                    <b class="heading18"
                      >PLIS (PENSION LEGAL & INFORMATIONAL SUPPORT)</b
                    >
                  </div>
                  <div class="layer-duplicator">
                    <div class="component-instance-manager">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Dummy text of the printing and
                      typesetting industry.
                    </div>
                    <div class="text15">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Dummy text of the printing and
                      typesetting industry.
                    </div>
                  </div>
                  <div class="tag">
                    <div class="tag-one">Other</div>
                  </div>
                </div>
                <div class="style-library">
                  <div class="prototype-creator">
                    <img
                      class="variant-handler-icon"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />

                    <img
                      class="component-state-controller"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />
                  </div>
                </div>
                <div class="auto-animate-helper">
                  <div class="transition-manager">
                    <div class="tag-one1">Ongoing</div>
                    <div class="tag-one2">Ongoing</div>
                  </div>
                </div>
              </div>
              <div class="shape-container1">
                <div class="link-list-parent">
                  <div class="link-list">
                    <img
                      class="link-list-child"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />

                    <img
                      class="icon-set"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />
                  </div>
                  <div class="property-bank">
                    <button class="button-delails">
                      <div class="details">details</div>
                      <div class="size-saver">
                        <img
                          class="position-recorder-icon"
                          alt=""
                          src="{% static 'img/vector-11.svg' %}"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="angle-adjuster">
              <div class="ratio-regulator">
                <img
                  class="state-manager-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/vector-33.svg' %}"
                />

                <img
                  class="state-manager-icon1"
                  alt=""
                  src="{% static 'img/vector-33.svg' %}"
                />
              </div>
            </div>
            <div class="opacity-controller1">
              <div class="placeholder-image-group">
                <img
                  class="placeholder-image-icon7"
                  alt=""
                  src="{% static 'img/placeholder-image-11@2x.png' %}"
                />

                <div class="vector-wrapper10">
                  <img
                    class="frame-child11"
                    alt=""
                    src="{% static 'img/vector-35.svg' %}"
                  />
                </div>
                <div class="decoration17"></div>
              </div>
              <div class="frame-parent52">
                <div class="frame-parent53">
                  <div class="heading-parent3">
                    <b class="heading19">ENGLISH COURSE FOR CHILDREN</b>
                    <div class="layer-ordering-helper-parent">
                      <div class="layer-ordering-helper">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Dummy text of the printing and
                        typesetting industry.
                      </div>
                      <div class="tag1">
                        <div class="tag-one3">Non-profin education</div>
                      </div>
                    </div>
                  </div>
                  <div class="vector-wrapper11">
                    <img
                      class="frame-child12"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />
                  </div>
                  <div class="tag-one-wrapper">
                    <div class="tag-one4">Complited</div>
                  </div>
                </div>
                <div class="frame-wrapper10">
                  <div class="vector-parent1">
                    <img
                      class="frame-child13"
                      alt=""
                      src="{% static 'img/variant-handler.svg' %}"
                    />

                    <div class="button-delails-wrapper">
                      <button class="button-delails1">
                        <div class="details1">details</div>
                        <div class="vector-wrapper12">
                          <img
                            class="vector-icon12"
                            alt=""
                            src="{% static 'img/vector-11.svg' %}"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="opacity-controller-icon"
              alt=""
              src="{% static 'img/vector-33.svg' %}"
            />

            <div class="opacity-controller2">
              <div class="placeholder-image-container">
                <img
                  class="placeholder-image-icon8"
                  alt=""
                  src="{% static 'img/placeholder-image-21@2x.png' %}"
                />

                <div class="vector-wrapper13">
                  <img
                    class="frame-child14"
                    alt=""
                    src="{% static 'img/vector-35.svg' %}"
                  />
                </div>
                <div class="decoration18"></div>
              </div>
              <div class="frame-parent54">
                <div class="heading-parent4">
                  <b class="heading20">modern dance classes </b>
                  <div class="text-parent">
                    <div class="text16">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Dummy text of the printing and
                      typesetting industry.
                    </div>
                    <div class="tag2">
                      <div class="tag-one5">Event and masster clases</div>
                    </div>
                  </div>
                </div>
                <div class="vector-wrapper14">
                  <img
                    class="frame-child15"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />
                </div>
                <div class="tag-one-container">
                  <div class="tag-one6">Ongoing</div>
                </div>
              </div>
              <div class="opacity-controller-inner">
                <div class="vector-parent2">
                  <img
                    class="frame-child16"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />

                  <div class="button-delails-container">
                    <button class="button-delails2">
                      <div class="details2">details</div>
                      <div class="vector-wrapper15">
                        <img
                          class="vector-icon13"
                          alt=""
                          src="{% static 'img/vector-11.svg' %}"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="opacity-controller-icon1"
              alt=""
              src="{% static 'img/vector-33.svg' %}"
            />

            <div class="opacity-controller3">
              <div class="placeholder-image-parent1">
                <img
                  class="placeholder-image-icon9"
                  alt=""
                  src="{% static 'img/placeholder-image@2x.png' %}"
                />

                <div class="vector-wrapper16">
                  <img
                    class="frame-child17"
                    alt=""
                    src="{% static 'img/vector-35.svg' %}"
                  />
                </div>
                <div class="decoration19"></div>
              </div>
              <div class="frame-parent55">
                <div class="heading-parent5">
                  <b class="heading21"
                    >PLIS (PENSION LEGAL & INFORMATIONAL SUPPORT)</b
                  >
                  <div class="text-group">
                    <div class="text17">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Dummy text of the printing and
                      typesetting industry.
                    </div>
                    <div class="tag3">
                      <div class="tag-one7">Other</div>
                    </div>
                  </div>
                </div>
                <div class="vector-wrapper17">
                  <img
                    class="frame-child18"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />
                </div>
                <div class="tag-one-frame">
                  <div class="tag-one8">Ongoing</div>
                </div>
              </div>
              <div class="opacity-controller-child">
                <div class="vector-parent3">
                  <img
                    class="frame-child19"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />

                  <div class="button-delails-frame">
                    <button class="button-delails3">
                      <div class="details3">details</div>
                      <div class="vector-wrapper18">
                        <img
                          class="vector-icon14"
                          alt=""
                          src="{% static 'img/vector-11.svg' %}"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="opacity-controller-icon2"
              alt=""
              src="{% static 'img/vector-33.svg' %}"
            />

            <div class="opacity-controller4">
              <div class="placeholder-image-parent2">
                <img
                  class="placeholder-image-icon10"
                  alt=""
                  src="{% static 'img/placeholder-image@2x.png' %}"
                />

                <div class="vector-wrapper19">
                  <img
                    class="frame-child20"
                    alt=""
                    src="{% static 'img/vector-35.svg' %}"
                  />
                </div>
                <div class="decoration20"></div>
              </div>
              <div class="frame-parent56">
                <div class="heading-parent6">
                  <b class="heading22"
                    >PLIS (PENSION LEGAL & INFORMATIONAL SUPPORT)</b
                  >
                  <div class="text-parent1">
                    <div class="text18">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Dummy text of the printing and
                      typesetting industry.
                    </div>
                    <div class="tag4">
                      <div class="tag-one9">Other</div>
                    </div>
                  </div>
                </div>
                <div class="vector-wrapper20">
                  <img
                    class="frame-child21"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />
                </div>
                <div class="tag-one-wrapper1">
                  <div class="tag-one10">Ongoing</div>
                </div>
              </div>
              <div class="opacity-controller-inner1">
                <div class="vector-parent4">
                  <img
                    class="frame-child22"
                    alt=""
                    src="{% static 'img/variant-handler.svg' %}"
                  />

                  <div class="button-delails-wrapper1">
                    <button class="button-delails4">
                      <div class="details4">details</div>
                      <div class="vector-wrapper21">
                        <img
                          class="vector-icon15"
                          alt=""
                          src="{% static 'img/vector-11.svg' %}"
                        />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="transition-trio">
            <div class="effect-enabler">
              <div class="sub-component-store-wrapper">
                <div class="sub-component-store">
                  <div class="nesting-navigator">
                    <img
                      class="interaction-invoker-icon"
                      alt=""
                      src="{% static 'img/vector-12.svg' %}"
                    />
                  </div>
                  <div class="back1">Back</div>
                </div>
              </div>
              <div class="active1">
                <div class="active-item"></div>
                <div class="alignment-adjustment">1</div>
              </div>
              <div class="visibility-validator">
                <div class="access-controller">2</div>
              </div>
              <div class="visibility-validator1">
                <div class="div11">3</div>
              </div>
              <div class="spacing-scheduler">
                <div class="fill-finder">
                  <div class="forward1">Forward</div>
                  <div class="icon-identifier">
                    <img
                      class="shape-shaper-icon"
                      alt=""
                      src="{% static 'img/vector-13.svg' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tag5">
        <div class="tag-one11">Other</div>
      </div>
      <div class="decoration22"></div>
      <div class="button-delails5">
        <div class="details5">details</div>
        <img class="vector-icon16" alt="" src="{% static 'img/vector-11.svg' %}" />
      </div>
    </div>


{% endblock %}