{% extends 'base.html' %}
{% load static %}
{% load trans_lang %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-decoration-color: var(--color-darkslategray-300);
            color: var(--color-darkslategray-300);
            background-color: #f5f5f5;
        }

        .main-container {
            display: flex;
            align-items: flex-start;
            padding: 20px;
        }

        .sidebar-container {
            flex: 0 0 250px;
        }

        .table-container {
            flex: 1;
            max-width: 100%;
            margin: 20px;
            background-color: var(--neutral-background);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow-x: auto; /* Enables horizontal scrolling */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .main-person {
            background-color: #ffc107;
        }

        .button {
            width: 10rem;
            padding: 8px 12px;
            font-size: 14px;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 5px;
            display: inline-block;
        }

        .button.active {
            background-color: #4CAF50;
        }

        .button.inactive {
            background-color: #999;
            cursor: not-allowed;
        }

        .button.add-person {
            display: inline-block;
            margin-bottom: 15px;
            background-color: #007BFF;
        }

        .button:hover {
            background-color: #45a049;
        }

        .button.inactive:hover {
            background-color: #999;
        }

        @media (max-width: 768px) {
            .main-container {
                flex-direction: column;
            }

            .sidebar-container, .table-container {
                max-width: 100%;
                margin: 0;
                padding: 10px;
            }

            th, td {
                padding: 8px;
                font-size: 12px;
            }

            .button {
                width: 8.5rem;
                padding: 6px 10px;
                font-size: 12px;
            }
        }

        .last-event-block {
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: flex;
            align-items: flex-start;
        }

        .last-event {
            display: flex;
            align-items: flex-start;
        }

        .last-event-thumbnail {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 5px;
            margin-right: 10px;
        }

        .last-event-details {
            font-size: 14px;
        }

        .last-event-link {
            color: #007bff;
            text-decoration: none;
        }

        .last-event-link:hover {
            text-decoration: underline;
        }
    </style>

    <div class="main-container">
        <div class="sidebar-container">
            {% include 'includes/dashboard_sidebar.html' %}
        </div>

        <div class="table-container">
            {% if last_event %}
                <h4>{% trans_lang 'last_event' lang %}</h4>
                <div class="last-event-block">
                    <div class="last-event-details">
                        {% if lang == 'en' %}
                            <a href="{{ last_event.url_en }}">
                                {% if last_event.thumbnail %}
                                    <img src="{{ last_event.thumbnail }}" alt="{{ last_event.name_en }}"
                                         class="last-event-thumbnail">
                                {% endif %}
                            </a>
                            <h5>{{ last_event.name_en }}</h5>
                            <a href="{{ last_event.url_en }}" class="btn btn-primary">
                                {% trans_lang 'go_to_registration' lang %}
                            </a>
                        {% else %}
                            {% if last_event.thumbnail %}
                                <a href="{{ last_event.url }}">
                                    <img src="{{ last_event.thumbnail }}" alt="{{ last_event.name }}"
                                         class="last-event-thumbnail">
                                </a>
                            {% endif %}
                            <h5>{{ last_event.name }}</h5>
                            <a href="{{ last_event.url }}" class="btn btn-primary">
                                {% trans_lang 'go_to_registration' lang %}
                            </a>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

            <h2>{% trans_lang 'family_tree' lang %}</h2>

            {% if main_person %}
                <div>
                    <h3>{% trans_lang 'main_person' lang %}</h3>
                    <p><strong>{{ main_person.first_name }} {{ main_person.last_name }}</strong></p>
                    <p>e-mail: {{ main_person.user_owner.email }}</p>

                    <p><strong>{% trans_lang 'georgian_phone' lang %}</strong> {{ main_person.georgian_phone_number }}
                    </p>

                    {% if main_person.ukrainian_phone_number %}
                        <p>
                            <strong>{% trans_lang 'ukrainian_phone' lang %}</strong> {{ main_person.ukrainian_phone_number }}
                        </p>
                    {% endif %}

                    {% if main_person.address_line %}
                        <p><strong>{% trans_lang 'address' lang %}</strong> {{ main_person.address_line }}</p>
                    {% endif %}

                    {% if main_person.edit_permission %}
                        <a href="{% url 'associated_person_edit' main_person.id %}" class="button active">
                            {% trans_lang 'full_info' lang %}
                        </a>
                    {% else %}
                        <a href="{% url 'contact' %}">{% trans_lang 'edit_request' lang %}</a>
                    {% endif %}
                </div>
            {% endif %}

            <a href="{% url 'associated_person_create' %}" class="button add-person">
                {% trans_lang 'add_person' lang %}
            </a>

            <table>
                <thead>
                <tr>
                    <th>{% trans_lang 'actions' lang %}</th>
                    <th>{% trans_lang 'name' lang %}</th>
                    <th>{% trans_lang 'birthdate' lang %}</th>
                    <th>{% trans_lang 'document_number' lang %}</th>
                    <th>{% trans_lang 'gender' lang %}</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                    {% if person != main_person %}
                        <tr class="{% if person.is_main %}main-person{% endif %}">
                            <td>
                                {% if person.edit_permission %}
                                    <a href="{% url 'associated_person_edit' person.id %}" class="button active">
                                        {% trans_lang 'edit' lang %}
                                    </a>
                                {% else %}
                                    <span class="button inactive">{% trans_lang 'edit' lang %}</span>
                                {% endif %}
                            </td>
                            <td>{{ person.first_name }} {{ person.last_name }}</td>
                            <td>{{ person.date_of_birth|date:"d.m.Y" }}</td>
                            <td>{{ person.document_number }}</td>
                            <td>{{ person.gender }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
