{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        text-decoration-color: var(--color-darkslategray-300);
        color: var(--color-darkslategray-300);
        background-color: #f5f5f5;
    }

    .main-container {
        display: flex;
        align-items: flex-start;
        padding: 20px;
    }

    .sidebar-container {
        flex: 0 0 250px;
    }

    .table-container {
        flex: 1;
        max-width: 100%;
        margin: 20px;
        background-color: var(--neutral-background);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Enables horizontal scrolling */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .main-person {
        background-color: #ffc107;
    }

    .button {
        padding: 8px 12px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
        display: inline-block;
    }

    .button.active {
        background-color: #4CAF50;
    }

    .button.inactive {
        background-color: #999;
        cursor: not-allowed;
    }

    .button.add-person {
        display: inline-block;
        margin-bottom: 15px;
        background-color: #007BFF;
    }

    .button:hover {
        background-color: #45a049;
    }

    .button.inactive:hover {
        background-color: #999;
    }

    @media (max-width: 768px) {
        .main-container {
            flex-direction: column;
        }

        .sidebar-container, .table-container {
            max-width: 100%;
            margin: 0;
            padding: 10px;
        }

        th, td {
            padding: 8px;
            font-size: 12px;
        }

        .button {
            padding: 6px 10px;
            font-size: 12px;
        }
    }
</style>

<div class="main-container">
    <div class="sidebar-container">
        {% include 'includes/dashboard_sidebar.html' %}
    </div>

    <div class="table-container">
        <h2>Persons</h2>

        {% if main_person %}
            <div>
{#             номер телефона (грузинский, если ввел украинский то и его),адресс. Убираем дату рождения, гражданство и все оставляем по кнопке FULL INFORMATION#}
                <h3>Main Person:</h3>
                <p><strong>{{ main_person.first_name }} {{ main_person.last_name }}</strong></p>
{#                <p>Date of Birth: {{ main_person.date_of_birth|date:"d.m.Y" }}</p>#}
                <p>e-mail: {{ main_person.user_owner.email }}</p>
                <p>Georgian Phone Number: {{ main_person.georgian_phone_number }}</p>
                {% if main_person.ukrainian_phone_number %}
                	<p>Ukrainian Phone Number: {{ main_person.ukrainian_phone_number }}</p>
                {% endif %}
                {% if main_person.address_line %}
                    <p>Address: {{ main_person.address_line }}</p>
                {% endif %}



                {% if main_person.edit_permission %}
                    <a href="{% url 'associated_person_edit' main_person.id %}" class="button active">Full information</a>
                {% else %}
                    <a href="{% url 'contact' %}">To edit person sand the request</a>
                {% endif %}
            </div>
        {% endif %}

        <a href="{% url 'associated_person_create' %}" class="button add-person">Add New Person</a>

        <table>
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
{#                    <th>Date of Arrival</th>#}
{#                    <th>Type of Document</th>#}
                    <th>Document Number</th>
                    <th>Gender</th>
{#                    <th>Georgian Phone Number</th>#}
{#                    <th>Ukrainian Phone Number</th>#}
{#                    <th>Country</th>#}
{#                    <th>Chosen City</th>#}
{#                    <th>Address Line</th>#}
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    {% if person == main_person %}
                    {% else %}
                        <tr class="{% if person.is_main %}main-person{% endif %}">
                            <td>
                                {% if person.edit_permission %}
                                    <a href="{% url 'associated_person_edit' person.id %}" class="button active">Edit</a>
                                {% else %}
                                    <span class="button inactive">Edit</span>
                                {% endif %}
                            </td>
                            <td>{{ person.first_name }} {{ person.last_name }}</td>
                            <td>{{ person.date_of_birth|date:"d.m.Y" }}</td>
{#                            <td>{{ person.date_of_arrival|date:"d.m.Y" }}</td>#}
{#                            <td>{{ person.type_of_document.name }}</td>#}
                            <td>{{ person.document_number }}</td>
                            <td>{{ person.gender }}</td>
{#                            <td>{{ person.georgian_phone_number }}</td>#}
{#                            <td>{{ person.ukrainian_phone_number }}</td>#}
{#                            <td>{{ person.country }}</td>#}
{#                            <td>{{ person.chosen_city }}</td>#}
{#                            <td>{{ person.address_line }}</td>#}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
