{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: var(--neutral-background);
        color: var(--color-darkslategray-300);
    }

    .main-container {
        display: flex;
        align-items: flex-start;
        padding: 20px;
    }

    .sidebar-container {
        flex: 0 0 250px;
    }

    .form-container {
        flex: 1;
        max-width: 600px;
        margin: 20px;
        background-color: var(--neutral-background);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form-group small {
        color: black;
        display: block;
        margin-top: 5px;
    }

    .error {
        color: #690404;
        font-size: 0.9em;
    }

    button[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    @media (max-width: 768px) {
        .main-container {
            flex-direction: column;
        }

        .sidebar-container, .form-container {
            max-width: 100%;
            margin: 0;
            padding: 10px;
        }

        .form-container {
            margin-top: 20px;
        }
    }
</style>

<div class="main-container">
{#    <div class="sidebar-container">#}
        {% include 'includes/dashboard_sidebar.html' %}
{#    </div>#}

    <div class="form-container">
        <h2>Редагувати особу</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="error">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date_of_birth.label_tag }}
                {{ form.date_of_birth }}
                {% if form.date_of_birth.errors %}
                    <div class="error">{{ form.date_of_birth.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.citizenship.label_tag }}
                {{ form.citizenship }}
                {% if form.citizenship.errors %}
                    <div class="error">{{ form.citizenship.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date_of_arrival.label_tag }}
                {{ form.date_of_arrival }}
                {% if form.date_of_arrival.errors %}
                    <div class="error">{{ form.date_of_arrival.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.type_of_document.label_tag }}
                {{ form.type_of_document }}
                {% if form.type_of_document.errors %}
                    <div class="error">{{ form.type_of_document.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.document_number.label_tag }}
                {{ form.document_number }}
                {% if form.document_number.errors %}
                    <div class="error">{{ form.document_number.errors }}</div>
                {% endif %}
                <small id="document-number-help">{{ form.document_number.help_text }}</small>
            </div>
            <div class="form-group">
                {{ form.gender.label_tag }}
                {{ form.gender }}
                {% if form.gender.errors %}
                    <div class="error">{{ form.gender.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.georgian_phone_number.label_tag }}
                {{ form.georgian_phone_number }}
                {% if form.georgian_phone_number.errors %}
                    <div class="error">{{ form.georgian_phone_number.errors }}</div>
                {% endif %}
                <small>Формат: 995XXXXXXXXX</small>
            </div>
            <div class="form-group">
                {{ form.ukrainian_phone_number.label_tag }}
                {{ form.ukrainian_phone_number }}
                {% if form.ukrainian_phone_number.errors %}
                    <div class="error">{{ form.ukrainian_phone_number.errors }}</div>
                {% endif %}
                <small>Формат: 380XXXXXXXXX</small>
            </div>
            <div class="form-group">
                {{ form.country.label_tag }}
                {{ form.country }}
                {% if form.country.errors %}
                    <div class="error">{{ form.country.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.chosen_city.label_tag }}
                {{ form.chosen_city }}
                {% if form.chosen_city.errors %}
                    <div class="error">{{ form.chosen_city.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.criteria.label_tag }}
                {{ form.criteria }}
                {% if form.criteria.errors %}
                    <div class="error">{{ form.criteria.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_line.label_tag }}
                {{ form.address_line }}
                {% if form.address_line.errors %}
                    <div class="error">{{ form.address_line.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" name="save" class="btn btn-primary">Зберегти зміни</button>
            <button type="submit" name="save_and_continue" class="btn btn-secondary">
                Зберегти та додати наступного учасника родини
            </button>
        </form>
    </div>
</div>
{% endblock %}
