{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="sec-accounts1">
    <div class="bg-personal-account2"></div>
    <div class="aside-box10">
        <div class="rectangle-bg10"></div>
        <div class="navigation-links">
            <div class="item-active10">
                <div class="item-active-child5"></div>
                <div class="accounts2">Accounts</div>
            </div>
            <div class="inactive-item">
                <div class="events33">Events</div>
            </div>
        </div>
        <div class="settings-item">
            <div class="settings2">Settings</div>
        </div>
    </div>
    <section class="group-section">


        <h1>Participant List</h1>
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table>
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Citizenship</th>
                    <th>Date of Arrival</th>
                    <th>Type of Document</th>
                    <th>Document Number</th>
                    <th>Gender</th>
                    <th>Georgian Phone Number</th>
                    <th>Ukrainian Phone Number</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Address Line</th>
                    <th>Registered On</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ form.first_name }}</td>
                        <td>{{ form.last_name }}</td>
                        <td>{{ form.date_of_birth }}</td>
                        <td>{{ form.citizenship }}</td>
                        <td>{{ form.date_of_arrival }}</td>
                        <td>{{ form.type_of_document }}</td>
                        <td>{{ form.document_number }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.georgian_phone_number }}</td>
                        <td>{{ form.ukrainian_phone_number }}</td>
                        <td>{{ form.country }}</td>
                        <td>{{ form.city }}</td>
                        <td>{{ form.region }}</td>
                        <td>{{ form.address_line }}</td>
                        <td>{{ form.registered_on }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit">Save Changes</button>
            <a href="{% url 'create_participant' %}" class="button">Create New Participant</a>
        </form>
    </section>
</main>
{% endblock %}