{% extends "base.html" %}

{% load static %}

{% block content %}

      <main class="sec-accounts1">
        <div class="bg-personal-account2"></div>
        <div class="aside-box10">
          <div class="rectangle-bg10"></div>
          <div class="navigation-links">
            <div class="item-active10">
              <div class="item-active-child5"></div>
              <div class="accounts2">Accounts</div>
            </div>
            <div class="inactive-item">
              <div class="events33">Events</div>
            </div>
          </div>
          <div class="settings-item">
            <div class="settings2">Settings</div>
          </div>
        </div>
        <section class="group-section">
          <div class="bg8"></div>
          <div class="add-account-button">
            <div class="upload2">
              <button class="upload3">
                <div class="plus-icon1">
                  <img class="plus-icon2" alt="" src="./public/plus.svg" />
                </div>
                <div class="add-account2">Add Account</div>
              </button>
              <div class="my-profile-family">
                <div class="my-family">
                  <div class="my-profile1">My Profile</div>
                  <div class="family1">Family</div>
                </div>
              </div>
            </div>
            <div class="line-parent1">
              <div class="frame-child30"></div>
              <div class="frame-child31"></div>
            </div>
          </div>
          <div class="rectangle-parent3">
            <div class="frame-child32"></div>
            <div class="account-verification1">Account Verification</div>
            <div class="verification-status">
              <div class="status-icons">
                <img
                  class="status-icons-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-1000001825.svg"
                />

                <div class="status-elements">
                  <div class="status-elements-child"></div>
                  <img
                    class="status-elements-item"
                    loading="lazy"
                    alt=""
                    src="./public/group-1000001824.svg"
                  />
                </div>
                <div class="status-elements1">
                  <div class="status-elements-inner"></div>
                  <div class="wrapper-group-10000018231">
                    <img
                      class="wrapper-group-1000001823-item"
                      loading="lazy"
                      alt=""
                      src="./public/group-1000001823.svg"
                    />
                  </div>
                </div>
                <div class="status-elements2"></div>
                <div class="status-elements3"></div>
              </div>
              <div class="data-fields">
                <div class="personal-data1">Personal data</div>
                <div class="data-field-labels">
                  <div class="address15">Address</div>
                </div>
                <div class="data-field-labels1">
                  <div class="address16">Address</div>
                </div>
                <div class="data-field-labels2">
                  <div class="address17">Address</div>
                </div>
                <div class="verified1">Verified</div>
              </div>
            </div>
          </div>
          <div class="verification-message">
            <div class="please-fill-in1">
              Please fill in all details to register for the event!
            </div>
          </div>
          <div class="personal-information-form">
            <div class="rectangle-parent4">
              <div class="frame-child33"></div>
              <div class="frame-parent53">
                <div class="full-name-input-wrapper">
                  <div class="full-name-input">
                    <div class="personal-information2">
                      Personal Information
                    </div>
                    <div class="frame-parent54">
                      <div class="instance-group">
                        <div class="name-parent11">
                          <div class="name13">Name</div>
                          <div class="tomiwa-oyeledu-dolapo12">Tetiana</div>
                        </div>
                        <div class="name-parent12">
                          <div class="name14">Surname</div>
                          <div class="tomiwa-oyeledu-dolapo13">Popova</div>
                        </div>
                      </div>
                      <div class="instance-container">
                        <div class="name-parent13">
                          <div class="name15">Gender</div>
                          <div class="tomiwa-oyeledu-dolapo14">Female</div>
                        </div>
                        <div class="name-parent14">
                          <div class="name16">Date of Birth</div>
                          <div class="tomiwa-oyeledu-dolapo15">12.02.1998</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent55">
                  <button class="frame-button">
                    <img
                      class="vector-icon19"
                      alt=""
                      src="./public/vector.svg"
                    />

                    <div class="edit3">Edit</div>
                  </button>
                  <button class="trash-alt-parent">
                    <img
                      class="trash-alt-icon"
                      alt=""
                      src="./public/trashalt.svg"
                    />

                    <div class="delate">Delate</div>
                  </button>
                </div>
              </div>
              <div class="frame-child34"></div>
              <div class="frame-parent56">
                <div class="instance-parent1">
                  <div class="name-parent15">
                    <div class="name17">Citizenship</div>
                    <div class="tomiwa-oyeledu-dolapo16">Ukrainian</div>
                  </div>
                  <div class="first-name-parent1">
                    <div class="first-name3">Type of document</div>
                    <div class="olga2">International Passport</div>
                  </div>
                </div>
                <div class="instance-parent2">
                  <div class="name-parent16">
                    <div class="name18">Date of arrival</div>
                    <div class="tomiwa-oyeledu-dolapo17">12.02.2024</div>
                  </div>
                  <div class="first-name-parent2">
                    <div class="first-name4">Document number</div>
                    <div class="olga3">FA803309</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="address-editor-wrapper">
            <div class="address-editor">
              <div class="address-fields">
                <div class="address18">Address</div>
                <div class="country-input-group">
                  <div class="country-input2">
                    <div class="name-parent17">
                      <div class="name19">Country</div>
                      <div class="country1">Georgia</div>
                    </div>
                    <div class="name-parent18">
                      <div class="name20">City</div>
                      <div class="tomiwa-oyeledu-dolapo18">Batumi</div>
                    </div>
                  </div>
                  <div class="country-input3">
                    <div class="name-parent19">
                      <div class="name21">Region</div>
                      <div class="tomiwa-oyeledu-dolapo19">Ajaria</div>
                    </div>
                    <div class="name-parent20">
                      <div class="name22">Address Line</div>
                      <div class="tomiwa-oyeledu-dolapo20">
                        35 Crescent Road
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="address-edit">
                <div class="address-edit-button1">
                  <img class="edit-icon1" alt="" src="./public/edit-icon.svg" />
                </div>
                <div class="edit4">Edit</div>
              </button>
            </div>
          </div>
          <div class="rectangle-parent5">
            <div class="frame-child35"></div>
            <div class="contact-details3">
              <div class="contact-details4">Contact Details</div>
              <button class="contact-edit">
                <div class="contact-edit-button">
                  <img
                    class="edit-contact-icon"
                    alt=""
                    src="./public/edit-icon.svg"
                  />
                </div>
                <div class="edit5">Edit</div>
              </button>
            </div>
            <div class="instance-parent3">
              <div class="name-parent21">
                <div class="name23">Email</div>
                <div class="tomiwa-oyeledu-dolapo21">olga.popova@gmail.com</div>
              </div>
              <div class="name-parent22">
                <div class="name24">Georgian Phone Number</div>
                <div class="tomiwa-oyeledu-dolapo22">+995 595 720 458</div>
              </div>
              <div class="name-parent23">
                <div class="name25">Ukrainian Phone Number</div>
                <div class="tomiwa-oyeledu-dolapo23">+380 96 00 91 791</div>
              </div>
            </div>
          </div>
        </section>
      </main>

{% endblock %}