{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="personal-account-events" data-animate-on-scroll>

      <main class="bg-personal-account-parent">

        <section class="frame-section">
        {% include "includes/dashboard_sidebar.html" %}
        <section class="group-section">

                    <div class="frame-parent68" style="margin-left: 0px">

                        {% for participant in participants %}
                            <div class="frame-parent69">
                                <div class="frame-parent70">
                                    <div class="placeholder-image-wrapper">
                                        <img
                                                class="placeholder-image-icon11"
                                                loading="lazy"
                                                alt=""
                                                src="{{ participant.registered_on.image.url }}"
                                        />
                                    </div>
                                    <div class="vector-wrapper26">
                                        <img
                                                class="frame-child26"
                                                loading="lazy"
                                                alt=""
                                                src="./public/vector-351.svg"
                                        />
                                    </div>
                                    <div class="decoration24"></div>
                                    <div class="frame-wrapper13">
                                        <div class="frame-parent71">
                                            <div class="heading-parent7">
                                                <b class="heading25">{{ participant.registered_on.name }}</b>
                                                <div class="text-parent2">
                                                    <div class="event-registered-on-text">
                                                        {{ participant.registered_on.text }}
                                                    </div>
                                                    <div class="tag6">
                                                        <b class="tag-one12">{{ participant.registered_on.group.name }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vector-wrapper27">
                                                <img
                                                        class="frame-child27"
                                                        loading="lazy"
                                                        alt=""
                                                        src="./public/vector-36.svg"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper14">
                                    <div class="frame-parent72">
                                        <div class="tag-one-wrapper2">
                                            <b class="tag-one13">{{ participant.first_name }} {{ participant.last_name }} {{ participant.status }}</b>

                                        </div>
                                        <img
                                                class="frame-child28"
                                                loading="lazy"
                                                alt=""
                                                src="./public/vector-36.svg"
                                        />
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

            </section>
{#      paginator #}
        <div class="data-visualizer">
          <nav class="mt-4" aria-label="Page navigation sample">
                {% if participants.has_other_pages %}
                <ul class="pagination">
                    {% if participants.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ participants.previous_page_number }}">Попередня</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Попередня</a></li>
                    {% endif %}

                    {% for page_number in participants.paginator.page_range %}
                        {% if participants.number == page_number %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if participants.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ participants.next_page_number }}">Далі</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Далі</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
{#      end new paginator#}

        </section>

      </main>

    </div>

{% endblock %}
