<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./personal-account-accounts-my-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="personal-account-accounts-my-" data-animate-on-scroll>
      <header class="navbaraccount1">
        <div class="logo-ut10">
          <img
            class="logo-flag-ut-icon20"
            loading="lazy"
            alt=""
            src="./public/logoflagut2.svg"
          />

          <div class="logo-text-ut20">
            <div class="group60">
              <div class="group61">
                <b class="unite20">UNITE</b>
              </div>
              <div class="group62">
                <b class="together20">TOGETHER</b>
              </div>
            </div>
          </div>
        </div>
        <nav class="about-events-projects-containe">
          <nav class="about-us-parent5">
            <div class="about-us21">About us</div>
            <div class="events29">Events</div>
            <div class="projects21">Projects</div>
          </nav>
        </nav>
        <div class="language-container">
          <div class="flags-parent">
            <div class="flags">
              <div class="languages10">
                <div class="u-a-flag2">
                  <div class="flag-ua10">
                    <div class="u-a-flag-colors"></div>
                    <div class="u-a-flag-colors1"></div>
                  </div>
                </div>
                <div class="language-ua10">UA</div>
                <div class="arrow-wrapper6">
                  <img
                    class="arrow-icon10"
                    loading="lazy"
                    alt=""
                    src="./public/arrow.svg"
                  />
                </div>
              </div>
            </div>
            <div class="dividing-line-wrapper6">
              <img
                class="dividing-line-icon10"
                loading="lazy"
                alt=""
                src="./public/dividingline1.svg"
              />
            </div>
            <div class="nav-buttons1">
              <div class="nav-buttons-child">
                <div class="input-base-group">
                  <div class="input-base9">
                    <div class="input10">
                      <div class="input-prefix5">
                        <div class="icon-wrapper42">
                          <div class="width-change-size-here24">
                            <div class="ignore118"></div>
                            <div class="ignore119"></div>
                          </div>
                          <div class="icon-wrapper-h24">
                            <div class="height-change-size-here24">
                              <div class="ignore120"></div>
                              <div class="ignore121"></div>
                            </div>
                            <img
                              class="icon-wrapper43"
                              alt=""
                              src="./public/iconwrapper@2x.png"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="input11">Search</div>
                    </div>
                    <div class="spacer9">
                      <div class="ignore122"></div>
                      <div class="ignore123"></div>
                    </div>
                    <div class="input-suffix9">
                      <div class="icon-wrapper44">
                        <div class="width-change-size-here25">
                          <div class="ignore124"></div>
                          <div class="ignore125"></div>
                        </div>
                        <div class="icon-wrapper-h25">
                          <div class="height-change-size-here25">
                            <div class="ignore126"></div>
                            <div class="ignore127"></div>
                          </div>
                          <img
                            class="icon-wrapper45"
                            alt=""
                            src="./public/iconwrapper-12@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <img class="search-icon1" alt="" src="./public/search.svg" />
                </div>
              </div>
              <div class="avatar-container1">
                <div class="avatar3">
                  <div class="wrapper7">
                    <div class="icon-wrapper46">
                      <div class="width-change-size-here26">
                        <div class="ignore128"></div>
                        <div class="ignore129"></div>
                      </div>
                      <div class="icon-wrapper-h26">
                        <div class="height-change-size-here26">
                          <div class="ignore130"></div>
                          <div class="ignore131"></div>
                        </div>
                        <img
                          class="icon-wrapper47"
                          alt=""
                          src="./public/iconwrapper-22@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="avatar4">
                  <div class="wrapper8">
                    <div class="icon-wrapper48">
                      <div class="width-change-size-here27">
                        <div class="ignore132"></div>
                        <div class="ignore133"></div>
                      </div>
                      <div class="icon-wrapper-h27">
                        <div class="height-change-size-here27">
                          <div class="ignore134"></div>
                          <div class="ignore135"></div>
                        </div>
                        <img
                          class="icon-wrapper49"
                          alt=""
                          src="./public/iconwrapper-31@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="badge-anchor1">
                    <div class="badge2">
                      <div class="badge3">
                        <b class="text42">12</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="avatar5">
                  <img
                    class="avatar-placeholder-change-i1"
                    alt=""
                    src="./public/avatarplaceholder--change-image-here@2x.png"
                  />

                  <img
                    class="aspect-ratio-keeper-addition1"
                    loading="lazy"
                    alt=""
                    src="./public/aspect-ratio-keeper--additionally-45-rotated-auto-layout@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="secondary-accounts-container">
        <section class="sec-accounts">
          <div class="bg-personal-account1"></div>
          <div class="aside-box9">
            <div class="rectangle-bg9"></div>
            <div class="accounts-events">
              <div class="item-active9">
                <div class="item-active-child4"></div>
                <div class="accounts1">Accounts</div>
              </div>
              <div class="events-container1">
                <div class="events30">Events</div>
              </div>
            </div>
            <div class="settings-container">
              <div class="settings1">Settings</div>
            </div>
          </div>
          <div class="bg-container">
            <div class="bg7"></div>
            <div class="add-account">
              <div class="upload-account">
                <button class="upload1">
                  <div class="plus-container">
                    <img class="plus-icon" alt="" src="./public/plus.svg" />
                  </div>
                  <div class="add-account1">Add Account</div>
                </button>
                <div class="profile-family-container">
                  <div class="profile-family">
                    <div class="my-profile">My Profile</div>
                    <div class="family">Family</div>
                  </div>
                </div>
              </div>
              <div class="line-parent">
                <div class="line-div"></div>
                <div class="frame-child22"></div>
              </div>
            </div>
            <div class="frame-wrapper11">
              <div class="rectangle-group">
                <div class="frame-child23"></div>
                <div class="account-verification">Account Verification</div>
                <div class="verification-progress">
                  <div class="verification-elements">
                    <img
                      class="verification-elements-child"
                      loading="lazy"
                      alt=""
                      src="./public/group-1000001825.svg"
                    />

                    <div class="line-group">
                      <div class="frame-child24"></div>
                      <img
                        class="frame-child25"
                        loading="lazy"
                        alt=""
                        src="./public/group-1000001824.svg"
                      />
                    </div>
                    <div class="line-container">
                      <div class="frame-child26"></div>
                      <div class="wrapper-group-1000001823">
                        <img
                          class="wrapper-group-1000001823-child"
                          loading="lazy"
                          alt=""
                          src="./public/group-1000001823.svg"
                        />
                      </div>
                    </div>
                    <div class="verification-elements-item"></div>
                    <div class="verification-elements-inner"></div>
                  </div>
                  <div class="verification-details">
                    <div class="personal-data">Personal data</div>
                    <div class="details6">
                      <div class="address10">Address</div>
                    </div>
                    <div class="details7">
                      <div class="address11">Address</div>
                    </div>
                    <div class="details8">
                      <div class="address12">Address</div>
                    </div>
                    <div class="verified">Verified</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fill-details-message-container">
              <div class="please-fill-in">
                Please fill in all details to register for the event!
              </div>
            </div>
            <div class="rectangle-container">
              <div class="frame-child27"></div>
              <div class="personal-information">
                <div class="info-header">
                  <div class="personal-information1">Personal Information</div>
                  <div class="name-fields-parent">
                    <div class="name-fields">
                      <div class="name-parent">
                        <div class="name">Name</div>
                        <div class="tomiwa-oyeledu-dolapo">Olga</div>
                      </div>
                      <div class="name-group">
                        <div class="name1">Surname</div>
                        <div class="tomiwa-oyeledu-dolapo1">Popova</div>
                      </div>
                    </div>
                    <div class="name-fields1">
                      <div class="name-container">
                        <div class="name2">Gender</div>
                        <div class="tomiwa-oyeledu-dolapo2">Female</div>
                      </div>
                      <div class="name-parent1">
                        <div class="name3">Date of Birth</div>
                        <div class="tomiwa-oyeledu-dolapo3">12.02.1998</div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="edit-full-name">
                  <div class="edit-name">
                    <img
                      class="edit-icon"
                      alt=""
                      src="./public/edit-icon.svg"
                    />
                  </div>
                  <div class="edit">Edit</div>
                </button>
              </div>
              <div class="info-divider"></div>
              <div class="first-name-fields-parent">
                <div class="first-name-fields">
                  <div class="name-parent2">
                    <div class="name4">Citizenship</div>
                    <div class="tomiwa-oyeledu-dolapo4">Ukrainian</div>
                  </div>
                  <div class="first-name-group">
                    <div class="first-name1">Type of document</div>
                    <div class="olga">International Passport</div>
                  </div>
                </div>
                <div class="first-name-fields1">
                  <div class="name-parent3">
                    <div class="name5">Date of arrival</div>
                    <div class="tomiwa-oyeledu-dolapo5">12.02.2024</div>
                  </div>
                  <div class="first-name-container">
                    <div class="first-name2">Document number</div>
                    <div class="olga1">FA803309</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent1">
              <div class="frame-child28"></div>
              <div class="address-parent">
                <div class="address13">Address</div>
                <div class="country-input-parent">
                  <div class="country-input">
                    <div class="name-parent4">
                      <div class="name6">Country</div>
                      <div class="country">Georgia</div>
                    </div>
                    <div class="name-parent5">
                      <div class="name7">City</div>
                      <div class="tomiwa-oyeledu-dolapo6">Batumi</div>
                    </div>
                  </div>
                  <div class="country-input1">
                    <div class="name-parent6">
                      <div class="name8">Region</div>
                      <div class="tomiwa-oyeledu-dolapo7">Ajaria</div>
                    </div>
                    <div class="name-parent7">
                      <div class="name9">Address Line</div>
                      <div class="tomiwa-oyeledu-dolapo8">35 Crescent Road</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="address-edit-button">
                <div class="edit-address-button">
                  <img
                    class="edit-address-icon"
                    alt=""
                    src="./public/edit-icon.svg"
                  />
                </div>
                <div class="edit1">Edit</div>
              </button>
            </div>
            <div class="rectangle-parent2">
              <div class="frame-child29"></div>
              <div class="contact-details-wrapper">
                <div class="contact-details1">Contact Details</div>
                <button class="contact-details-editor">
                  <div class="edit-contact-details-button">
                    <img
                      class="edit-contact-details-icon"
                      alt=""
                      src="./public/edit-icon.svg"
                    />
                  </div>
                  <div class="edit2">Edit</div>
                </button>
              </div>
              <div class="instance-parent">
                <div class="name-parent8">
                  <div class="name10">Email</div>
                  <div class="tomiwa-oyeledu-dolapo9">
                    olga.popova@gmail.com
                  </div>
                </div>
                <div class="name-parent9">
                  <div class="name11">Georgian Phone Number</div>
                  <div class="tomiwa-oyeledu-dolapo10">+995 595 720 458</div>
                </div>
                <div class="name-parent10">
                  <div class="name12">Ukrainian Phone Number</div>
                  <div class="tomiwa-oyeledu-dolapo11">+380 96 00 91 791</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer11">
          <div class="description8">
            <div class="logo-ut-footer10">
              <img
                class="logo-flag-ut-icon21"
                alt=""
                src="./public/logoflagut-11.svg"
              />

              <div class="logo-text-ut21">
                <div class="group63">
                  <div class="group64">
                    <b class="unite21">UNITE</b>
                  </div>
                  <div class="group65">
                    <b class="together21">TOGETHER</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="title21">
              <b class="briefly-about-us10">briefly about us</b>
              <div class="our-organization-unite12">
                Our organization "Unite Together" is aimed at creating and
                implementing projects aimed at supporting and developing
                Ukrainians affected by the war.
              </div>
            </div>
          </div>
          <div class="item-menu8">
            <div class="item-19">
              <b class="menu10">MENU</b>
              <div class="line-decoration20"></div>
            </div>
            <div class="menu-links">
              <div class="about-us22">About us</div>
              <div class="events31">Events</div>
              <div class="projects22">Projects</div>
            </div>
          </div>
          <div class="item-contact8">
            <div class="item-29">
              <b class="contact10">CONTACT</b>
              <div class="line-decoration21"></div>
            </div>
            <div class="contact-details2">
              <div class="phone10">
                <img
                  class="icon-phone11"
                  loading="lazy"
                  alt=""
                  src="./public/iconphone.svg"
                />

                <div class="phone-number1">+995 595 720 449</div>
              </div>
              <div class="e-mail11">
                <div class="email-icon-wrapper">
                  <img
                    class="icon-email11"
                    loading="lazy"
                    alt=""
                    src="./public/iconemail1.svg"
                  />
                </div>
                <div class="uniteforukraingmailcom9">
                  uniteforukrain@gmail.com
                </div>
              </div>
              <div class="address14">
                <img
                  class="icon-geo11"
                  loading="lazy"
                  alt=""
                  src="./public/icongeo.svg"
                />

                <div class="address-wrapper">
                  <div class="tbilisi-2123-tsotne11">
                    Tbilisi, 21/23 Tsotne Dadiani St., office 8
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-socmedia8">
            <div class="item-39">
              <b class="we-are-on10">we are on social media</b>
              <div class="decoration24"></div>
            </div>
            <div class="subscribe-to-us10">
              Subscribe to us on social media so you don't miss the release of
              new incredible projects.
            </div>
            <div class="soc-icons-footer10">
              <img
                class="icon-insta11"
                loading="lazy"
                alt=""
                src="./public/iconinsta.svg"
              />

              <img
                class="icon-fb11"
                loading="lazy"
                alt=""
                src="./public/iconfb.svg"
              />

              <img
                class="icon-tg11"
                loading="lazy"
                alt=""
                src="./public/icontg.svg"
              />
            </div>
          </div>
          <div class="divider12"></div>
          <div class="row14">
            <div class="unite-together-all10">
              © 2023 Unite Together. All rights reserved.
            </div>
            <div class="privacy-policy10">Privacy Policy</div>
            <div class="terms-of-service10">Terms and Conditions</div>
            <div class="cookies-settings10">Cookie Policy</div>
          </div>
        </footer>
      </main>
    </div>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
