{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="personal-account-settings" data-animate-on-scroll>
      <section class="aside">
        <div class="bg-personal-account"></div>
        {% include 'includes/dashboard_sidebar.html' %}
        <div class="bg-group">
          <div class="bg6"></div>
          <div class="profile-info">
            <h2 class="edit-profile">Edit password</h2>
          </div>
          <div class="input-fields">
            <div class="password-email">


              <div class="password-email-labels1">
                <div class="current-password">Current Password</div>
                <div class="enter-your-current">
                  Enter your current password here
                </div>
              </div>
              <div class="password-email-labels2">
                <div class="new-password">New Password</div>
                <div class="enter-your-new1">Enter your new password here</div>
              </div>
              <div class="password-email-labels2">
                <div class="new-password">Confirm Password</div>
                <div class="enter-your-new1">Enter your new password here</div>
              </div>


            </div>
            <form class="inputs-container" method="POST">
                {% csrf_token %}
              <div class="inputs">
                <div class="input-items1">
                  <div class="input8">
                      <div class="placeholder8">
                        <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                      </div>
                  </div>
                  <img class="black-icon7" alt="" src="./public/black-1.svg" />
                </div>
                <div class="input-items2">
                  <div class="input9">
                      <div class="placeholder10">
                        <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                      </div>
                  </div>
                  <img class="black-icon8" alt="" src="./public/black-2.svg" />
                </div>
                <div class="input-items2">
                  <div class="input9">
                      <div class="placeholder10">
                        <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                      </div>
                  </div>
                  <img class="black-icon8" alt="" src="./public/black-2.svg" />
                </div>
              </div>
              <div class="update-button-container">
                <input type="submit" value="Submit" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </section>

    </div>


{% endblock %}