{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <meta charset="utf-8" />#}
{#    <meta name="viewport" content="initial-scale=1, width=device-width" />#}
{##}
{#    <link rel="stylesheet" href="./global.css" />#}
{#    <link rel="stylesheet" href="./personal-account-accounts-my-profile.css" />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500&display=swap"#}
{#    />#}
{#  </head>#}
{#  <body>#}
{#    <div class="personal-account-accounts-my-" data-animate-on-scroll>#}
{#      <header class="navbaraccount2">#}
{#        <div class="logo-ut12">#}
{#          <img#}
{#            class="logo-flag-ut-icon24"#}
{#            alt=""#}
{#            src="./public/logoflagut3.svg"#}
{#          />#}
{##}
{#          <div class="logo-text-ut24">#}
{#            <div class="group72">#}
{#              <div class="group73">#}
{#                <b class="unite24">UNITE</b>#}
{#              </div>#}
{#              <div class="group74">#}
{#                <b class="together24">TOGETHER</b>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="navbaraccount-inner1">#}
{#          <div class="about-us-parent7">#}
{#            <div class="about-us25">About us</div>#}
{#            <div class="events34">Events</div>#}
{#            <div class="projects25">Projects</div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="navbaraccount-inner2">#}
{#          <div class="language-picker-parent">#}
{#            <div class="language-picker">#}
{#              <div class="languages12">#}
{#                <div class="u-a-language">#}
{#                  <div class="flag-ua12">#}
{#                    <div class="u-a-flag-colors"></div>#}
{#                    <div class="u-a-flag-colors1"></div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="language-ua12">UA</div>#}
{#                <div class="arrow-wrapper8">#}
{#                  <img class="arrow-icon12" alt="" src="./public/arrow.svg" />#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="language-divider">#}
{#              <img#}
{#                class="dividing-line-icon12"#}
{#                alt=""#}
{#                src="./public/dividingline1.svg"#}
{#              />#}
{#            </div>#}
{#            <div class="frame-parent65">#}
{#              <img#}
{#                class="frame-child29"#}
{#                alt=""#}
{#                src="./public/group-1000001845.svg"#}
{#              />#}
{##}
{#              <div class="ellipse-parent2">#}
{#                <div class="frame-child30"></div>#}
{#                <div class="icon-wrapper50">#}
{#                  <div class="width-change-size-here28">#}
{#                    <div class="ignore136"></div>#}
{#                    <div class="ignore137"></div>#}
{#                  </div>#}
{#                  <div class="icon-wrapper-h28">#}
{#                    <div class="height-change-size-here28">#}
{#                      <div class="ignore138"></div>#}
{#                      <div class="ignore139"></div>#}
{#                    </div>#}
{#                    <img#}
{#                      class="icon-wrapper51"#}
{#                      alt=""#}
{#                      src="./public/iconwrapper@2x.png"#}
{#                    />#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="avatar6">#}
{#                <img#}
{#                  class="avatar-placeholder-change-i2"#}
{#                  alt=""#}
{#                  src="./public/avatarplaceholder--change-image-here@2x.png"#}
{#                />#}
{##}
{#                <img#}
{#                  class="aspect-ratio-keeper-addition2"#}
{#                  alt=""#}
{#                  src="./public/aspect-ratio-keeper--additionally-45-rotated-auto-layout@2x.png"#}
{#                />#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </header>#}
{#      <main class="sec-accounts-parent">#}
{#        <main class="sec-accounts1">#}
{#          <div class="bg-personal-account2"></div>#}
{#          <div class="aside-box-wrapper1">#}
{#            <div class="aside-box11">#}
{#              <div class="rectangle-bg11"></div>#}
{#              <div class="menu-options">#}
{#                <div class="account-events">#}
{#                  <div class="item-active10">#}
{#                    <div class="item-active-child5"></div>#}
{#                    <div class="accounts2">Accounts</div>#}
{#                  </div>#}
{#                  <div class="events-item1">#}
{#                    <div class="events35">Events</div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="settings-item1">#}
{#                  <div class="settings2">Settings</div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="logout-wrapper">#}
{#                <div class="logout-button-wrapper">#}
{#                  <div class="logout-content">#}
{#                    <img#}
{#                      class="clip-path-group"#}
{#                      alt=""#}
{#                      src="./public/clip-path-group.svg"#}
{#                    />#}
{#                  </div>#}
{#                  <div class="logout">Logout</div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="bg-parent2">#}
{#            <div class="bg10"></div>#}
{#            <div class="add-account-parent">#}
{#              <div class="add-account1">#}
{#                <button class="upload3">#}
{#                  <div class="plus-icon-wrapper">#}
{#                    <img class="plus-icon2" alt="" src="./public/plus.svg" />#}
{#                  </div>#}
{#                  <div class="add-account2">Add Account</div>#}
{#                </button>#}
{#                <div class="profile-family-wrapper">#}
{#                  <div class="profile-family">#}
{#                    <div class="my-profile1">My Profile</div>#}
{#                    <div class="family1">Family</div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="line-group">#}
{#                <div class="frame-child31"></div>#}
{#                <div class="frame-child32"></div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="frame-wrapper13">#}
{#              <div class="rectangle-parent3">#}
{#                <div class="frame-child33"></div>#}
{#                <div class="account-verification1">Account Verification</div>#}
{#                <div class="verification-status1">#}
{#                  <div class="verification-icons">#}
{#                    <img#}
{#                      class="verification-icons-child"#}
{#                      loading="lazy"#}
{#                      alt=""#}
{#                      src="./public/group-1000001825.svg"#}
{#                    />#}
{##}
{#                    <div class="line-container">#}
{#                      <div class="frame-child34"></div>#}
{#                      <img#}
{#                        class="frame-child35"#}
{#                        loading="lazy"#}
{#                        alt=""#}
{#                        src="./public/group-1000001824.svg"#}
{#                      />#}
{#                    </div>#}
{#                    <div class="line-parent1">#}
{#                      <div class="frame-child36"></div>#}
{#                      <div class="wrapper-group-10000018231">#}
{#                        <img#}
{#                          class="wrapper-group-1000001823-item"#}
{#                          loading="lazy"#}
{#                          alt=""#}
{#                          src="./public/group-1000001823.svg"#}
{#                        />#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="verification-icons-item"></div>#}
{#                    <div class="verification-icons-inner"></div>#}
{#                  </div>#}
{#                  <div class="personal-data1">#}
{#                    <div class="personal-data2">Personal data</div>#}
{#                    <div class="data-verification">#}
{#                      <div class="address16">Address</div>#}
{#                    </div>#}
{#                    <div class="data-verification1">#}
{#                      <div class="address17">Address</div>#}
{#                    </div>#}
{#                    <div class="data-verification2">#}
{#                      <div class="address18">Address</div>#}
{#                    </div>#}
{#                    <div class="verified1">Verified</div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="registration-info">#}
{#              <div class="please-fill-in1">#}
{#                Please fill in all details to register for the event!#}
{#              </div>#}
{#            </div>#}
{#            <div class="rectangle-parent4">#}
{#              <div class="frame-child37"></div>#}
{#              <div class="personal-info-wrapper">#}
{#                <div class="personal-info">#}
{#                  <div class="personal-information1">Personal Information</div>#}
{#                  <div class="frame-parent66">#}
{#                    <div class="instance-parent3">#}
{#                      <div class="name-parent11">#}
{#                        <div class="name13">Name</div>#}
{#                        <div class="tomiwa-oyeledu-dolapo12">Olga</div>#}
{#                      </div>#}
{#                      <div class="name-parent12">#}
{#                        <div class="name14">Surname</div>#}
{#                        <div class="tomiwa-oyeledu-dolapo13">Popova</div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="instance-parent4">#}
{#                      <div class="name-parent13">#}
{#                        <div class="name15">Gender</div>#}
{#                        <div class="tomiwa-oyeledu-dolapo14">Female</div>#}
{#                      </div>#}
{#                      <div class="name-parent14">#}
{#                        <div class="name16">Date of Birth</div>#}
{#                        <div class="tomiwa-oyeledu-dolapo15">12.02.1998</div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <button class="edit-full-name">#}
{#                  <div class="edit-name-icon">#}
{#                    <img#}
{#                      class="edit-icon1"#}
{#                      alt=""#}
{#                      src="./public/edit-icon.svg"#}
{#                    />#}
{#                  </div>#}
{#                  <div class="edit3">Edit</div>#}
{#                </button>#}
{#              </div>#}
{#              <div class="info-divider"></div>#}
{#              <div class="frame-parent67">#}
{#                <div class="instance-parent5">#}
{#                  <div class="name-parent15">#}
{#                    <div class="name17">Citizenship</div>#}
{#                    <div class="tomiwa-oyeledu-dolapo16">Ukrainian</div>#}
{#                  </div>#}
{#                  <div class="first-name-parent1">#}
{#                    <div class="first-name3">Type of document</div>#}
{#                    <div class="olga2">International Passport</div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="instance-parent6">#}
{#                  <div class="name-parent16">#}
{#                    <div class="name18">Date of arrival</div>#}
{#                    <div class="tomiwa-oyeledu-dolapo17">12.02.2024</div>#}
{#                  </div>#}
{#                  <div class="first-name-parent2">#}
{#                    <div class="first-name4">Document number</div>#}
{#                    <div class="olga3">FA803309</div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="rectangle-parent5">#}
{#              <div class="frame-child38"></div>#}
{#              <div class="address-input">#}
{#                <div class="address19">Address</div>#}
{#                <div class="country-field-parent">#}
{#                  <div class="country-field">#}
{#                    <div class="name-parent17">#}
{#                      <div class="name19">Country</div>#}
{#                      <div class="country1">Georgia</div>#}
{#                    </div>#}
{#                    <div class="name-parent18">#}
{#                      <div class="name20">City</div>#}
{#                      <div class="tomiwa-oyeledu-dolapo18">Batumi</div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="country-field1">#}
{#                    <div class="name-parent19">#}
{#                      <div class="name21">Region</div>#}
{#                      <div class="tomiwa-oyeledu-dolapo19">Ajaria</div>#}
{#                    </div>#}
{#                    <div class="name-parent20">#}
{#                      <div class="name22">Address Line</div>#}
{#                      <div class="tomiwa-oyeledu-dolapo20">#}
{#                        35 Crescent Road#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <button class="address-edit-button1">#}
{#                <div class="edit-address-button">#}
{#                  <img#}
{#                    class="edit-address-icon"#}
{#                    alt=""#}
{#                    src="./public/edit-icon.svg"#}
{#                  />#}
{#                </div>#}
{#                <div class="edit4">Edit</div>#}
{#              </button>#}
{#            </div>#}
{#            <div class="rectangle-parent6">#}
{#              <div class="frame-child39"></div>#}
{#              <div class="contact-details4">#}
{#                <div class="contact-details5">Contact Details</div>#}
{#                <button class="contact-details-editor">#}
{#                  <div class="edit-contact-button">#}
{#                    <img#}
{#                      class="edit-contact-details-icon"#}
{#                      alt=""#}
{#                      src="./public/edit-icon.svg"#}
{#                    />#}
{#                  </div>#}
{#                  <div class="edit5">Edit</div>#}
{#                </button>#}
{#              </div>#}
{#              <div class="instance-parent7">#}
{#                <div class="name-parent21">#}
{#                  <div class="name23">Email</div>#}
{#                  <div class="tomiwa-oyeledu-dolapo21">#}
{#                    olga.popova@gmail.com#}
{#                  </div>#}
{#                </div>#}
{#                <div class="name-parent22">#}
{#                  <div class="name24">Georgian Phone Number</div>#}
{#                  <div class="tomiwa-oyeledu-dolapo22">+995 595 720 458</div>#}
{#                </div>#}
{#                <div class="name-parent23">#}
{#                  <div class="name25">Ukrainian Phone Number</div>#}
{#                  <div class="tomiwa-oyeledu-dolapo23">+380 96 00 91 791</div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </main>#}
{#        <footer class="footer13">#}
{#          <div class="description10">#}
{#            <div class="logo-ut-footer12">#}
{#              <img#}
{#                class="logo-flag-ut-icon25"#}
{#                alt=""#}
{#                src="./public/logoflagut-11.svg"#}
{#              />#}
{##}
{#              <div class="logo-text-ut25">#}
{#                <div class="group75">#}
{#                  <div class="group76">#}
{#                    <b class="unite25">UNITE</b>#}
{#                  </div>#}
{#                  <div class="group77">#}
{#                    <b class="together25">TOGETHER</b>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="title23">#}
{#              <b class="briefly-about-us12">briefly about us</b>#}
{#              <div class="our-organization-unite14">#}
{#                Our organization "Unite Together" is aimed at creating and#}
{#                implementing projects aimed at supporting and developing#}
{#                Ukrainians affected by the war.#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item-menu10">#}
{#            <div class="item-111">#}
{#              <b class="menu12">MENU</b>#}
{#              <div class="line-decoration24"></div>#}
{#            </div>#}
{#            <div class="menu-items1">#}
{#              <div class="about-us26">About us</div>#}
{#              <div class="events36">Events</div>#}
{#              <div class="projects26">Projects</div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item-contact10">#}
{#            <div class="item-211">#}
{#              <b class="contact12">CONTACT</b>#}
{#              <div class="line-decoration25"></div>#}
{#            </div>#}
{#            <div class="contact-details6">#}
{#              <div class="phone12">#}
{#                <img#}
{#                  class="icon-phone13"#}
{#                  loading="lazy"#}
{#                  alt=""#}
{#                  src="./public/iconphone.svg"#}
{#                />#}
{##}
{#                <div class="phone-number1">+995 595 720 449</div>#}
{#              </div>#}
{#              <div class="e-mail13">#}
{#                <div class="email-icon-container2">#}
{#                  <img#}
{#                    class="icon-email13"#}
{#                    loading="lazy"#}
{#                    alt=""#}
{#                    src="./public/iconemail1.svg"#}
{#                  />#}
{#                </div>#}
{#                <div class="uniteforukraingmailcom11">#}
{#                  uniteforukrain@gmail.com#}
{#                </div>#}
{#              </div>#}
{#              <div class="address20">#}
{#                <img#}
{#                  class="icon-geo13"#}
{#                  loading="lazy"#}
{#                  alt=""#}
{#                  src="./public/icongeo.svg"#}
{#                />#}
{##}
{#                <div class="address-container">#}
{#                  <div class="tbilisi-2123-tsotne13">#}
{#                    Tbilisi, 21/23 Tsotne Dadiani St., office 8#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item-socmedia10">#}
{#            <div class="item-311">#}
{#              <b class="we-are-on12">we are on social media</b>#}
{#              <div class="decoration26"></div>#}
{#            </div>#}
{#            <div class="subscribe-to-us12">#}
{#              Subscribe to us on social media so you don't miss the release of#}
{#              new incredible projects.#}
{#            </div>#}
{#            <div class="soc-icons-footer12">#}
{#              <img#}
{#                class="icon-insta13"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/iconinsta.svg"#}
{#              />#}
{##}
{#              <img#}
{#                class="icon-fb13"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/iconfb.svg"#}
{#              />#}
{##}
{#              <img#}
{#                class="icon-tg13"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/icontg.svg"#}
{#              />#}
{#            </div>#}
{#          </div>#}
{#          <div class="divider14"></div>#}
{#          <div class="row16">#}
{#            <div class="unite-together-all12">#}
{#              © 2023 Unite Together. All rights reserved.#}
{#            </div>#}
{#            <div class="privacy-policy12">Privacy Policy</div>#}
{#            <div class="terms-of-service12">Terms and Conditions</div>#}
{#            <div class="cookies-settings12">Cookie Policy</div>#}
{#          </div>#}
{#        </footer>#}
{#      </main>#}
{#    </div>#}
{##}
{#    <script>#}
{#      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");#}
{#      var observer = new IntersectionObserver(#}
{#        (entries) => {#}
{#          for (const entry of entries) {#}
{#            if (entry.isIntersecting || entry.intersectionRatio > 0) {#}
{#              const targetElement = entry.target;#}
{#              targetElement.classList.add("animate");#}
{#              observer.unobserve(targetElement);#}
{#            }#}
{#          }#}
{#        },#}
{#        {#}
{#          threshold: 0.15,#}
{#        }#}
{#      );#}
{#      #}
{#      for (let i = 0; i < scrollAnimElements.length; i++) {#}
{#        observer.observe(scrollAnimElements[i]);#}
{#      }#}
{#      </script>#}
{#  </body>#}
{#</html>#}
