{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="personal-account-events" data-animate-on-scroll>

      <main class="bg-personal-account-parent">

        <section class="frame-section">
        {% include "includes/dashboard_sidebar.html" %}
        <section class="group-section">


{#              <div class="frame-parent65">#}
{##}
{##}
{#              </div>#}
{#                <div class="bg-container">#}

                    <div class="frame-parent68" style="margin-left: 0px">

                        {% for participant in participants %}
                            <div class="frame-parent69">
                                <div class="frame-parent70">
                                    <div class="placeholder-image-wrapper">
                                        <img
                                                class="placeholder-image-icon11"
                                                loading="lazy"
                                                alt=""
                                                src="{{ participant.registered_on.image.url }}"
                                        />
                                    </div>
                                    <div class="vector-wrapper26">
                                        <img
                                                class="frame-child26"
                                                loading="lazy"
                                                alt=""
                                                src="./public/vector-351.svg"
                                        />
                                    </div>
                                    <div class="decoration24"></div>
                                    <div class="frame-wrapper13">
                                        <div class="frame-parent71">
                                            <div class="heading-parent7">
                                                <b class="heading25">{{ participant.registered_on.name }}</b>
                                                <div class="text-parent2">
                                                    <div class="event-registered-on-text">
                                                        {{ participant.registered_on.text }}
                                                    </div>
                                                    <div class="tag6">
                                                        <b class="tag-one12">{{ participant.registered_on.group.name }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vector-wrapper27">
                                                <img
                                                        class="frame-child27"
                                                        loading="lazy"
                                                        alt=""
                                                        src="./public/vector-36.svg"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrapper14">
                                    <div class="frame-parent72">
                                        <div class="tag-one-wrapper2">
                                            <b class="tag-one13">{{ participant.first_name }} {{ participant.last_name }} {{ participant.status }}</b>

                                        </div>
                                        <img
                                                class="frame-child28"
                                                loading="lazy"
                                                alt=""
                                                src="./public/vector-36.svg"
                                        />
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
{#                </div>#}

            </section>
        </section>
        <div class="frame-wrapper19">
          <div class="frame-parent80">
            <div class="frame-wrapper20">
              <div class="frame-parent81">
                <div class="vector-wrapper32">
                  <img
                    class="vector-icon21"
                    loading="lazy"
                    alt=""
                    src="./public/vector-12.svg"
                  />
                </div>
                <div class="back2">Back</div>
              </div>
            </div>
            <div class="active2">
              <div class="active-inner"></div>
              <div class="div13">1</div>
            </div>
            <div class="wrapper5">
              <div class="div14">2</div>
            </div>
            <div class="wrapper6">
              <div class="div15">3</div>
            </div>
            <div class="frame-wrapper21">
              <div class="forward-parent">
                <u class="forward2">Forward</u>
                <div class="vector-wrapper33">
                  <img
                    class="vector-icon22"
                    alt=""
                    src="./public/vector-13.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>


{% endblock %}
