{% extends "base.html" %}

{% load static %}

{% block content %}
    <main class="sec-accounts1">
        <div class="bg-personal-account2"></div>
        {% include "includes/dashboard_sidebar.html" %}
        <section class="group-section">
            <h1>Persons List</h1>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                <table>
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Citizenship</th>
                        <th>Type of Document</th>
                        <th>Date of Arrival</th>
                        <th>Document Number</th>
                        <th>Gender</th>
                        <th>Georgian Phone Number</th>
                        <th>Ukrainian Phone Number</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Address Line</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formset %}
                        <tr>
                            <td>{{ form.first_name }}</td>
                            <td>{{ form.last_name }}</td>
                            <td>{{ form.date_of_birth }}</td>
                            <td>{{ form.citizenship }}</td>
                            <td>{{ form.type_of_document }}</td>
                            <td>{{ form.date_of_arrival }}</td>
                            <td>{{ form.document_number }}</td>
                            <td>{{ form.gender }}</td>
                            <td>{{ form.georgian_phone_number }}</td>
                            <td>{{ form.ukrainian_phone_number }}</td>
                            <td>{{ form.country }}</td>
                            <td>{{ form.city }}</td>
                            <td>{{ form.region }}</td>
                            <td>{{ form.address_line }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="button" style="display: inline-block; padding: 10px 20px; color: white">
                    Save
                    Changes
                </button>
                <a href="{% url 'create_person' %}" class="button"
                   style="display: inline-block; padding: 10px 20px; color: white; text-decoration: none;">Create New
                    Person</a>
            </form>
        </section>
    </main>

    {#    <style>#}
    {#        .button {#}
    {#            display: inline-block;#}
    {#            padding: 10px 20px;#}
    {#            font-size: 16px;#}
    {#            cursor: pointer;#}
    {#            text-align: center;#}
    {#            text-decoration: none;#}
    {#            outline: none;#}
    {#            color: #fff;#}
    {#            background-color: #4CAF50;#}
    {#            border: none;#}
    {#            border-radius: 5px;#}
    {#            box-shadow: 0 4px #999;#}
    {#        }#}
    {##}
    {#        .button:hover {#}
    {#            background-color: #3e8e41;#}
    {#        }#}
    {##}
    {#        .button:active {#}
    {#            background-color: #3e8e41;#}
    {#            box-shadow: 0 5px #666;#}
    {#            transform: translateY(4px);#}
    {#        }#}
    {#    </style>#}



{% endblock %}