{% load static %}

<!-- move out styles to css file after final footer optimizations! -->

<style>

    @media (max-width: 1000px) {
        .footer-container {
            grid-template-columns: repeat(2, 1fr);
            display: grid !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .foot-1-about {
            order: 3;
        }

        .foot-2-menu {
            order: 1;
        }

        .foot-3-address {
            order: 4;
        }

        .foot-4-social {
            order: 2;
        }
    }

    @media screen and (max-width: 720px) {
        .footer-container {
            grid-template-columns: 1fr;
            display: grid !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            gap: 10px !important;
        }

        .foot-1-about {
            order: 2;
        }

        .foot-2-menu {
            order: 1;
        }

        .foot-3-address {
            order: 4;
        }

        .foot-4-social {
            order: 3;
        }
    }

    .foot-col {
        flex: 1; /* Make each div flexible and grow equally */
        padding: 1rem; /* Adjust padding as needed */
        gap: var(--gap-xl);
        display: flex;
        flex-direction: column;
    }

    .footer_text {
        align-self: stretch;
        gap: var(--gap-xl);
        flex-shrink: 0;
        font-size: var(--font-size-smi);
        line-height: 170%;
        font-family: var(--font-montserrat);
        color: var(--color-darkslategray-300);
        background-color: white;
    }

    .footer_text b {
        align-self: stretch;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
        font-weight: bolder;
        font-size: var(--font-size-lg);
        color: var(--color-darkslategray-100);
    }

    .footer-menu-links {
        font-weight: 500;
        font-size: var(--font-size-sm);
        line-height: 27px;
        /* list-style: none; */
        padding-left: 0px !important;
        list-style-type: none;
        list-style-position: inside;
    }

    .footer-menu-links__active {
        text-decoration: underline;
        text-decoration: underline solid 1px;
    }

    .footer-menu-links a {
        color: inherit;
        text-decoration: none;
    }

    .footer-menu-address {
        font-weight: 500;
        font-size: var(--font-size-sm);
        line-height: 36px;
        padding-left: 0 !important;
        list-style-type: none;
        list-style-position: inside;
    }

    .footer-menu-address li {
        position: relative;
        padding-left: 25px; /* Adjust padding to accommodate icon size */
    }

    .footer-menu-address li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
    }

    .footer-menu-address-phone::before {
        background-image: url("{% static 'img/iconphone.svg' %}");
        transform: translateY(60%);
        width: 15.6px;
        height: 15px;
    }

    .footer-menu-address-email::before {
        background-image: url("{% static 'img/iconemail.svg' %}");
        transform: translateY(115%);
        width: 15px;
        height: 11px;
    }

    .footer-menu-address-location::before {
        background-image: url("{% static 'img/icongeo.svg' %}");
        transform: translateY(10%);
        width: 15.6px;
        height: 21.2px;
    }

    .footer-menu-address-location {
        line-height: 26px;
        margin-top: 10px;
    }

    /*LOGO part*/
    .logo-container {
        display: flex;
        align-items: center;
    }

    .main-logo {
        height: 50px; /* Adjust the height as needed */
        margin-right: 10px; /* Space between the image and the text */
    }

    .logo-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-title {
        font-size: 24px; /* Larger size for "UNITE" */
        margin: 0;
    }

    .logo-subtitle {
        font-size: 14px; /* Smaller size for "TOGETHER" */
        margin: 0;
        line-height: 1; /* Adjust for better alignment */
    }

    /* Optional: Ensuring the text occupies the same width */
    .logo-title,
    .logo-subtitle {
        display: inline-block;
        width: 100%;
        text-align: left;
    }

</style>

<footer class="footer_text" style="flex: initial">

    <div>
        <div class='footer-container' style="padding-top: 50px; max-width: 1300px; margin:auto; gap: 25px; display: flex; padding-left: 50px; padding-right: 50px;">
            <div class="foot-col foot-1-about" style="min-width: 250px;">
                <div class="logo-ut-footer1" style="gap: var(--gap-7xl-6); margin-bottom: 6px;">
                    <a class="logo-ut2" href="{% url 'home' %}">
                        <div class="logo-container">
                            <img class="main-logo" loading="lazy" alt="Логотип"
                                 src="{% static 'img/new-unite-together.jpg' %}"/>
                            <div class="logo-text">
                                <h4 class="logo-title">UNITE</h4>
                                <h6 class="logo-subtitle">TOGETHER</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <b>Стисло про нас</b>
                <p>Наша організація "Unite Together" спрямована на створення та реалізацію проектів, які підтримують і розвивають українців, постраждалих від війни. Наша головна мета — досягти стійких системних змін у їхньому житті та суспільстві.</p>
            </div>

            <div class="foot-col foot-2-menu" style="max-width: 130px; min-width: 100px; "><b>Меню</b>
                <div class="line-decoration2"></div>
                <ul class="footer-menu-links">
                    <li class="footer-menu-links"><a href="{% url 'who_we_are' %}"
                                                     {% if '/about-us/' in request.path %}style="text-decoration: underline"{% endif %}>Про нас</a></li>
                    <li class="footer-menu-links"><a href="{% url 'events' %}"
                                                     {% if '/events/' in request.path %}style="text-decoration: underline"{% endif %}>Події</a></li>
                    <li class="footer-menu-links"><a href="{% url 'projects' %}"
                                                     {% if '/projects/' in request.path %}style="text-decoration: underline"{% endif %}>Проєкти</a></li>
                </ul>
            </div>

            <!-- CONTACT -->
            <div class="foot-col foot-3-address" style="min-width: 330px;">
                <b>Контакти</b>
                <div class="line-decoration2"></div>
                <ul class="footer-menu-address">
                    <li class="footer-menu-address-phone">
                        <a href="tel:+995551146364">+995 551 146 364</a>
                    </li>
                    <li class="footer-menu-address-email">
                        <a href="mailto:uniteforukraine@gmail.com">uniteforukrain@gmail.com</a>
                    </li>

                    <li class="footer-menu-address-location">
                        <a style="white-space: nowrap;" href="https://maps.app.goo.gl/i6k1MGycMqWZ94ge8"
                                          aria-pressed="true">Тбілісі, вул. Цотне Дадіані, 21/23, офіс 8</a>
                    </li>
                        <br>

                </ul>
            </div>

            <!-- WE'RE SOCIAL -->
            <div class="foot-col foot-4-social">
                <b>Ми в соціальних мережах</b>
                <div class="decoration7"></div>
                <div>
                    Підписуйтесь на нас у соціальних мережах, щоб не пропустити вихід нових видатних подій.
                </div>

                <div class="soc-icons-footer1">

{#                    <a href="https://www.instagram.com/unitetogetherforukraine?igsh=emd5```html#}
                    <a href="https://www.instagram.com/unitetogetherforukraine?igsh=emd5cmlibXVydGRz"><img
                            class="icon-insta1"
                            loading="lazy"
                            alt="Instagram"
                            src="{% static 'img/iconinsta.svg' %}"
                    /></a>

                    <a href="https://www.facebook.com/UniteTogetherForUkraine?mibextid=LQQJ4d"><img
                            class="icon-fb2"
                            loading="lazy"
                            alt="Facebook"
                            src="{% static 'img/iconfb.svg' %}"
                    /></a>

                    <a href="https://t.me/Unite_T"><img
                            class="icon-tg2"
                            loading="lazy"
                            alt="Telegram"
                            src="{% static 'img/icontg.svg' %}"
                    /></a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer2" style="padding-top: 0;">

        <div class="not-equal-comparison">
            <div class="divider2"></div>
            <div class="or-comparison">
                <div class="row2">
                    <div>
                        © 2024 Unite Together. Всі права захищені.
                    </div>
                    <div><a href="">Політика конфіденційності</a></div>
                    <div><a href="">Умови та положення</a></div>
                    <div><a href="">Політика щодо cookies</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>

{#    </div>#}

<script>
    var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
    var observer = new IntersectionObserver(
        (entries) => {
            for (const entry of entries) {
                if (entry.isIntersecting || entry.intersectionRatio > 0) {
                    const targetElement = entry.target;
                    targetElement.classList.add("animate");
                    observer.unobserve(targetElement);
                }
            }
        },
        {
            threshold: 0.15,
        }
    );

    for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
    }
</script>

<script>
    // Make navbar sticky
    window.addEventListener('scroll', function () {
        const navbar = document.querySelector('nav');
        const sticky = navbar.offsetTop;

        if (window.pageYOffset > sticky) {
            navbar.classList.add('sticky');
        } else {
            navbar.classList.remove('sticky');
        }
    });
</script>

<script>
    $(document).ready(function (){
        $('.thumb a').click(function (e){
            e.preventDefault();
            $('.mainImage img').attr('src', $(this).attr("href"));
        });
    });
</script>
