{% load static %}

      <footer class="footer2">
        <div class="bg-footer1"></div>
        <div class="footer-inner">
          <div class="frame-parent10">
            <div class="frame-parent11">
              <div class="logo-ut-footer-group">
                <div class="logo-ut-footer1">
                  <img
                    class="main-logo-footer"
                    alt=""
                    src="{% static 'img_f/unite-together.svg' %}"
                  />
                    
                </div>
                <div class="briefly-about-us-group">
                  <b class="briefly-about-us1">briefly about us</b>
                  <div class="our-organization-unite1">
                    Our organization "Unite Together" is aimed at creating and
                    implementing projects aimed at supporting and developing
                    Ukrainians affected by the war. Our main goal is to achieve
                    sustainable systemic change in their lives and society.
                  </div>
                </div>
              </div>
              <div class="footer-heading-container">
                <div class="footer-heading3">
                  <b class="menu2">MENU</b>
                  <div class="line-decoration2"></div>
                </div>
                <div class="data-aggregator">
                  <div class="about-us4">About us</div>
                  <div class="events7">Events</div>
                  <div class="projects4">Projects</div>
                </div>
              </div>
            </div>
            <div class="input-filter">
              <div class="output-combiner">
                <div class="footer-heading4">
                  <b class="contact1">CONTACT</b>
                  <div class="line-decoration3"></div>
                </div>
                <div class="variable-holder1">
                  <div class="phone1">
                    <img
                      class="icon-phone1"
                      loading="lazy"
                      alt=""
                      src="{% static 'img/iconphone.svg' %}"
                    />

                    <div class="decision-maker">+995 595 720 449</div>
                  </div>
                  <div class="e-mail1">
                    <div class="else-branch">
                      <img
                        class="icon-email1"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/iconemail.svg' %}"
                      />
                    </div>
                    <div class="uniteforukrainegmailcom1">
                      uniteforukraine@gmail.com
                    </div>
                  </div>
                  <div class="geolocation1">
                    <img
                      class="icon-geo1"
                      loading="lazy"
                      alt=""
                      src="{% static 'img/icongeo.svg' %}"
                    />

                    <div class="address1">
                      <div class="tbilisi-2123-tsotne1">
                        Tbilisi, 21/23 Tsotne Dadiani St., office 8
                      </div>
                      <div class="decrement-value">
                        <div class="batumi-127-luka1">
                          Batumi, 127 Luka Asatiani St.
                        </div>
                        <div class="kutaisi-62-agmashenebeli1">
                          Kutaisi, 62 Agmashenebeli St.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subtract-operation">
                <div class="footer-heading5">
                  <b class="we-are-on1">we are on social media</b>
                  <div class="decoration7"></div>
                </div>
                <div class="subscribe-to-us1">
                  Subscribe to us on social media so you don't miss the release
                  of new outstanding events.
                </div>
                <div class="soc-icons-footer1">
                  <img
                    class="icon-insta1"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/iconinsta.svg' %}"
                  />

                  <img
                    class="icon-fb2"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/iconfb.svg' %}"
                  />

                  <img
                    class="icon-tg2"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/icontg.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="not-equal-comparison">
          <div class="divider2"></div>
          <div class="or-comparison">
            <div class="row2">
              <div>
                © 2024 Unite Together. All rights reserved.
              </div>
              <div><a href="">Privacy Policy</a></div>
              <div><a href="">Terms and Conditions</a></div>
              <div><a href="">Cookie Policy</a></div>
            </div>
          </div>
        </div>
      </footer>
{#    </div>#}

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );

      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>


    <script>
      // Make navbar sticky
      window.addEventListener('scroll', function() {
        const navbar = document.querySelector('nav');
        const sticky = navbar.offsetTop;

        if (window.pageYOffset > sticky) {
            navbar.classList.add('sticky');
        } else {
            navbar.classList.remove('sticky');
        }
    });
    </script>

    <script>
        $(document).ready(function (){
            $('.thumb a').click(function (e){
                e.preventDefault();
                $('.mainImage img').attr('src',$(this).attr("href"))
            })
        })
    </script>



