{% load static %}


  <body>
    <a class="xxl-1400px-container-1320px" data-animate-on-scroll>
      <div class="navbar">
        <div class="logomenu">
          <div class="logo-ut">
            <img
              class="logo-flag-ut-icon"
              alt=""
              src="{% static 'img/events/logoflagut.svg' %}"
            />

            <div class="logo-text-ut">
              <div class="group">
                <div class="group1">
                  <b class="unite">UNITE</b>
                </div>
                <div class="group2">
                  <b class="together">TOGETHER</b>
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="donate">About us</div>
            <div class="active">
              <div class="events2">Events</div>
              <img
                class="line-active-menu-icon"
                alt=""
                src="{% static 'img/events/lineactivemenu.svg' %}"
              />
            </div>
            <div class="donate">Projects</div>
          </div>
        </div>
        <div class="right-part">
          <div class="languages">
            <div class="flag-ua">
              <div class="yellow-rectangle"></div>
              <div class="blue-rectangle"></div>
            </div>
            <div class="about-us">UA</div>
            <img class="arrow-icon3" alt="" src="{% static 'img/events/arrow.svg' %}" />
          </div>
          <img
            class="dividing-line-icon"
            alt=""
            src="{% static 'img/events/dividingline.svg' %}"
          />

          <div class="button-register6">
            <div class="user-icon-parent">
              <img class="user-icon" alt="" src="{% static 'img/events/usericon.svg' %}" />

              <div class="loginsign-up">Login/Sign Up</div>
            </div>
          </div>
          <div class="button-donate">
            <div class="donate">Donate</div>
            <img class="donate-icon" alt="" src="{% static 'img/events/donateicon.svg' %}" />
          </div>
        </div>
      </div>

