{% load static %}
{% if user.id is None %}
{#    USER NOT LOGIN#}
        <nav class="navbar1">
            <div class="bg-menu"></div>
            <div class="connecter">
                <a class="logo-ut2" href="{% url 'home' %}">
                    <img
                            class="main-logo"
                            loading="lazy"
                            alt=""
                            src="{% static 'img_f/unite-together.svg' %}"
                    />
                </a>
            </div>

            <div class="connecter-inner">
                <div class="frame-parent1">
                    <ul class="horizontal-menu">
                        <li class="menu-item">
                            <div class="about-us-wrapper">
                                <a class="about-us3{% if '/about-us/' in request.path %}-active{% endif %}"
                                   href="{% url 'history' %}">About us</a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="projects-wrapper">
                                <a class="about-us3{% if '/events/' in request.path %}-active{% endif %}"
                                   href="{% url 'events' %}">Events</a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="projects-wrapper">
                                <a class="about-us3{% if '/projects/' in request.path %}-active{% endif %}"
                                   href="{% url 'projects' %}">Projects</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-part-wrapper">
                <div class="right-part1">
                    <div class="languages-wrapper">
                        <div class="languages1">
                            <div class="flag-ua-wrapper">
                                <div class="flag-ua1">
                                    <div class="yellow-rectangle1"></div>
                                    <div class="blue-rectangle1"></div>
                                </div>
                            </div>
                            <div class="language-ua1">UA</div>
                            <div class="arrow-wrapper">
                                <img
                                        class="arrow-icon4"
                                        loading="lazy"
                                        alt=""
                                        src="{% static 'img/arrow1.svg' %}"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="dividing-line-wrapper">
                        <img
                                class="dividing-line-icon1"
                                loading="lazy"
                                alt=""
                                src="{% static 'img/dividingline.svg' %}"
                        />
                    </div>
                    <a class="button-register7" href="{% url 'login' %}">
                        <div class="group-div">
                            <div class="user-icon-wrapper">
                                <img class="user-icon1" alt="" src="{% static 'img/usericon.svg' %}"/>
                            </div>
                            <div class="loginsign-up1">Log In / Sing Up</div>
                        </div>
                    </a>
                    <a class="button-donate1" href="{% url 'donate-paypal' %}">
                        <div class="donate-wrapper">
                            <div class="donate1">Donate</div>
                        </div>
                        <img class="donate-icon1" alt="" src="{% static 'img/donateicon.svg' %}"/>
                    </a>
                </div>
            </div>

        </nav>
{% else %}
{#    USER IS LOGGED IN#}
        <nav class="navbar1">
            <div class="bg-menu"></div>
            <div class="connecter">
                <a class="logo-ut2" href="{% url 'home' %}">
                    <img
                            class="main-logo"
                            loading="lazy"
                            alt=""
                            src="{% static 'img_f/unite-together.svg' %}"
                    />
                </a>
            </div>

            <div class="connecter-inner">
                <div class="frame-parent1">
                    <ul class="horizontal-menu">
                        <li class="menu-item">
                            <div class="about-us-wrapper">
                                <a class="about-us3{% if '/about-us/' in request.path %}-active{% endif %}"
                                   href="{% url 'history' %}">About us</a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="projects-wrapper">
                                <a class="about-us3{% if '/events/' in request.path %}-active{% endif %}"
                                   href="{% url 'events' %}">Events</a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="projects-wrapper">
                                <a class="about-us3{% if '/projects/' in request.path %}-active{% endif %}"
                                   href="{% url 'projects' %}">Projects</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="navbaraccount-inner2">
          <div class="language-picker-parent">
            <div class="language-picker">
              <div class="languages12">
                <div class="u-a-language">
                  <div class="flag-ua12">
                    <div class="u-a-flag-colors"></div>
                    <div class="u-a-flag-colors1"></div>
                  </div>
                </div>
                <div class="language-ua12">UA</div>
                <div class="arrow-wrapper8">
                  <img class="arrow-icon12" alt="" src="{% static 'img/arrow.svg' %}" />
                </div>
              </div>
            </div>
            <div class="language-divider">
              <img
                class="dividing-line-icon12"
                alt=""
                src="{% static 'img/dividingline1.svg' %}"
              />
            </div>
            <div class="frame-parent65">
                <a href="{% url 'donate-paypal' %}"><img
                class="frame-child29"
                alt=""
                src="{% static 'img/group-1000001845.svg' %}"
              /></a>

              <div class="ellipse-parent2">
                <div class="frame-child30"></div>
                <div class="icon-wrapper50">
                  <div class="width-change-size-here28">
                    <div class="ignore136"></div>
                    <div class="ignore137"></div>
                  </div>
                  <div class="icon-wrapper-h28">
                    <div class="height-change-size-here28">
                      <div class="ignore138"></div>
                      <div class="ignore139"></div>
                    </div>
                      <a href="#"><img
                      class="icon-wrapper51"
                      alt=""
                      src="{% static 'img/iconwrapper@2x.png' %}"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="avatar6">

                  <a href="{% url 'dashboard' %}"><img
                  class="avatar-placeholder-change-i2"
                  alt=""
                  src="{% static 'img/avatarplaceholder--change-image-here@2x.png' %}"
                /></a>

{#                <img#}
{#                  class="aspect-ratio-keeper-addition2"#}
{#                  alt=""#}
{#                  src="{% static 'img/aspect-ratio-keeper--additionally-45-rotated-auto-layout@2x.png' %}"#}
{#                />#}
              </div>
            </div>
          </div>
        </div>
      </nav>
{% endif %}
