{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">
                {% if lang == 'en' %}Forgot Password{% else %}Забули пароль{% endif %}
            </h4>

            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <h5 class="card-title mb-4">
                        {% if lang == 'en' %}
                            Enter your email address
                        {% else %}
                            Вкажіть вашу електронну адресу
                        {% endif %}
                    </h5>
                    <input type="email" class="form-control"
                           placeholder="{% if lang == 'en' %}Email Address{% else %}Електронна адреса{% endif %}"
                           name="email">
                </div> <!-- form-group// -->
                <br>
                <div class="form-group">
                    <a href="{% url 'login' %}" class="float-right">
                        {% if lang == 'en' %}
                            Have a password? Login
                        {% else %}
                            Є пароль? Логін
                        {% endif %}
                    </a>
                </div> <!-- form-group form-check .// -->
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        {% if lang == 'en' %}Send{% else %}Надіслати{% endif %}
                    </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">
        {% if lang == 'en' %}
            No account? <a href="{% url 'register' %}">Register</a>
        {% else %}
            Немає облікового запису? <a href="{% url 'register' %}">Зареєструватися</a>
        {% endif %}
    </p>
    <br><br>

</section>
{% endblock %}
