{% autoescape off %}

{% if lang == 'en' %}

Hello, {{ user.first_name }}

Click the link below to reset your password:
http://{{ domain }}{% url 'reset_password_validate' uidb64=uid token=token %}

If you didn’t request this, you can ignore this email.

{% else %}

Привіт, {{ user.first_name }}

Клацніть посилання нижче, щоб скинути пароль:
http://{{ domain }}{% url 'reset_password_validate' uidb64=uid token=token %}

Якщо ви не запитували скидання пароля, просто проігноруйте цей лист.

{% endif %}

{% endautoescape %}
