{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="login">
      <form class="content8">
        <div class="header1">
          <div class="heading15">
            <div class="title-login">Log in to your account</div>
              <div class="subtitle">Welcome back! Please enter your details.</div>
          </div>
        </div>
        <div class="content9">
          <div class="form6">
            <div class="form-item">
              <div class="label">
                <div class="title13">
                  <div class="text16">Email</div>
                </div>
                <div class="line-height">
                  <div class="help-icon-with-tooltip">
                    <div class="zero-height">
                      <div class="zero-pixel">
                        <div class="tooltip">
                          <div class="body">
                            <div class="textparagraph">
                              <div class="text17">Tooltip text</div>
                              <div class="min-width-change-size-here">
                                <div class="ignore"></div>
                                <div class="ignore1"></div>
                              </div>
                            </div>
                          </div>
                          <div class="arrow-position-scrubber">
                            <img
                              class="arrow-wrapper-icon"
                              alt=""
                              src="{% static 'img/arrowwrapper.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="icon-wrapper">
                      <div class="width-change-size-here">
                        <div class="ignore2"></div>
                        <div class="ignore3"></div>
                      </div>
                      <div class="icon-wrapper-h">
                        <div class="height-change-size-here">
                          <div class="ignore4"></div>
                          <div class="ignore5"></div>
                        </div>
                        <img
                          class="icon-wrapper1"
                          alt=""
                          src="{% static 'img/iconwrapper@2x.png' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="required">
                  <div class="text18">*</div>
                </div>
              </div>
              <div class="input">
                  <div class="form-group" style="min-width: 360px">
                      <input type="email" class="form-control" placeholder="Email Address" name="email">
                  </div> <!-- form-group// -->

{#                <div class="input-base">#}
{#                  <div class="email-placeholder">#}
{#                    <div class="input-prefix">#}
{#                      <div class="icon-wrapper2">#}
{#                        <div class="width-change-size-here1">#}
{#                          <div class="ignore6"></div>#}
{#                          <div class="ignore7"></div>#}
{#                        </div>#}
{#                        <div class="icon-wrapper-h1">#}
{#                          <div class="height-change-size-here1">#}
{#                            <div class="ignore8"></div>#}
{#                            <div class="ignore9"></div>#}
{#                          </div>#}
{#                          <img#}
{#                            class="icon-wrapper3"#}
{#                            alt=""#}
{#                            src="{% static 'img/iconwrapper-1@2x.png' %}"#}
{#                          />#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}

{#                    <div class="placeholder1">Enter your email</div>#}
{#                  </div>#}

                  <div class="spacer">
                    <div class="ignore10"></div>
                    <div class="ignore11"></div>
                  </div>
                  <div class="input-suffix">
                    <div class="icon-wrapper4">
                      <div class="width-change-size-here2">
                        <div class="ignore12"></div>
                        <div class="ignore13"></div>
                      </div>
                      <div class="icon-wrapper-h2">
                        <div class="height-change-size-here2">
                          <div class="ignore14"></div>
                          <div class="ignore15"></div>
                        </div>
                        <img
                          class="icon-wrapper5"
                          alt=""
                          src="{% static 'img/iconwrapper-2@2x.png' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

{#              <div class="form-text">#}
{#                <div class="text19">Form text lorem ipsum dolor sit amet</div>#}
{#              </div>#}
            </div>
            <div class="form-item1">
              <div class="label1">
                <div class="title14">
                  <div class="text20">Password</div>
                </div>
                <div class="line-height1">
                  <div class="help-icon-with-tooltip1">
                    <div class="zero-height1">
                      <div class="zero-pixel1">
                        <div class="tooltip1">
                          <div class="body1">
                            <div class="textparagraph1">
                              <div class="text21">Tooltip text</div>
                              <div class="min-width-change-size-here1">
                                <div class="ignore16"></div>
                                <div class="ignore17"></div>
                              </div>
                            </div>
                          </div>
                          <div class="arrow-position-scrubber1">
                            <img
                              class="arrow-wrapper-icon1"
                              alt=""
                              src="{% static 'img/arrowwrapper.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="icon-wrapper6">
                      <div class="width-change-size-here3">
                        <div class="ignore18"></div>
                        <div class="ignore19"></div>
                      </div>
                      <div class="icon-wrapper-h3">
                        <div class="height-change-size-here3">
                          <div class="ignore20"></div>
                          <div class="ignore21"></div>
                        </div>
                        <img
                          class="icon-wrapper7"
                          alt=""
                          src="{% static 'img/iconwrapper@2x.png' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="required1">
                  <div class="text22">*</div>
                </div>
              </div>
              <div class="password">
                <div class="input1">
                  <div class="input-base1">
                    <div class="placeholder2">
                      <div class="input-prefix1">
                        <div class="icon-wrapper8">
                          <div class="width-change-size-here4">
                            <div class="ignore22"></div>
                            <div class="ignore23"></div>
                          </div>
                          <div class="icon-wrapper-h4">
                            <div class="height-change-size-here4">
                              <div class="ignore24"></div>
                              <div class="ignore25"></div>
                            </div>
                            <img
                              class="icon-wrapper9"
                              alt=""
                              src="{% static 'img/iconwrapper-1@2x.png' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="placeholder3">Password</div>
                    </div>
                    <div class="spacer1">
                      <div class="ignore26"></div>
                      <div class="ignore27"></div>
                    </div>
                    <div class="input-suffix1">
                      <div class="icon-wrapper10">
                        <div class="width-change-size-here5">
                          <div class="ignore28"></div>
                          <div class="ignore29"></div>
                        </div>
                        <div class="icon-wrapper-h5">
                          <div class="height-change-size-here5">
                            <div class="ignore30"></div>
                            <div class="ignore31"></div>
                          </div>
                          <img
                            class="icon-wrapper11"
                            alt=""
                            src="{% static 'img/iconwrapper-5@2x.png' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-text1">
                <div class="text23">Form text lorem ipsum dolor sit amet</div>
              </div>
            </div>
          </div>
          <div class="row8">
            <div class="componentscheckbox">
              <input class="wrapper4" type="checkbox" />

              <div class="label2">
                <div class="text24">Rememer me</div>
              </div>
            </div>
            <div class="texttext">
              <a class="text25" href="{% url 'forgot_password' %}">Forgot password</a>
            </div>
          </div>
          <div class="actions">
            <button class="button1">
              <div class="icon6">
                <div class="width-change-size-here6">
                  <div class="ignore32"></div>
                  <div class="ignore33"></div>
                </div>
                <div class="icon-wrapper-h6">
                  <div class="height-change-size-here6">
                    <div class="ignore34"></div>
                    <div class="ignore35"></div>
                  </div>
                  <img
                    class="icon-wrapper12"
                    alt=""
                    src="{% static 'img/iconwrapper-6@2x.png' %}"
                  />
                </div>
              </div>
              <div class="text26">
                <a class="icon-width" href="{% url "home" %}">Sign in</a>
              </div>
              <div class="icon-2">
                <div class="width-change-size-here7">
                  <div class="ignore36"></div>
                  <div class="ignore37"></div>
                </div>
                <div class="icon-wrapper-h7">
                  <div class="height-change-size-here7">
                    <div class="ignore38"></div>
                    <div class="ignore39"></div>
                  </div>
                  <img
                    class="icon-wrapper13"
                    alt=""
                    src="{% static 'img/iconwrapper-7@2x.png' %}"
                  />
                </div>
              </div>
            </button>
{#            <button class="buttonmediumprimarytruenor">#}
{#              <div class="icon7">#}
{#                <div class="width-change-size-here8">#}
{#                  <div class="ignore40"></div>#}
{#                  <div class="ignore41"></div>#}
{#                </div>#}
{#                <div class="icon-wrapper-h8">#}
{#                  <div class="height-change-size-here8">#}
{#                    <div class="ignore42"></div>#}
{#                    <div class="ignore43"></div>#}
{#                  </div>#}
{#                  <img#}
{#                    class="icon-wrapper14"#}
{#                    alt=""#}
{#                    src="{% static 'img/iconwrapper-8@2x.png' %}"#}
{#                  />#}
{#                </div>#}
{#              </div>#}
{#              <div class="text27">#}
{#                <div class="text28">Sign in with Google</div>#}
{#              </div>#}
{#            </button>#}

          </div>

            <div class="texttext1">
                <div class="text29">Don’t have an account?</div>
            </div>
            <a class="texttext2" href="{% url "register" %}">Sign up</a>

        </div>


      </form>
    </div>

{% endblock %}