{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="signup">
      <form class="content10">
        <div class="header2">
          <div class="heading16">
            <h1 class="text30">Створіть обліковий запис</h1>
            <div class="subtitle1">
              <div class="subtitle2">Почніть свою подорож!</div>
            </div>
          </div>
        </div>
        <div class="content11">
          <div class="form7">
            <div class="form-item2">
              <div class="label3">
                <input class="title15" placeholder="Name*" type="text" />

                <div class="required2">
                  <div class="text31">*</div>
                </div>
              </div>
              <div class="input2">
                <div class="input-base2">
                  <input
                    class="placeholder4"
                    placeholder="Enter your name"
                    type="text"
                  />

                  <div class="spacer2">
                    <div class="ignore44"></div>
                    <div class="ignore45"></div>
                  </div>
                  <div class="input-suffix2">
                    <div class="icon-wrapper15">
                      <div class="width-change-size-here9">
                        <div class="ignore46"></div>
                        <div class="ignore47"></div>
                      </div>
                      <div class="icon-wrapper-h9">
                        <div class="height-change-size-here9">
                          <div class="ignore48"></div>
                          <div class="ignore49"></div>
                        </div>
                        <img
                          class="icon-wrapper16"
                          alt=""
                          src="./public/iconwrapper-2@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item3">
              <div class="label4">
                <input class="title16" placeholder="Email*" type="text" />

                <div class="required3">
                  <div class="text32">*</div>
                </div>
              </div>
              <div class="input3">
                <div class="input-base3">
                  <input
                    class="placeholder5"
                    placeholder="Enter your name"
                    type="text"
                  />

                  <div class="spacer3">
                    <div class="ignore50"></div>
                    <div class="ignore51"></div>
                  </div>
                  <div class="input-suffix3">
                    <div class="icon-wrapper17">
                      <div class="width-change-size-here10">
                        <div class="ignore52"></div>
                        <div class="ignore53"></div>
                      </div>
                      <div class="icon-wrapper-h10">
                        <div class="height-change-size-here10">
                          <div class="ignore54"></div>
                          <div class="ignore55"></div>
                        </div>
                        <img
                          class="icon-wrapper18"
                          alt=""
                          src="./public/iconwrapper-2@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item4">
              <div class="label5">
                <input class="title17" placeholder="Password*" type="text" />

                <div class="required4">
                  <div class="text33">*</div>
                </div>
              </div>
              <div class="password1">
                <div class="input4">
                  <div class="input-base4">
                    <input
                      class="placeholder6"
                      placeholder="Password"
                      type="text"
                    />

                    <div class="spacer4">
                      <div class="ignore56"></div>
                      <div class="ignore57"></div>
                    </div>
                    <div class="input-suffix4">
                      <div class="icon-wrapper19">
                        <div class="width-change-size-here11">
                          <div class="ignore58"></div>
                          <div class="ignore59"></div>
                        </div>
                        <div class="icon-wrapper-h11">
                          <div class="height-change-size-here11">
                            <div class="ignore60"></div>
                            <div class="ignore61"></div>
                          </div>
                          <img
                            class="icon-wrapper20"
                            alt=""
                            src="./public/iconwrapper-5@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions1">
            <button class="button2">
              <div class="icon8">
                <div class="width-change-size-here12">
                  <div class="ignore62"></div>
                  <div class="ignore63"></div>
                </div>
                <div class="icon-wrapper-h12">
                  <div class="height-change-size-here12">
                    <div class="ignore64"></div>
                    <div class="ignore65"></div>
                  </div>
                  <img
                    class="icon-wrapper21"
                    alt=""
                    src="./public/iconwrapper-6@2x.png"
                  />
                </div>
              </div>
              <div class="text34">
                <a class="width-icon" href="{% url 'home' %}">Почніть роботу</a>
              </div>
              <div class="icon-21">
                <div class="width-change-size-here13">
                  <div class="ignore66"></div>
                  <div class="ignore67"></div>
                </div>
                <div class="icon-wrapper-h13">
                  <div class="height-change-size-here13">
                    <div class="ignore68"></div>
                    <div class="ignore69"></div>
                  </div>
                  <img
                    class="icon-wrapper22"
                    alt=""
                    src="./public/iconwrapper-7@2x.png"
                  />
                </div>
              </div>
            </button>
{#            <button class="buttonmediumprimarytruenor1">#}
{#              <div class="icon9">#}
{#                <div class="width-change-size-here14">#}
{#                  <div class="ignore70"></div>#}
{#                  <div class="ignore71"></div>#}
{#                </div>#}
{#                <div class="icon-wrapper-h14">#}
{#                  <div class="height-change-size-here14">#}
{#                    <div class="ignore72"></div>#}
{#                    <div class="ignore73"></div>#}
{#                  </div>#}
{#                  <img#}
{#                    class="icon-wrapper23"#}
{#                    alt=""#}
{#                    src="./public/iconwrapper-8@2x.png"#}
{#                  />#}
{#                </div>#}
{#              </div>#}
{#              <div class="text35">#}
{#                <div class="button3">Sign up with Google</div>#}
{#              </div>#}
{#            </button>#}

              <div class="texttext3">
                <div class="text36">Вже маєте акаунт?</div>
              </div>
              <a class="texttext4" href="{% url 'login' %}">Авторизуватися</a>

          </div>
        </div>

      </form>
    </div>
    
{% endblock %}
