{% load static %}


<div class="about-us-documents-mobile">
    <div class="line-active-menu14"></div>
    <div class="sublitle8">Subtitle</div>
    <main class="main-content">
        <section class="content-header">
            <div class="actions11"></div>
            <div class="header-501" style='background-image: url("{% static 'img/aboutus/bg@2x-1600px.jpg' %}");'>
                <div class="container4">
                    <div class="section-title4">
                        <div class="tagline1">Підзаголовок</div>
                        <div class="content34">
                            <h1 class="short-heading-here1">Про нас</h1>
                            <div class="lorem-ipsum-dolor1">
                                Об'єднаймося для підтримки та розвитку українських громад у Грузії
                                через сталі проєкти та програми.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-body">
            <!-- ПОЧАТОК ОСНОВНОЇ ЧАСТИНИ -->

            <!-- Вибір категорій для сторінок "Про нас" -->
            <div class="top-content">
                <div class="bg-blue3"></div>
                <!-- Dropdown Menu -->
                <div class="col-md-12">
                    {% include 'aboutus/mobile/about-us-sidebar-mobile.html' %}
                </div>
                <div class="rectangle-parent7">
                    <div class="frame-child67"></div>
                    <div class="documents-group">
                        <h1 class="documents6">Документи</h1>
                        <div class="on-this-page-container1">
                            <p class="on-this-page1">
                                На цій сторінці ви знайдете офіційні документи, що регулюють діяльність
                                нашої організації, а також інформаційні матеріали, які допоможуть
                                краще зрозуміти принципи та цілі нашої благодійної роботи.
                            </p>
                            <p class="blank-line8">&nbsp;</p>
                        </div>
                    </div>
                    <!-- Documents Sections -->
                    {% for category in categories %}
                        <div class="documents-section">
                            <h3 class="heading33">{{ category.name }}</h3>
                            <div class="documents-list" id="documents-{{ category.id }}">
                                {% for document in category.documents.all %}
                                    <div class="document-item">
                                        <div class="title">
                                            <div class="title-icon-container">
                                                <img class="black-icon" loading="lazy" alt=""
                                                     src="{% static 'img/aboutus/black.svg' %}"/>
                                            </div>
                                            <div class="heading-parent11">
                                                <b class="heading34">{{ document.title }}</b>
                                                <div class="text62">{{ document.subtitle }}</div>
                                                <a href="{{ document.upload.url }}">Завантажити</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
</div>
