{% load static %}

<div class="about-us-documents-mobile">
    <div class="line-active-menu14"></div>
    <div class="sublitle8">
        {% if lang == 'en' %}
            Subtitle
        {% else %}
            Підзаголовок
        {% endif %}
    </div>
    <main class="main-content">
        <section class="content-header">
            <div class="actions11"></div>
            <div class="header-501" style='background-image: url("{{ banner_settings.about_us_banner_mob_image.url }}");'>
                <div class="container4">
                    <div class="section-title4">
                        <div class="content34">
                            <h1 class="short-heading-here1">
                                {% if lang == 'en' %}
                                    {{ banner_settings.about_us_banner_title_en }}
                                {% else %}
                                    {{ banner_settings.about_us_banner_title }}
                                {% endif %}
                            </h1>
                            <div class="lorem-ipsum-dolor1">
                                {% if lang == 'en' %}
                                    {{ banner_settings.about_us_banner_text_en }}
                                {% else %}
                                    {{ banner_settings.about_us_banner_text }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-body">
            <div class="top-content">
                <div class="bg-blue3"></div>
                <!-- Dropdown Menu -->
                <div class="col-md-12">
                    {% include 'aboutus/mobile/about-us-sidebar-mobile.html' %}
                </div>
                <div class="rectangle-parent7">
                    <div class="frame-child67"></div>
                    <div class="documents-group">
                        <h1 class="documents6">
                            {% if lang == 'en' %}
                                Documents
                            {% else %}
                                Документи
                            {% endif %}
                        </h1>
                        <div class="on-this-page-container1">
                            <p class="on-this-page1">
                                {% if lang == 'en' %}
                                    On this page, you will find official documents governing the activities of our organization, as well as informational materials that will help you better understand the principles and goals of our charitable work.
                                {% else %}
                                    На цій сторінці ви знайдете офіційні документи, що регулюють діяльність
                                    нашої організації, а також інформаційні матеріали, які допоможуть
                                    краще зрозуміти принципи та цілі нашої благодійної роботи.
                                {% endif %}
                            </p>
                            <p class="blank-line8">&nbsp;</p>
                        </div>
                    </div>

                    <!-- Documents Sections -->
                    {% for category in categories %}
                        <div class="documents-section">
                            <h3 class="heading33">
                                {% if lang == 'en' %}
                                    {{ category.name_en }}
                                {% else %}
                                    {{ category.name }}
                                {% endif %}
                            </h3>
                            <div class="documents-list" id="documents-{{ category.id }}">
                                {% for document in category.documents.all %}
                                    <div class="document-item">
                                        <div class="title">
                                            <div class="title-icon-container">
                                                <img class="black-icon" loading="lazy" alt=""
                                                     src="{% static 'img/aboutus/black.svg' %}"/>
                                            </div>
                                            <div class="heading-parent11">
                                                <b class="heading34">
                                                    {% if lang == 'en' %}
                                                        {{ document.title_en }}
                                                    {% else %}
                                                        {{ document.title }}
                                                    {% endif %}
                                                </b>
                                                <div class="text62">
                                                    {% if lang == 'en' %}
                                                        {{ document.subtitle_en }}
                                                    {% else %}
                                                        {{ document.subtitle }}
                                                    {% endif %}
                                                </div>
                                                <a href="{{ document.upload.url }}">
                                                    {% if lang == 'en' %}Download{% else %}Завантажити{% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
</div>
