{% load static %}

<div class="about-us-contacts-mobile">
    <main class="main-content">
        <section class="content-header">
            <div class="actions11"></div>
            <div class="header-501" style='background-image: url("{{ banner_settings.about_us_banner_mob_image.url }}");'>
                <div class="container4">
                    <div class="section-title4">
                        <div class="content34">
                            <h1 class="short-heading-here1">
                                {% if lang == 'en' %}
                                    {{ banner_settings.about_us_banner_title_en }}
                                {% else %}
                                    {{ banner_settings.about_us_banner_title }}
                                {% endif %}
                            </h1>
                            <div class="lorem-ipsum-dolor1">
                                {% if lang == 'en' %}
                                    {{ banner_settings.about_us_banner_text_en }}
                                {% else %}
                                    {{ banner_settings.about_us_banner_text }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-parent-wrapper">
            <div class="contact-parent1">
                <div class="col-md-12">
                    {% include 'aboutus/mobile/about-us-sidebar-mobile.html' %}
                </div>
                <div class="bg-blue7"></div>

                <div class="info-parent">
                    <div class="info-parent-child"></div>
                    <div class="info-container">
                        <div class="contact-info4">
                            <h1 class="contacts6">
                                {% if lang == 'en' %}Contacts{% else %}Контакти{% endif %}
                            </h1>
                            <h2 class="unite-together-is1">
                                {% if lang == 'en' %}
                                    Unite Together – uniting to support and develop Ukrainian communities in Georgia through sustainable projects and programs.
                                {% else %}
                                    Unite Together Об'єднаймося для підтримки та розвитку українських громад у Грузії через сталі проєкти та програми.
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <div class="contact-details8">
                        <div class="left-part">
                            <div class="bg-contacts1"></div>
                            <h1 class="contact-information1">
                                {% if lang == 'en' %}Contact Information{% else %}Контактна Інформація{% endif %}
                            </h1>
                            <div class="icon-container">
                                <div class="contact-icons3">
                                    <img class="icon-phone21" loading="lazy" alt=""
                                         src="{% static 'img/aboutus/iconphone1.svg' %}"/>
                                    <img class="icon-email21" loading="lazy" alt=""
                                         src="{% static 'img/aboutus/iconemail2.svg' %}"/>
                                    <img class="icon-geo21" loading="lazy" alt=""
                                         src="{% static 'img/aboutus/icongeo1.svg' %}"/>
                                </div>
                                <div class="email-container">
                                    {% if contacts.phone_number %}
                                        <div class="email-info2">{{ contacts.phone_number }}</div>
                                    {% else %}
                                        <div class="email-info2">+995 551 146 364</div>
                                    {% endif %}

                                    {% if contacts.email %}
                                        <div class="uniteforukraingmailcom19">{{ contacts.email }}</div>
                                    {% else %}
                                        <div class="uniteforukraingmailcom19">uniteforukrain@gmail.com</div>
                                    {% endif %}


                                    <div class="address18">
                                        {% if contacts.address %}
                                            <div class="tbilisi-2123-tsotne21">
                                                {{ contacts.address }}
                                            </div>
                                        {% else %}
                                            <div class="tbilisi-2123-tsotne21">
                                                Tbilisi, 21/23 Tsotne Dadiani St., office 8
                                            </div>
                                        {% endif %}
                                        <div class="see-on-the1">
                                            {% if contacts.geolocation %}
                                                <a href="{{ contacts.geolocation }}"
                                                   class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                                                    {% if lang == 'en' %}See on the map{% else %}Дивитися на мапі{% endif %}
                                                </a>
                                            {% else %}
                                                <a href="https://maps.app.goo.gl/i6k1MGycMqWZ94ge8"
                                                   class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                                                    {% if lang == 'en' %}See on the map{% else %}Дивитися на мапі{% endif %}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="social-icons4">
                                <img class="icon-insta21" loading="lazy" alt=""
                                     src="{% static 'img/aboutus/iconinsta1.svg' %}"/>
                                <img class="icon-fb21" loading="lazy" alt=""
                                     src="{% static 'img/aboutus/iconfb1.svg' %}"/>
                                <img class="icon-tg21" loading="lazy" alt=""
                                     src="{% static 'img/aboutus/icontg1.svg' %}"/>
                            </div>
                        </div>
                        <div class="question">
                            <h1 class="have-a-question-container1">
                                <p class="have-a-question1">
                                    {% if lang == 'en' %}Have a question?{% else %}Є питання?{% endif %}
                                </p>
                                <p class="have-a-question1">
                                    {% if lang == 'en' %}Just write us a message!{% else %}Просто напишіть нам повідомлення!{% endif %}
                                </p>
                            </h1>
                        </div>
                        <div class="form-parent">
                            <form method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="content39">
                                    <div class="first-name-input">
                                        <label for="id_first_name" class="first-name9">
                                            {% if lang == 'en' %}First Name{% else %}Ім’я{% endif %}
                                        </label>
                                        <input id="id_first_name" name="first_name" type="text" class="form-control" required/>
                                    </div>
                                    <div class="name-inputs">
                                        <label for="id_last_name" class="last-name1">
                                            {% if lang == 'en' %}Last Name{% else %}Прізвище{% endif %}
                                        </label>
                                        <input id="id_last_name" name="last_name" type="text" class="form-control" required/>
                                    </div>
                                    <div class="name-inputs">
                                        <label for="id_email" class="email2">Email</label>
                                        <input id="id_email" name="email" type="email" class="form-control" required/>
                                    </div>
                                    <div class="name-inputs2">
                                        <label for="id_phone_number" class="phone-number4">
                                            {% if lang == 'en' %}Phone Number{% else %}Номер телефону{% endif %}
                                        </label>
                                        <input id="id_phone_number" name="phone_number" type="text" class="form-control" required/>
                                    </div>
                                    <div class="subject-input">
                                        <label for="id_subject" class="select-subject1">
                                            {% if lang == 'en' %}Select Subject{% else %}Оберіть тему{% endif %}
                                        </label>
                                        <select id="id_subject" name="subject" class="form-control" required>
                                            {% if lang == 'en' %}
                                                <option value="">Choose...</option>
                                                <option value="I need help">I need help</option>
                                                <option value="I want to help">I want to help</option>
                                                <option value="Apply for job">Apply for job</option>
                                                <option value="Complaints and suggestions">Complaints and suggestions</option>
                                                <option value="Partnership and collaboration">Partnership and collaboration</option>
                                            {% else %}
                                                <option value="">Оберіть...</option>
                                                <option value="I need help">Мені потрібна допомога</option>
                                                <option value="I want to help">Я хочу допомогти</option>
                                                <option value="Apply for job">Подати заявку на роботу</option>
                                                <option value="Complaints and suggestions">Скарги та пропозиції</option>
                                                <option value="Partnership and collaboration">Партнерство та співпраця</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="message1">
                                        <label for="id_message" class="message2">
                                            {% if lang == 'en' %}Message{% else %}Повідомлення{% endif %}
                                        </label>
                                        <textarea id="id_message" name="message" class="form-control"
                                                  placeholder="{% if lang == 'en' %}Write your message..{% else %}Напишіть ваше повідомлення..{% endif %}"
                                                  required></textarea>
                                    </div>
                                </div>
                                <div class="button-parent">
                                    <button class="button28" type="submit">
                                        <div class="send-message1">
                                            {% if lang == 'en' %}Send Message{% else %}Надіслати повідомлення{% endif %}
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
