{% load static %}

<div class="about-us-history-mobile">
    <main class="desktop-logo">
        <div class="line-active-menu13"></div>
        <section class="desktop-content">
            <div class="header-50" style='background-image: url("{% static 'img/mob-aboutus.png' %}");'>
                <div class="container3">

                    <div class="section-title3">
                        <div class="tagline">Підзаголовок</div>
                        <div class="content33">
                            <h1 class="short-heading-here">Про нас</h1>
                            <div class="lorem-ipsum-dolor">
                                Об'єднаймося для підтримки та розвитку українських громад у Грузії
                                через сталі проєкти та програми.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-blue-parent">
                <div class="bg-blue2"></div>

                <!-- Dropdown Menu -->
                <div class="col-md-12">
                    {% include 'aboutus/mobile/about-us-sidebar-mobile.html' %}
                </div>

                <div class="about-us-content">
                    <div class="who-we-are4">
                        <h2 class="who-we-are5">{{ history.title }}</h2>
                        <p class="unite-together-was2">
                            {{ history.content }}
                        </p>
                        <p class="blank-line7">&nbsp;</p>
                        <img
                                class="inactive-indicator-icon"
                                loading="lazy"
                                alt=""
                                src="
                                        {% if history.image %}{{ history.image.url }}{% else %}{% static 'img/placeholder-image1%402x.png' %}{% endif %}"
                        />
                        <div class="mission-vision">
                            <div class="mission-vision-container">
                                <h2 class="mission2">{{ mission.title }}:</h2>
                                <div class="our-organization-unite17">
                                    {{ mission.content }}
                                </div>
                            </div>
                            <div class="mission-vision-container1">
                                <h2 class="vision2">{{ vision.title }}:</h2>
                                <div class="we-see-a2">
                                    {{ vision.content }}
                                </div>
                            </div>
                        </div>
                        <div class="values-group">
                            <img
                                    class="inactive-indicator-icon"
                                    loading="lazy"
                                    alt=""
                                    src="{% static 'img/aboutus/group-7301-temporary.jpg' %}"
                            />
                            <h2 class="values2">Цінності:</h2>
                            <div class="tabs-menu">
                                {% for value in values %}
                                    <div class="tab-horizontal">
                                        <div class="border"></div>
                                        <div class="tab-content">
                                            <h3 class="short-heading-goes">
                                                {{ value.title }}:
                                            </h3>
                                            <div class="text52">
                                                {{ value.content|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="changes-content-parent">
                            <div class="changes-content">
                                <h2 class="changes-are-created2">Програми:</h2>
                            </div>
                            <button id="toggle-button" onclick="toggleContent()" class="btn btn-light">
                                БІЛЬШЕ ТЕКСТУ
                            </button>
                            <div class="support-content-wrapper">

                                <br>
                                <div id="support-content" class="support-content" style="display: none;">
                                    {% for program in programs %}
                                        <div class="financial-support">
                                            <div class="financial-support-for2">
                                                {{ program.category }}:
                                            </div>
                                            <div class="support-description-wrapper">
                                                <div class="support-description">
                                                    {{ program.description|safe }}
                                                    {% if program.support_partner %}
                                                        <p><strong>Партнер з
                                                            підтримки:</strong> {{ program.support_partner }}</p>
                                                    {% endif %}
                                                    {% if program.beneficiaries_count %}
                                                        <p>
                                                            <strong>Бенефіціарії:</strong> {{ program.beneficiaries_count }}
                                                        </p>
                                                    {% endif %}
                                                    {% if program.funding_amount %}
                                                        <p><strong>Сума фінансування:</strong>
                                                            €{{ program.funding_amount }}</p>
                                                    {% endif %}
                                                    {% if program.additional_info %}
                                                        <p><strong>Додаткова
                                                            інформація:</strong> {{ program.additional_info }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


<script>
    function toggleContent() {
        var content = document.getElementById("support-content");
        var button = document.getElementById("toggle-button");

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";  // Show the content
            button.textContent = "МЕНШЕ ТЕКСТУ";  // Change button text to "МЕНШЕ ТЕКСТУ"
        } else {
            content.style.display = "none";   // Hide the content
            button.textContent = "БІЛЬШЕ ТЕКСТУ"; // Change button text back to "БІЛЬШЕ ТЕКСТУ"
        }
    }
</script>
