<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./home-mobile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="home-mobile1">
      <div class="line-active-menu12"></div>
      <header class="frame-header">
        <div class="logo-ut-parent1">
          <div class="logo-ut16">
            <img
              class="logo-flag-ut-icon30"
              loading="lazy"
              alt=""
              src="./public/logoflagut6.svg"
            />

            <div class="logo-text-ut30">
              <div class="group90">
                <div class="group91">
                  <a class="unite30">UNITE</a>
                </div>
                <div class="group92">
                  <a class="together30">TOGETHER</a>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper30">
            <div class="line-parent1">
              <div class="frame-child58"></div>
              <div class="frame-child59"></div>
              <div class="frame-child60"></div>
            </div>
          </div>
        </div>
      </header>
      <section class="registration-form-wrapper">
        <div class="registration-form">
          <div class="actions7"></div>
          <div class="form-content">
            <h1 class="title25">
              Supporting and developing Ukrainians in Georgia
            </h1>
            <div class="subtitle4">
              Unite Together is dedicated to creating sustainable changes in the
              lives of Ukrainians in Georgia affected by the war. Through our
              projects and programs, we provide financial assistance, informal
              education, sports, and counseling.
            </div>
            <div class="registration-buttons">
              <button class="register1">
                <div class="button16">Registration</div>
              </button>
              <img
                class="image-icon1"
                loading="lazy"
                alt=""
                src="./public/image1@2x.png"
              />

              <div class="donation-button-wrapper-parent">
                <div class="donation-button-wrapper">
                  <button class="donate13">
                    <div class="button17">Donate</div>
                  </button>
                </div>
                <img
                  class="pagination-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/pagination1.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-wrapper-one-wrapper">
        <div class="content-wrapper-one">
          <div class="content-header-one">
            <div class="subheading3">Support</div>
            <h1 class="heading28">Empowering Ukrainians affected by the war</h1>
          </div>
          <div class="text45">
            At Unite Together, our main goal is to support and develop
            Ukrainians affected by the war. We strive to bring sustainable
            systemic change to their lives and society.
          </div>
          <div class="content-actions-one">
            <button class="stylesecondary-smallfalse5">
              <div class="button18">Learn More</div>
            </button>
            <div class="stylelink-smallfalse-dark3">
              <div class="button19">Sign Up</div>
              <img
                class="icon-chevron-right3"
                loading="lazy"
                alt=""
                src="./public/icon--chevronright1.svg"
              />
            </div>
            <img
              class="placeholder-image-icon14"
              loading="lazy"
              alt=""
              src="./public/placeholder-image2@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="cta-27-wrapper">
        <div class="cta-27">
          <div class="content24">
            <div class="content25">
              <h1 class="heading29">Support Our Initiatives Today!</h1>
              <div class="text46">
                Your donation can make a difference in the lives of Ukrainians
                in Georgia.
              </div>
            </div>
            <div class="actions8">
              <button class="styleprimary-smallfalse-da2">
                <div class="button20">Log in</div>
              </button>
              <button class="stylesecondary-smallfalse6">
                <div class="button21">Sing up</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="content-wrapper-two-wrapper">
        <div class="content-wrapper-two">
          <div class="content-header-two">
            <div class="subheading4">Empowering</div>
            <h1 class="heading30">
              Creating Lasting Change for Ukrainians Affected by War
            </h1>
          </div>
          <div class="text47">
            Unite Together is dedicated to supporting and developing Ukrainians
            impacted by the war. Through our projects and initiatives, we strive
            to bring about sustainable systemic change in their lives and
            society.
          </div>
        </div>
      </section>
      <section class="content-wrapper-three-wrapper">
        <div class="content-wrapper-three">
          <div class="content26">
            <div class="row18">
              <div class="content27">
                <div class="card">
                  <img
                    class="placeholder-image-icon15"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-13@2x.png"
                  />

                  <div class="content28">
                    <div class="title26">
                      <h3 class="name31">Key Projects and Initiatives смь ь</h3>
                    </div>
                    <div class="card-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique.
                    </div>
                  </div>
                </div>
                <div class="card1">
                  <img
                    class="placeholder-image-icon16"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-13@2x.png"
                  />

                  <div class="content29">
                    <div class="title27">
                      <h3 class="name32">Supporting Ukrainian Families</h3>
                    </div>
                    <div class="text48">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique.
                    </div>
                  </div>
                </div>
                <div class="card2">
                  <img
                    class="placeholder-image-icon17"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image-13@2x.png"
                  />

                  <div class="content30">
                    <div class="title28">
                      <h3 class="name33">Full name</h3>
                    </div>
                    <div class="text49">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-actions-three">
            <button class="stylesecondary-smallfalse7">
              <div class="button22">Learn More</div>
            </button>
            <div class="link-button-wrapper-three">
              <div class="stylelink-smallfalse-dark4">
                <div class="button23">Sign Up</div>
                <img
                  class="icon-chevron-right4"
                  loading="lazy"
                  alt=""
                  src="./public/icon--chevronright-11.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-header-four-wrapper">
        <div class="content-header-four">
          <div class="subheading5">Empowerment</div>
          <h1 class="heading31">Join Us and Make a Difference Today</h1>
        </div>
      </section>
      <section class="text-wrapper3">
        <div class="text50">
          By registering and engaging with Unite Together's programs, you become
          part of a community dedicated to supporting and developing Ukrainians
          affected by the war. Together, we can create sustainable systemic
          change in their lives and society.
        </div>
      </section>
      <section class="content-actions-four">
        <div class="action-buttons-four">
          <button class="stylesecondary-smallfalse8">
            <div class="button24">Learn More</div>
          </button>
          <div class="stylelink-smallfalse-dark5">
            <div class="button25">Sign Up</div>
            <img
              class="icon-chevron-right5"
              loading="lazy"
              alt=""
              src="./public/icon--chevronright-2.svg"
            />
          </div>
          <img
            class="placeholder-image-icon18"
            loading="lazy"
            alt=""
            src="./public/placeholder-image2@2x.png"
          />
        </div>
      </section>
      <section class="cta-27-container">
        <div class="cta-271">
          <div class="content31">
            <div class="content32">
              <h1 class="heading32">Support Our Initiatives Today!</h1>
              <div class="text51">
                Your donation can make a difference in the lives of Ukrainians
                in Georgia.
              </div>
            </div>
            <div class="actions9">
              <button class="styleprimary-smallfalse-da3">
                <div class="button26">Donate</div>
              </button>
              <button class="stylesecondary-smallfalse9">
                <div class="button27">Learn More</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-content-wrapper">
        <div class="footer-content">
          <div class="logo-ut17">
            <img
              class="logo-flag-ut-icon31"
              loading="lazy"
              alt=""
              src="./public/logoflagut-13.svg"
            />

            <div class="logo-text-ut31">
              <div class="group93">
                <div class="group94">
                  <b class="unite31">UNITE</b>
                </div>
                <div class="group95">
                  <b class="together31">TOGETHER</b>
                </div>
              </div>
            </div>
          </div>
          <div class="briefly-about-us-parent">
            <b class="briefly-about-us14">briefly about us</b>
            <div class="our-organization-unite16">
              Our organization "Unite Together" is aimed at creating and
              implementing projects aimed at supporting and developing
              Ukrainians affected by the war.
            </div>
          </div>
        </div>
      </section>
      <div class="menu-container-wrapper">
        <div class="menu-container">
          <b class="menu14">MENU</b>
          <div class="line-decoration28"></div>
          <div class="menu-items2">
            <div class="about-us31">About us</div>
            <div class="events42">Events</div>
            <div class="projects31">Projects</div>
          </div>
        </div>
      </div>
      <section class="contact-container-wrapper">
        <div class="contact-container">
          <b class="contact14">CONTACT</b>
          <div class="contact-info1">
            <div class="contact-icons">
              <div class="phone-icon-container">
                <img
                  class="icon-phone15"
                  loading="lazy"
                  alt=""
                  src="./public/iconphone3.svg"
                />

                <div class="line-decoration29"></div>
              </div>
              <img
                class="icon-email15"
                loading="lazy"
                alt=""
                src="./public/iconemail4.svg"
              />

              <img
                class="icon-geo15"
                loading="lazy"
                alt=""
                src="./public/icongeo3.svg"
              />
            </div>
            <div class="contact-details3">
              <div class="contact-item-parent">
                <div class="contact-item">+995 595 720 449</div>
                <div class="uniteforukraingmailcom13">
                  uniteforukrain@gmail.com
                </div>
                <div class="tbilisi-2123-tsotne15">
                  Tbilisi, 21/23 Tsotne Dadiani St., office 8
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="social-container-parent">
        <div class="social-container">
          <div class="social-header">
            <b class="we-are-on14">we are on social media</b>
            <div class="decoration31"></div>
            <div class="social-content">
              <div class="subscribe-to-us14">
                Subscribe to us on social media so you don't miss the release of
                new incredible projects.
              </div>
              <div class="social-icons-container">
                <div class="social-icons">
                  <img
                    class="icon-insta15"
                    loading="lazy"
                    alt=""
                    src="./public/iconinsta3.svg"
                  />

                  <img
                    class="icon-fb15"
                    loading="lazy"
                    alt=""
                    src="./public/iconfb3.svg"
                  />

                  <img
                    class="icon-tg15"
                    loading="lazy"
                    alt=""
                    src="./public/icontg3.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider16"></div>
      </section>
      <section class="footer-container-wrapper">
        <div class="footer-container">
          <div class="footer-links">
            <div class="privacy-policy14">Privacy Policy</div>
            <div class="terms-of-service14">Terms of Service</div>
            <div class="cookies-settings14">Cookie Settings</div>
          </div>
          <div class="relume-all-rights">
            © 2023 Unite Together. All rights reserved.
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
