{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <meta charset="utf-8" />#}
{#    <meta name="viewport" content="initial-scale=1, width=device-width" />#}
{##}
{#    <link rel="stylesheet" href="./global.css" />#}
{#    <link rel="stylesheet" href="./e-v-e-n-t-s-detail.css" />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"#}
{#    />#}
{#    <link#}
{#      rel="stylesheet"#}
{#      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500&display=swap"#}
{#    />#}
{#  </head>#}
{#  <body>#}
{#    <div class="events-detail" data-animate-on-scroll>#}
{#      <header class="navbar10">#}
{#        <div class="bg-menu9"></div>#}
{#        <div class="logo-ut-wrapper3">#}
{#          <div class="logo-ut12">#}
{#            <img#}
{#              class="logo-flag-ut-icon24"#}
{#              alt=""#}
{#              src="./public/logoflagut.svg"#}
{#            />#}
{##}
{#            <div class="logo-text-ut24">#}
{#              <div class="group72">#}
{#                <div class="group73">#}
{#                  <b class="unite24">UNITE</b>#}
{#                </div>#}
{#                <div class="group74">#}
{#                  <b class="together24">TOGETHER</b>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="active-menu-wrapper6">#}
{#          <div class="active-menu9">#}
{#            <div class="about-us25">About us</div>#}
{#            <div class="line-active-menu-wrapper6">#}
{#              <div class="line-active-menu9"></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="navbar-inner6">#}
{#          <div class="events-parent3">#}
{#            <div class="events35">Events</div>#}
{#            <div class="projects25">Projects</div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="right-part-wrapper5">#}
{#          <div class="right-part9">#}
{#            <div class="languages-wrapper5">#}
{#              <div class="languages12">#}
{#                <div class="flag-ua-wrapper6">#}
{#                  <div class="flag-ua12">#}
{#                    <div class="flag-colors"></div>#}
{#                    <div class="flag-colors1"></div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="language-ua12">UA</div>#}
{#                <div class="arrow-wrapper8">#}
{#                  <img class="arrow-icon12" alt="" src="./public/arrow.svg" />#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="dividing-line-wrapper8">#}
{#              <img#}
{#                class="dividing-line-icon12"#}
{#                alt=""#}
{#                src="./public/dividingline.svg"#}
{#              />#}
{#            </div>#}
{#            <div class="button-register9">#}
{#              <div class="frame-parent57">#}
{#                <div class="user-icon-wrapper6">#}
{#                  <img class="user-icon9" alt="" src="./public/usericon.svg" />#}
{#                </div>#}
{#                <div class="log-insign-up1">Log in/Sign Up</div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="button-donate9">#}
{#              <div class="donate-wrapper6">#}
{#                <div class="donate10">Donate</div>#}
{#              </div>#}
{#              <img class="donate-icon9" alt="" src="./public/donateicon.svg" />#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </header>#}
{#      <section class="sec-detail">#}
{#        <div class="bg-detail1"></div>#}
{#        <div class="aside-box11">#}
{#          <div class="rectangle-bg11"></div>#}
{#          <div class="all-wrapper">#}
{#            <h3 class="all3">All</h3>#}
{#          </div>#}
{#          <div class="frame-parent58">#}
{#            <div class="sport-container">#}
{#              <h3 class="sport3">Sport</h3>#}
{#            </div>#}
{#            <div class="rectangle-parent6">#}
{#              <div class="frame-child36"></div>#}
{#              <div class="non-formal-education3">Non-formal education</div>#}
{#            </div>#}
{#            <div class="events-and-master-classes-container">#}
{#              <h3 class="events-and-master3">Events and master classes</h3>#}
{#            </div>#}
{#          </div>#}
{#          <div class="dec-line-1-container">#}
{#            <img#}
{#              class="dec-line-1-icon3"#}
{#              loading="lazy"#}
{#              alt=""#}
{#              src="./public/decline11.svg"#}
{#            />#}
{#          </div>#}
{#          <div class="logic-gate">#}
{#            <div class="dropdown-city1">#}
{#              <div class="shape-container1">#}
{#                <div class="select-your-city1">Select your city</div>#}
{#              </div>#}
{#              <img#}
{#                class="keyboard-arrow-down1"#}
{#                alt=""#}
{#                src="./public/keyboard-arrow-down1.svg"#}
{#              />#}
{#            </div>#}
{#          </div>#}
{#          <div class="dec-line-2-wrapper">#}
{#            <img#}
{#              class="dec-line-2-icon1"#}
{#              loading="lazy"#}
{#              alt=""#}
{#              src="./public/decline21.svg"#}
{#            />#}
{#          </div>#}
{#          <div class="aside-box-inner">#}
{#            <div class="availability-parent">#}
{#              <div class="availability4">Availability</div>#}
{#              <div class="icon-check-parent">#}
{#                <input class="icon-check3" checked="{true}" type="checkbox" />#}
{##}
{#                <div class="vacant-seats-wrapper">#}
{#                  <div class="vacant-seats1">Vacant seats</div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="frame-parent59">#}
{#          <div class="bg-parent1">#}
{#            <div class="bg9"></div>#}
{#            <img#}
{#              class="baner-image-icon1"#}
{#              loading="lazy"#}
{#              alt=""#}
{#              src="./public/banerimage@2x.png"#}
{#            />#}
{##}
{#            <div class="dec-line-3-wrapper">#}
{#              <img#}
{#                class="dec-line-3-icon1"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/decline3.svg"#}
{#              />#}
{#            </div>#}
{#            <div class="frame-wrapper12">#}
{#              <div class="frame-parent60">#}
{#                <div class="frame-parent61">#}
{#                  <div class="frame-parent62">#}
{#                    <div class="frame-parent63">#}
{#                      <div class="frame-wrapper13">#}
{#                        <img#}
{#                          class="frame-child37"#}
{#                          loading="lazy"#}
{#                          alt=""#}
{#                          src="./public/group-679.svg"#}
{#                        />#}
{#                      </div>#}
{#                      <div class="weekly-at-1400">Weekly at 14:00</div>#}
{#                    </div>#}
{#                    <div class="frame-parent64">#}
{#                      <div class="vector-wrapper24">#}
{#                        <img#}
{#                          class="vector-icon20"#}
{#                          loading="lazy"#}
{#                          alt=""#}
{#                          src="./public/vector.svg"#}
{#                        />#}
{#                      </div>#}
{#                      <div class="batumi-127-luka2">#}
{#                        Batumi, 127 Luka Asatiani str.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="fgdfgdfgdfbdfbdfbdfbdfbdfbdfbd">#}
{#                    fgdfgdfgdfbdfbdfbdfbdfbdfbdfbdfbdfbfdbfdbdfbbfddfbdfbdfbdfbdfbdfbdfbvcxvxcvxcvcxvcxvcxvcxvxcvxcvx#}
{#                  </div>#}
{#                </div>#}
{#                <button class="button-registration1">#}
{#                  <div class="registration1">Registration</div>#}
{#                  <div class="vector-wrapper25">#}
{#                    <img#}
{#                      class="vector-icon21"#}
{#                      alt=""#}
{#                      src="./public/vector-11.svg"#}
{#                    />#}
{#                  </div>#}
{#                </button>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="layout-grid">#}
{#            <div class="bg10"></div>#}
{#            <h1 class="autism-speaks-to">#}
{#              “Autism Speaks to You” club for moms and children#}
{#            </h1>#}
{#            <div class="age-3-16-parent">#}
{#              <div class="age-3-16">#}
{#                <b>Age</b>#}
{#                <span class="span6">: 3-16</span>#}
{#              </div>#}
{#              <div class="free-classes-of-container1">#}
{#                <p class="free-classes-of1">#}
{#                  Free classes of the club "On a first-name basis with autism"#}
{#                  for mothers and children diagnosed with ASD: you will find a#}
{#                  lot of information, trainings and advice from a social#}
{#                  pedagogue. Free classes of the club "On a first-name basis#}
{#                  with autism" for mothers and children diagnosed with ASD: you#}
{#                  will find a lot of information, trainings and advice from a#}
{#                  social pedagogue.#}
{#                </p>#}
{#                <p class="blank-line6">&nbsp;</p>#}
{#                <p class="as-part-of1">#}
{#                  *As part of the long-term #MAS program with the support of the#}
{#                  German Federal Foreign Office and partners ASB Georgia, The#}
{#                  Samaritan Association of Georgia.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
{#      <footer class="footer13">#}
{#        <div class="description10">#}
{#          <div class="logo-ut-footer12">#}
{#            <img#}
{#              class="logo-flag-ut-icon25"#}
{#              alt=""#}
{#              src="./public/logoflagut-11.svg"#}
{#            />#}
{##}
{#            <div class="logo-text-ut25">#}
{#              <div class="group75">#}
{#                <div class="group76">#}
{#                  <b class="unite25">UNITE</b>#}
{#                </div>#}
{#                <div class="group77">#}
{#                  <b class="together25">TOGETHER</b>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="title23">#}
{#            <b class="briefly-about-us12">briefly about us</b>#}
{#            <div class="our-organization-unite14">#}
{#              Our organization "Unite Together" is aimed at creating and#}
{#              implementing projects aimed at supporting and developing#}
{#              Ukrainians affected by the war.#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="item-menu10">#}
{#          <div class="item-111">#}
{#            <b class="menu12">MENU</b>#}
{#            <div class="line-decoration24"></div>#}
{#          </div>#}
{#          <div class="about-us-parent7">#}
{#            <div class="about-us26">About us</div>#}
{#            <div class="events36">Events</div>#}
{#            <div class="projects26">Projects</div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="item-contact10">#}
{#          <div class="item-211">#}
{#            <b class="contact12">CONTACT</b>#}
{#            <div class="line-decoration25"></div>#}
{#          </div>#}
{#          <div class="contact-info">#}
{#            <div class="phone12">#}
{#              <img class="icon-phone13" alt="" src="./public/iconphone.svg" />#}
{##}
{#              <div class="phone-space1">+995 595 720 449</div>#}
{#            </div>#}
{#            <div class="e-mail13">#}
{#              <div class="icon-email-wrapper2">#}
{#                <img#}
{#                  class="icon-email13"#}
{#                  alt=""#}
{#                  src="./public/iconemail1.svg"#}
{#                />#}
{#              </div>#}
{#              <div class="uniteforukraingmailcom11">#}
{#                uniteforukrain@gmail.com#}
{#              </div>#}
{#            </div>#}
{#            <div class="address20">#}
{#              <img class="icon-geo13" alt="" src="./public/icongeo.svg" />#}
{##}
{#              <div class="tbilisi-2123-tsotne-dadiani-wrapper2">#}
{#                <div class="tbilisi-2123-tsotne13">#}
{#                  Tbilisi, 21/23 Tsotne Dadiani St., office 8#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="item-socmedia10">#}
{#          <div class="item-311">#}
{#            <b class="we-are-on12">we are on social media</b>#}
{#            <div class="decoration26"></div>#}
{#          </div>#}
{#          <div class="subscribe-to-us12">#}
{#            Subscribe to us on social media so you don't miss the release of new#}
{#            incredible projects.#}
{#          </div>#}
{#          <div class="soc-icons-footer12">#}
{#            <img class="icon-insta13" alt="" src="./public/iconinsta.svg" />#}
{##}
{#            <img class="icon-fb13" alt="" src="./public/iconfb.svg" />#}
{##}
{#            <img class="icon-tg13" alt="" src="./public/icontg.svg" />#}
{#          </div>#}
{#        </div>#}
{#        <div class="divider14"></div>#}
{#        <div class="row16">#}
{#          <div class="unite-together-all12">#}
{#            © 2023 Unite Together. All rights reserved.#}
{#          </div>#}
{#          <div class="privacy-policy12">Privacy Policy</div>#}
{#          <div class="terms-of-service12">Terms and Conditions</div>#}
{#          <div class="cookies-settings12">Cookie Policy</div>#}
{#        </div>#}
{#      </footer>#}
{#    </div>#}
{##}
{#    <script>#}
{#      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");#}
{#      var observer = new IntersectionObserver(#}
{#        (entries) => {#}
{#          for (const entry of entries) {#}
{#            if (entry.isIntersecting || entry.intersectionRatio > 0) {#}
{#              const targetElement = entry.target;#}
{#              targetElement.classList.add("animate");#}
{#              observer.unobserve(targetElement);#}
{#            }#}
{#          }#}
{#        },#}
{#        {#}
{#          threshold: 0.15,#}
{#        }#}
{#      );#}
{#      #}
{#      for (let i = 0; i < scrollAnimElements.length; i++) {#}
{#        observer.observe(scrollAnimElements[i]);#}
{#      }#}
{#      </script>#}
{#  </body>#}
{#</html>#}
