{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="about-us-contacts" data-animate-on-scroll>
      <section class="page-header4">
        <img class="bg-icon4" loading="lazy" alt="" src="{% static 'img/aboutus/bg@2x.png' %}" />

        <div class="sec-title4">
          <h2 class="sublitle4">Subtitle</h2>
          <div class="content4">
            <h1 class="events16">About us</h1>
            <div class="discover-the-diverse-range-of-wrapper1">
              <h2 class="discover-the-diverse4">
                Unite Together is dedicated to supporting and uplifting
                Ukrainian communities in Georgia through sustainable projects
                and programs.
              </h2>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-contacts">
        <div class="bg-blue-contacts"></div>
        <div class="aside-box6">
          <div class="rectangle-bg6"></div>
          {% for category, link in links.items %}
              <a class="sport1{% if link in request.path %}-active{% endif %}" href="{% url  link %}">{{ category }}</a>
          {% endfor %}
        </div>
        <div class="left-contacts">
          <div class="bg-white-contacts"></div>
          <div class="contacts-parent">
            <h1 class="contacts4">Contacts</h1>
            <h2 class="unite-together-is">
              Unite Together is a non-profit Ukrainian organization that aims to
              unite people to create and implement projects that support and
              develop Ukrainians affected by the war for sustainable systemic
              changes in their lives and society.
            </h2>
          </div>
          <div class="frame-parent25">
            <div class="bg-contacts-parent">
              <div class="bg-contacts"></div>
              <h1 class="contact-information">Contact information</h1>
              <div class="frame-parent26">
                <div class="icon-phone-parent">
                  <img
                    class="icon-phone5"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/iconphone1.svg' %}"
                  />

                  <div class="div9">+995 551 146 364</div>
                </div>
                <div class="frame-parent27">
                  <div class="frame-wrapper3">
                    <div class="icon-email-parent">
                      <img
                        class="icon-email5"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/aboutus/iconemail2.svg' %}"
                      />

                      <img
                        class="icon-geo5"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/aboutus/icongeo1.svg' %}"
                      />
                    </div>
                  </div>
                  <div class="uniteforukraingmailcom-parent">
                    <h2 class="uniteforukraingmailcom2">
                      uniteforukrain@gmail.com
                    </h2>
                    <div class="tbilisi-2123-tsotne-dadiani-parent">
                      <h2 class="tbilisi-2123-tsotne5">
                        Tbilisi, 21/23 Tsotne Dadiani St., office 8
                      </h2>
                      <div class="see-on-the">See on the map</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="icon-insta-parent">
                <img
                  class="icon-insta5"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/iconinsta1.svg' %}"
                />

                <img
                  class="icon-fb5"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/iconfb1.svg' %}"
                />

                <img
                  class="icon-tg5"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/icontg1.svg' %}"
                />
              </div>
            </div>
            <div class="have-a-question-just-write-us-parent">
              <h1 class="have-a-question-container">
                <p class="have-a-question">Have a question?</p>
                <p class="just-write-us">Just write us a message!</p>
              </h1>
              <div class="frame-wrapper4">
                <div class="frame-parent28">
                  <div class="frame-parent29">
                    <div class="first-name-parent">
                      <div class="first-name">First Name</div>
                      <div class="vector-parent">
                        <img
                          class="frame-child1"
                          alt=""
                          src="{% static 'img/aboutus/vector-4.svg' %}"
                        />

                        <div class="email-parent">
                          <div class="email">Email</div>
                          <img
                            class="frame-child2"
                            alt=""
                            src="{% static 'img/aboutus/vector-4.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="last-name-parent">
                      <div class="last-name">Last Name</div>
                      <div class="vector-group">
                        <img
                          class="frame-child3"
                          alt=""
                          src="{% static 'img/aboutus/vector-4.svg' %}"
                        />

                        <div class="phone-number-parent">
                          <div class="phone-number">Phone Number</div>
                          <img
                            class="frame-child4"
                            alt=""
                            src="{% static 'img/aboutus/vector-4.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="select-subject-parent">
                    <div class="select-subject">Select Subject?</div>
                    <div class="frame-parent30">
                      <div class="frame-parent31">
                        <div class="frame-parent32">
                          <div class="frame-parent33">
                            <div class="frame-parent34">
                              <div class="frame-parent35">
                                <div
                                  class="teenyiconstick-circle-solid-wrapper"
                                >
                                  <img
                                    class="teenyiconstick-circle-solid"
                                    loading="lazy"
                                    alt=""
                                    src="{% static 'img/aboutus/teenyiconstickcirclesolid.svg' %}"
                                  />
                                </div>
                                <div class="i-need-help">I need help</div>
                              </div>
                              <div class="frame-parent36">
                                <div
                                  class="teenyiconstick-circle-solid-container"
                                >
                                  <img
                                    class="teenyiconstick-circle-solid1"
                                    alt=""
                                    src="{% static 'img/aboutus/teenyiconstickcirclesolid-1.svg' %}"
                                  />
                                </div>
                                <div class="i-want-to">I want to help</div>
                              </div>
                            </div>
                            <div class="frame-wrapper5">
                              <div class="frame-parent37">
                                <div class="teenyiconstick-circle-solid-frame">
                                  <img
                                    class="teenyiconstick-circle-solid2"
                                    alt=""
                                    src="{% static 'img/aboutus/teenyiconstickcirclesolid-1.svg' %}"
                                  />
                                </div>
                                <div class="apply-for-job">Apply for job</div>
                              </div>
                            </div>
                          </div>
                          <div class="message-parent">
                            <div class="message">Message</div>
                            <div class="write-your-message">
                              Write your message..
                            </div>
                          </div>
                        </div>
                        <div class="star-set">
                          <div class="arcs-assemblage">
                            <div class="oval-gathering">
                              <img
                                class="teenyiconstick-circle-solid3"
                                alt=""
                                src="{% static 'img/aboutus/teenyiconstickcirclesolid-1.svg' %}"
                              />
                            </div>
                            <div class="complaints-and-suggestions">
                              Complaints and suggestions
                            </div>
                          </div>
                          <div class="arcs-assemblage1">
                            <div class="teenyiconstick-circle-solid-wrapper1">
                              <img
                                class="teenyiconstick-circle-solid4"
                                alt=""
                                src="{% static 'img/aboutus/teenyiconstickcirclesolid-4.svg' %}"
                              />
                            </div>
                            <div class="partnership-and-collaboration">
                              Partnership and collaboration
                            </div>
                          </div>
                        </div>
                      </div>
                      <img
                        class="frame-child5"
                        alt=""
                        src="{% static 'img/aboutus/vector-9.svg' %}"
                      />
                    </div>
                    <div class="button-wrapper">
                      <button class="button">
                        <div class="send-message">Send Message</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock %}