{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="about-us12" data-animate-on-scroll>
      <div class="about-us-child"></div>
      <div class="about-us-item"></div>
      <div class="page-header5">
        <img class="bg-icon5" loading="lazy" alt="" src="{% static 'img/aboutus/bg@2x.png' %}" />

        <div class="sec-title5">
          <div class="sublitle5">Subtitle</div>
          <div class="content5">
            <h1 class="events19">About us</h1>
            <div class="discover-the-diverse-range-of-wrapper2">
              <div class="discover-the-diverse5">
                Unite Together is dedicated to supporting and uplifting
                Ukrainian communities in Georgia through sustainable projects
                and programs.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-us-inner"></div>
      <main class="bg-parent">
        <div class="bg3"></div>
        <div class="aside-box6">
          <div class="rectangle-bg6"></div>
          {% for category, link in links.items %}
              <a class="sport1{% if link in request.path %}-active{% endif %}" href="{% url  link %}">{{ category }}</a>
          {% endfor %}
        </div>
        <section class="while-loop">
          <div class="for-loop">
            <div class="variable-store">
              <h1 class="history-of-unite2">History of Unite Together</h1>
              <div class="unite-together-was-container1">
                <p class="unite-together-was1">
                  "Unite Together" was founded by an initiative group of
                  Ukrainians who sought to contribute to supporting their
                  compatriots during the war. The beginning of its history is
                  connected with the purchase and shipment of necessary
                  medicines to Ukraine, collected during charity concerts and
                  events, analysis of the needs and support of Ukrainians who
                  are in Georgia. Over time, the organization has evolved from a
                  group of volunteers gathered during a vacation in Georgia into
                  a structured organization with a clearly defined mission and
                  strategy to help Ukrainians in Georgia. In June 2022, the
                  organization conducted an extensive survey among Ukrainians
                  living in Georgia, which allowed it to receive its first grant
                  from European partners. In addition, on September 1, 2022,
                  Unite Together received legal status as a non-governmental
                  organization (NGO).
                </p>
                <p class="blank-line4">&nbsp;</p>
              </div>
            </div>
            <div class="frame-parent39">
              <div class="frame-parent40">
                <div class="bg-wrapper">
                  <div class="bg4"></div>
                </div>
                <img
                  class="frame-child6"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/rectangle-350@2x.png' %}"
                />
              </div>
              <div class="mission-parent">
                <h2 class="mission1">Mission:</h2>
                <div class="our-organization-unite-togeth-group">
                  <div class="our-organization-unite7">
                    Our organization "Unite Together" is aimed at creating and
                    implementing projects aimed at supporting and developing
                    Ukrainians affected by the war. Our main goal is to achieve
                    sustainable systemic change in their lives and society.
                  </div>
                  <div class="error-handler2">
                    <h2 class="vision1">Vision:</h2>
                    <div class="we-see-a1">
                      We see a future in which Ukrainians who survived the
                      tragedy of war have successfully integrated into society.
                      They are motivated to constantly develop and actively
                      participate in the formation of civil society and
                      sustainable social change. Our vision is a society in
                      which every person has equal opportunities for
                      self-realization and contribution to the well-being of
                      society.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="switch-statement">
              <div class="values-parent">
                <h2 class="values1">Values:</h2>
                <div class="frame-parent41">
                  <div class="decoration-parent">
                    <div class="decoration13"></div>
                    <div class="frame-wrapper6">
                      <div class="frame-parent42">
                        <div class="frame-wrapper7">
                          <div class="sustainability-and-responsibil-parent">
                            <h3 class="sustainability-and-responsibil1">
                              Sustainability and responsibility:
                            </h3>
                            <div class="we-attach-great-container1">
                              <p class="we-attach-great1">
                                We attach great importance to creating
                                sustainable conditions for the life and
                                development of those affected by war. We are
                                responsible for our obligations to beneficiaries
                                and partners.
                              </p>
                              <p class="blank-line5">&nbsp;</p>
                            </div>
                          </div>
                        </div>
                        <div class="frame-wrapper8">
                          <div class="cooperation-and-partnership-group">
                            <h3 class="cooperation-and-partnership1">
                              Cooperation and partnership:
                            </h3>
                            <div class="we-value-mutually1">
                              We value mutually beneficial and productive
                              cooperation with our partners and stakeholders. We
                              believe that only through joint efforts can we
                              achieve our goals and create positive change.
                            </div>
                          </div>
                        </div>
                        <div class="compassion-and-empathy-parent">
                          <h3 class="compassion-and-empathy1">
                            Compassion and Empathy:
                          </h3>
                          <div class="in-our-work1">
                            In our work, we show deep compassion and empathy for
                            everyone who needs our support and help. We listen
                            and understand the needs of our beneficiaries,
                            striving to provide them with not only material but
                            also emotional support.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper9">
                    <img
                      class="group-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'img/aboutus/group-7301.svg' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="changes-are-created-here-parent">
              <h2 class="changes-are-created1">Changes are created here:</h2>
              <div class="at-the-initial-stage-of-unite-parent">
                <div class="at-the-initial1">
                  At the initial stage of Unite Together's activities, the
                  organization focused on meeting the humanitarian needs of
                  Ukrainians in Georgia. However, over time, the goals of the
                  organization expanded, and in addition to the humanitarian
                  mission, the task of developing and integrating Ukrainians
                  into Georgian society was added.
                </div>
                <div class="frame-parent43">
                  <div class="frame-parent44">
                    <div class="frame-parent45">
                      <div class="ellipse-parent">
                        <div class="frame-child7"></div>
                        <h3 class="financial-support-for1">
                          Financial support for Ukrainians:
                        </h3>
                      </div>
                      <div class="text-wrapper">
                        <div class="text7">
                          the #UkrCash program, supported by ASB, provided
                          monthly financial aid to over 3,000 Ukrainians,
                          totaling more than 2 million euros this year.
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent46">
                      <div class="ellipse-group">
                        <div class="frame-child8"></div>
                        <h3 class="help-with-utility1">
                          Help with utility bills:
                        </h3>
                      </div>
                      <div class="text-container">
                        <div class="text8">
                          launch of the #Winterization program with the support
                          of ASB and PIN, aimed at covering utility costs for
                          670 families.
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent47">
                      <div class="ellipse-container">
                        <div class="frame-child9"></div>
                        <h3 class="support-for-ukrainian1">
                          Support for Ukrainian communities:
                        </h3>
                      </div>
                      <div class="text-frame">
                        <div class="text9">
                          reimbursement of 50% of housing costs for 90 Ukrainian
                          families with PIN support.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="data-aggregator2">
                    <div class="array-filter">
                      <div class="list-creator">
                        <div class="tuple-splitter">
                          <div class="function-applier"></div>
                        </div>
                        <h3 class="educational-and-cultural1">
                          Educational and cultural programs:
                        </h3>
                      </div>
                      <div class="map-reducer">
                        <div class="graph-builder"></div>
                        <div class="tree-traverser">
                          <div class="network-analyzer">
                            implementation of programs for children and the
                            elderly in Tbilisi, Batumi, and Kutaisi, including
                            educational events, sports, entertainment, language
                            lessons, and master classes.
                          </div>
                        </div>
                      </div>
                      <div class="pattern-matcher1">
                        <div class="rule-engine">
                          <div class="data-validator"></div>
                          <h3 class="sports-initiatives1">
                            Sports initiatives:
                          </h3>
                        </div>
                        <div class="log-writer">
                          <div class="event-emitter">
                            the #UniteForActiveSports program, supported by PIN
                            in Tbilisi and Batumi, includes sports activities
                            like rock climbing, dancing, SUP surfing, and
                            camping.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="condition-splitter2">
                      <div class="value-comparator1">
                        <div class="value-comparator-child"></div>
                        <h3 class="support-for-older1">
                          Support for older people:
                        </h3>
                      </div>
                      <div class="date-extractor">
                        <div class="string-concatenator">
                          implementation of the #HandMade program with support
                          from CARE, including workshops, excursions and visits
                          to cultural events such as ballet.
                        </div>
                      </div>
                    </div>
                    <div class="condition-splitter3">
                      <div class="ellipse-parent1">
                        <div class="frame-child10"></div>
                        <h3 class="medical-provision1">Medical provision:</h3>
                      </div>
                      <div class="text-wrapper1">
                        <div class="text10">
                          of drugs for the treatment of thyroid diseases in
                          Ukraine and Georgia (1260 beneficiaries)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listener-registry">
                    <h3 class="less-text">LESS TEXT</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>

{% endblock %}