{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="about-us-history" data-animate-on-scroll>
      <div class="page-header">
        <img class="bg-icon" loading="lazy" alt="" src="{% static 'img/bg@2x.png'%}" />

        <div class="sec-title">
          <div class="sublitle">Subtitle</div>
          <div class="content">
            <h1 class="events1">About us</h1>
            <div class="discover-the-diverse-range-of-wrapper">
              <div class="discover-the-diverse">
                Unite Together is dedicated to supporting and uplifting
                Ukrainian communities in Georgia through sustainable projects
                and programs.
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="about-us-bg">

        <div class="bg-blue"></div>
        <div class="about-us-aside-box">
          <div class="rectangle-bg"></div>
          <button class="item-active">
            <div class="item-active-child"></div>
            <div class="history-of-unite">History of Unite Together</div>
          </button>
          <div class="list-merger">
            <h3 class="documents">Documents</h3>
          </div>
          <div class="image-stacker">
            <h3 class="partners">Partners</h3>
          </div>
          <div class="formula-processor">
            <h3 class="contacts">Contacts</h3>
          </div>
        </div>
        <section class="tree-builder-wrapper">
          <div class="tree-builder">
            <div class="value-comparator">
              <h1 class="history-of-unite1">History of Unite Together</h1>
              <div class="unite-together-was-container">
                <p class="unite-together-was">
                  "Unite Together" was founded by an initiative group of
                  Ukrainians who sought to contribute to supporting their
                  compatriots during the war. The beginning of its history is
                  connected with the purchase and shipment of necessary
                  medicines to Ukraine, collected during charity concerts and
                  events, analysis of the needs and support of Ukrainians who
                  are in Georgia. Over time, the organization has evolved from a
                  group of volunteers gathered during a vacation in Georgia into
                  a structured organization with a clearly defined mission and
                  strategy to help Ukrainians in Georgia. In June 2022, the
                  organization conducted an extensive survey among Ukrainians
                  living in Georgia, which allowed it to receive its first grant
                  from European partners. In addition, on September 1, 2022,
                  Unite Together received legal status as a non-governmental
                  organization (NGO).
                </p>
                <p class="blank-line">&nbsp;</p>
              </div>
            </div>
            <div class="symbol-assembler">
              <img
                class="alignment-handler-icon"
                loading="lazy"
                alt=""
                src="{% static 'img/rectangle-350@2x.png'%}"
              />

              <div class="size-scaler">
                <h2 class="mission">Mission:</h2>
                <div class="our-organization-unite-togeth-parent">
                  <div class="our-organization-unite">
                    Our organization "Unite Together" is aimed at creating and
                    implementing projects aimed at supporting and developing
                    Ukrainians affected by the war. Our main goal is to achieve
                    sustainable systemic change in their lives and society.
                  </div>
                  <div class="image-editor">
                    <h2 class="vision">Vision:</h2>
                    <div class="we-see-a">
                      We see a future in which Ukrainians who survived the
                      tragedy of war have successfully integrated into society.
                      They are motivated to constantly develop and actively
                      participate in the formation of civil society and
                      sustainable social change. Our vision is a society in
                      which every person has equal opportunities for
                      self-realization and contribution to the well-being of
                      society.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="combination-creator">
              <div class="pattern-matcher">
                <h2 class="values">Values:</h2>
              </div>
              <div class="image-recognizer-parent">
                <div class="image-recognizer">
                  <div class="connection-maker-wrapper">
                    <div class="connection-maker">
                      <div class="decoration"></div>
                      <div class="shape-transformer-parent">
                        <div class="shape-transformer">
                          <div class="symbol-swapper">
                            <h3 class="sustainability-and-responsibil">
                              Sustainability and responsibility:
                            </h3>
                            <div class="we-attach-great-container">
                              <p class="we-attach-great">
                                We attach great importance to creating
                                sustainable conditions for the life and
                                development of those affected by war. We are
                                responsible for our obligations to beneficiaries
                                and partners.
                              </p>
                              <p class="blank-line1">&nbsp;</p>
                            </div>
                          </div>
                        </div>
                        <div class="spacing-standardizer">
                          <div class="cooperation-and-partnership-parent">
                            <h3 class="cooperation-and-partnership">
                              Cooperation and partnership:
                            </h3>
                            <div class="we-value-mutually">
                              We value mutually beneficial and productive
                              cooperation with our partners and stakeholders. We
                              believe that only through joint efforts can we
                              achieve our goals and create positive change.
                            </div>
                          </div>
                        </div>
                        <div class="data-joiner">
                          <h3 class="compassion-and-empathy">
                            Compassion and Empathy:
                          </h3>
                          <div class="in-our-work">
                            In our work, we show deep compassion and empathy for
                            everyone who needs our support and help. We listen
                            and understand the needs of our beneficiaries,
                            striving to provide them with not only material but
                            also emotional support.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="transformer-engine">
                    <h2 class="changes-are-created">
                      Changes are created here:
                    </h2>
                    <div class="at-the-initial">
                      At the initial stage of Unite Together's activities, the
                      organization focused on meeting the humanitarian needs of
                      Ukrainians in Georgia. However, over time, the goals of
                      the organization expanded, and in addition to the
                      humanitarian mission, the task of developing and
                      integrating Ukrainians into Georgian society was added.
                    </div>
                  </div>
                </div>
                <div class="builder-engine">
                  <div class="manager-engine">
                    <div class="processor-pool">
                      <div class="filter-bank">
                        <div class="bg-white"></div>
                      </div>
                      <img
                        class="processor-pool-child"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/group-730.svg'%}"
                      />
                    </div>
                    <div class="design-center">
                      <div class="data-processor">
                        <div class="image-analyzer-parent">
                          <div class="image-analyzer">
                            <div class="shape-combiner"></div>
                            <h3 class="financial-support-for">
                              Financial support for Ukrainians:
                            </h3>
                          </div>
                          <div class="color-matcher">
                            <div class="size-scaler1"></div>
                            <div class="position-aligner">
                              <div class="text">
                                the #UkrCash program, supported by ASB, provided
                                monthly financial aid to over 3,000 Ukrainians,
                                totaling more than 2 million euros this year.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="link-creator-parent">
                          <div class="link-creator">
                            <div class="shape-splitter"></div>
                            <h3 class="help-with-utility">
                              Help with utility bills:
                            </h3>
                          </div>
                          <div class="shape-joiner-wrapper">
                            <div class="shape-joiner">
                              launch of the #Winterization program with the
                              support of ASB and PIN, aimed at covering utility
                              costs for 670 families.
                            </div>
                          </div>
                        </div>
                        <div class="color-picker-parent">
                          <div class="color-picker">
                            <h3 class="support-for-ukrainian">
                              Support for Ukrainian communities:
                            </h3>
                            <div class="position-saver">
                              reimbursement of 50% of housing costs for 90
                              Ukrainian families with PIN support.
                            </div>
                          </div>
                          <div class="frame-group">
                            <div class="link-manager-parent">
{#                              <div class="link-manager">#}
{#                                <h3 class="educational-and-cultural">#}
{#                                  Educational and cultural programs:#}
{#                                </h3>#}
{#                                <h3 class="entire-text">ENTIRE TEXT</h3>#}
{#                              </div>#}
                              <div class="text1">
                                implementation of programs for children and the
                                elderly in Tbilisi, Batumi, and Kutaisi,
                                including educational events, sports,
                                entertainment, language lessons, and master
                                classes.
                              </div>
                            </div>
                            <div class="shape-merger">
                              <h3 class="sports-initiatives">
                                Sports initiatives:
                              </h3>
                              <div class="color-schemer">
                                the #UniteForActiveSports program, supported by
                                PIN in Tbilisi and Batumi, includes sports
                                activities like rock climbing, dancing, SUP
                                surfing, and camping.
                              </div>
                            </div>
                          </div>
                          <div class="color-picker1">
                            <h3 class="support-for-older">
                              Support for older people:
                            </h3>
                            <div class="text2">
                              implementation of the #HandMade program with
                              support from CARE, including workshops, excursions
                              and visits to cultural events such as ballet.
                            </div>
                          </div>
                          <div class="color-picker2">
                            <h3 class="medical-provision">
                              Medical provision:
                            </h3>
                            <div class="text3">
                              of drugs for the treatment of thyroid diseases in
                              Ukraine and Georgia (1260 beneficiaries)
                            </div>
                          </div>
{#                          <div class="size-sequencer"></div>#}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>





</div>
{% endblock %}
