{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="about-us-partners" data-animate-on-scroll>
      <div class="about-us-partners-child"></div>
      <div class="about-us-partners-item"></div>

      <div class="page-header3">
        <img class="bg-icon3" loading="lazy" alt="" src="{% static 'img/aboutus/bg@2x.png' %}" />

        <div class="sec-title3">
          <div class="sublitle3">Subtitle</div>
          <div class="content3">
            <h1 class="events13">About us</h1>
            <div class="assets-panel">
              <div class="discover-the-diverse3">
                Unite Together is dedicated to supporting and uplifting
                Ukrainian communities in Georgia through sustainable projects
                and programs.
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="sec-partners">
        <div class="bg2"></div>
        <div class="aside-box6">
          <div class="rectangle-bg6"></div>
          {% for category, link in links.items %}
              <a class="sport1{% if link in request.path %}-active{% endif %}" href="{% url  link %}">{{ category }}</a>
          {% endfor %}
        </div>
        <section class="right1">
          <div class="bg-white1"></div>
          <div class="partners-and-collaboration-parent">
            <h1 class="partners-and-collaboration2">
              Partners and collaboration
            </h1>
            <div class="this-page-features">
              This page features organizations and companies that support us in
              our mission to help those in need and contribute significantly to
              the development of our projects.
            </div>
          </div>
          <div class="frame-parent18">
            <div class="frame-parent19">
              <div class="image-4-parent">
                <img
                  class="image-4-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/image-4@2x.png' %}"
                />

                <div class="rectangle-wrapper">
                  <img
                    class="frame-inner"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/rectangle-8@2x.png' %}"
                  />
                </div>
                <div class="error-handler1">
                  <img
                    class="aktion-deutschland-hilft-logo-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/aktiondeutschlandhilftlogosvg-1@2x.png' %}"
                  />

                  <div class="error-handler-inner">
                    <img
                      class="rectangle-icon"
                      alt=""
                      src="{% static 'img/aboutus/rectangle-8-1@2x.png' %}"
                    />
                  </div>
                  <img
                    class="ssk-logo-1"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/ssk-logo-1@2x.png' %}"
                  />
                </div>
                <div class="image-2-wrapper">
                  <img
                    class="image-2-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/image-2@2x.png' %}"
                  />
                </div>
                <div class="world-vision-wrapper">
                  <img
                    class="world-vision-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/worldvision@2x.png' %}"
                  />
                </div>
                <div class="action-against-wrapper">
                  <img
                    class="action-against-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'img/aboutus/actionagainst@2x.png' %}"
                  />
                </div>
                <img
                  class="image-1-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/image-1@2x.png' %}"
                />
              </div>
              <div class="frame-wrapper2">
                <div class="frame-parent20">
                  <div class="embassy-of-ukraine-in-georgia-parent">
                    <h3 class="embassy-of-ukraine">
                      Embassy of Ukraine in Georgia 
                    </h3>
                    <div class="the-embassy-promotes">
                      The Embassy promotes the development of interstate
                      relations between Ukraine and Georgia at all levels in
                      order to ensure harmonious development of mutual
                      relations, as well as cooperation on issues of mutual
                      interest. The Embassy also performs consular functions.
                    </div>
                  </div>
                  <div class="federal-foreign-office-parent">
                    <h3 class="federal-foreign-office">
                      Federal Foreign office
                    </h3>
                    <div class="with-offices-in">
                      With offices in Berlin and Bonn and about 230 missions
                      abroad, the Federal Foreign Office manages Germany's
                      global relations. It promotes extensive interactions not
                      only in politics but also in business, culture, science,
                      and more, reflecting Germany's deep integration into
                      international networks.
                    </div>
                  </div>
                  <div class="aktion-deutschland-hilft-parent">
                    <h3 class="aktion-deutschland-hilft">
                      Aktion Deutschland Hilft
                    </h3>
                    <div class="in-2001-aktion">
                      In 2001, Aktion Deutschland Hilft was founded by ten
                      renowned relief aid organizations in order to provide fast
                      and effective help in severe catastrophes. Today, our
                      alliance of 23 aid organizations is active in over 100
                      countries worldwide.
                    </div>
                  </div>
                  <div class="asb-georgia-parent">
                    <h3 class="asb-georgia">ASB Georgia</h3>
                    <div class="since-1992-asb">
                      Since 1992, ASB has supported Georgia initially with
                      humanitarian aid and later by enhancing agriculture
                      through irrigation projects. Post-1997, its focus shifted
                      to development, emphasizing disaster preparedness and
                      strengthening local capacities, with funding from
                      international and German sources.
                    </div>
                  </div>
                  <div class="ssk-georgia-parent">
                    <h3 class="ssk-georgia">SSK Georgia</h3>
                    <div class="founded-in-1992">
                      Founded in 1992, the Samaritan Association of Georgia
                      (SSK) re-registered in 2010 as an independent NGO focusing
                      on refugee reintegration, disaster prevention, and child
                      welfare. In 2011, SSK launched a coalition to support
                      disabled children and initiated a mobile nursing service
                      in Tbilisi, also providing first-aid training and job
                      creation for displaced individuals.
                    </div>
                  </div>
                  <div class="care-caucasus-parent">
                    <h3 class="care-caucasus">CARE Caucasus</h3>
                    <div class="care-international-a">
                      CARE International, a 75-year-old global confederation,
                      fights poverty and social injustice, focusing on
                      empowering women and girls. We collaborate with
                      communities to address poverty's roots through innovative,
                      locally-led solutions. Our approach emphasizes
                      transparency, accountability, and quality.
                    </div>
                  </div>
                  <div class="world-vision-georgia-parent">
                    <h3 class="world-vision-georgia">World Vision Georgia</h3>
                    <div class="for-over-70">
                      For over 70 years, World Vision has cared for children and
                      the needy. From its founding in 1947, when Bob Pierce
                      helped a Chinese girl, to rescuing Vietnamese refugees in
                      1979, World Vision reaches where needed most. Starting in
                      Oregon, it’s now the largest Christian NGO globally,
                      operating in nearly 100 countries.
                    </div>
                  </div>
                  <div class="action-against-hunger-parent">
                    <h3 class="action-against-hunger">Action Against Hunger</h3>
                    <div class="founded-on-the">
                      Founded on the principles of humanism, freedom, equality
                      and solidarity, promotes human dignity and the Universal
                      Declaration of Human Rights. Active in many countries and
                      committed to promoting a society enriched by diversity, it
                      addresses critical social issues, education and
                      humanitarian assistance with the support of the global
                      community.
                    </div>
                  </div>
                  <div class="people-in-need-parent">
                    <h3 class="people-in-need">People in Need</h3>
                    <div class="founded-on-the1">
                      Founded on the principles of humanism, freedom, equality
                      and solidarity, promotes human dignity and the Universal
                      Declaration of Human Rights. Active in many countries and
                      committed to promoting a society enriched by diversity, it
                      addresses critical social issues, education and
                      humanitarian assistance with the support of the global
                      community.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent21">
              <div class="image-3-wrapper">
                <img
                  class="image-3-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'img/aboutus/image-3@2x.png' %}"
                />
              </div>
              <div class="adra-parent">
                <h3 class="adra">ADRA</h3>
                <div class="the-global-humanitarian">
                  The global humanitarian arm of the Seventh-day Adventist
                  Church, this organization serves a vast community with the
                  world’s largest health and education network. It offers relief
                  and development assistance in over 120 countries to all
                  people, regardless of ethnicity, politics, gender, or
                  religion.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent22">
            <div class="n-1-wrapper">
              <img
                class="n-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'img/aboutus/312594687-5691315354260419-4598275934728487202-n-1@2x.png' %}"
              />
            </div>
            <div class="helping-hand-parent">
              <h3 class="helping-hand">Helping Hand</h3>
              <div class="this-project-aims">
                This project aims to activate youth in Marnueli, Borjomi, and
                Nukriani through volunteerism, providing trainings and small
                grants for projects focused on integrating people with limited
                opportunities. Initiatives include volunteer services for day
                centers and those in need, and producing a motivational video,
                "Become a Volunteer, You Too".
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

{% endblock %}