{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="about-us-contacts" data-animate-on-scroll>
      <section class="page-header4">
        <img class="bg-icon4" loading="lazy" alt="" src="{% static 'img/aboutus/bg@2x-1600px.jpg' %}" />

        <div class="sec-title4">
          <h2 class="sublitle4">Subtitle</h2>
          <div class="content4">
            <h1 class="events16">About us</h1>
            <div class="discover-the-diverse-range-of-wrapper1">
              <h2 class="discover-the-diverse4">
                Unite Together is dedicated to supporting and uplifting
                Ukrainian communities in Georgia through sustainable projects
                and programs.
              </h2>
            </div>
          </div>
        </div>
      </section>


      <main class="two-columns-with-selectors">
            <!-- BEGIN OF MAIN PART -->

            <!-- Selectors to be copied to all About pages -->
            <div class="left-selector-box">
                {% for category, link in links.items %}
                    <a class="left-selector-text{% if link in request.path %}-active{% endif %}"
                       href="{% url  link %}">{{ category }}</a>
                {% endfor %}
            </div>


 <section class="right-part-of-static-page">
            <div class="contacts-parent">
                <h1 class="contacts4">Contacts</h1>
                <h2 class="unite-together-is">
                    Unite Together is a non-profit Ukrainian organization that aims to
                    unite people to create and implement projects that support and
                    develop Ukrainians affected by the war for sustainable systemic
                    changes in their lives and society.
                </h2>
            </div>
            <div class="frame-parent25">
                <div class="bg-contacts-parent">
                    <div class="bg-contacts"></div>
                    <h1 class="contact-information">Contact information</h1>
                    <div class="frame-parent26">
                        <div class="icon-phone-parent">
                            <img class="icon-phone5" loading="lazy" alt="" src="{% static 'img/aboutus/iconphone1.svg' %}" />
                            <div class="div9">+995 551 146 364</div>
                        </div>
                        <div class="frame-parent27">
                            <div class="frame-wrapper3">
                                <div class="icon-email-parent">
                                    <img class="icon-email5" loading="lazy" alt="" src="{% static 'img/aboutus/iconemail2.svg' %}" />
                                    <img class="icon-geo5" loading="lazy" alt="" src="{% static 'img/aboutus/icongeo1.svg' %}" />
                                </div>
                            </div>
                            <div class="uniteforukraingmailcom-parent">
                                <h2 class="uniteforukraingmailcom2">uniteforukrain@gmail.com</h2>
                                <div class="tbilisi-2123-tsotne-dadiani-parent">
                                    <h2 class="tbilisi-2123-tsotne5">Tbilisi, 21/23 Tsotne Dadiani St., office 8</h2>
                                    <p><a href="https://www.google.com/maps?q=21/23+Tsotne+Dadiani+St.,+Tbilisi,+office+8"
                                          class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">See on the map</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icon-insta-parent">
                        <img class="icon-insta5" loading="lazy" alt="" src="{% static 'img/aboutus/iconinsta1.svg' %}" />
                        <img class="icon-fb5" loading="lazy" alt="" src="{% static 'img/aboutus/iconfb1.svg' %}" />
                        <img class="icon-tg5" loading="lazy" alt="" src="{% static 'img/aboutus/icontg1.svg' %}" />
                    </div>
                </div>
                <div class="have-a-question-just-write-us-parent">
                    <h1 class="have-a-question-container">
                        <p class="have-a-question">Have a question?</p>
                        <p class="just-write-us">Just write us a message!</p>
                    </h1>
                    <div class="frame-wrapper4">
                        <form method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="frame-parent28">
                                <div class="frame-parent29">
                                    <div class="first-name-parent">
                                        {{ form.first_name.label_tag }}
                                        {{ form.first_name }}
                                    </div>
                                    <div class="vector-parent">
                                        <div class="email-parent">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="last-name-parent">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    <div class="vector-group">
                                        <div class="phone-number-parent">
                                            {{ form.phone_number.label_tag }}
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-subject-parent">
                                {{ form.subject.label_tag }}
                                {{ form.subject }}
                                <div class="message-parent">
                                    {{ form.message.label_tag }}
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button class="button" type="submit">
                                    <div class="send-message">Send Message</div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
      </main>
    </div>

{% endblock %}