body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-inter: Inter;
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-sm: 14px;
    --font-size-smi: 13px;
    --font-size-lg: 18px;
    --font-size-3xs-9: 9.9px;
    --font-size-mid: 17px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-17xl: 36px;
    --font-size-10xl: 29px;
    --font-size-3xl: 22px;
    --font-size-37xl: 56px;
    --font-size-26xl: 45px;
    --font-size-15xl: 34px;
    --font-size-base-9: 15.9px;
    --font-size-8xl-5: 27.5px;
    --font-size-mini: 15px;
    --font-size-xs: 12px;
    --font-size-6xs: 7px;
    --font-size-5xs: 8px;
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;

    /* Colors */
    --neutral-background: #fff;
    --primary-text: #464646;
    --color-darkslategray-200: rgba(70, 70, 70, 0.8);
    --color-silver-100: #b8b8b8;
    --color-silver-200: rgba(196, 196, 196, 0);
    --color-cornflowerblue-200: #2682e0;
    --color-cornflowerblue-100: #186ac1;
    --color-cornflowerblue-300: #1367bf;
    --color-ghostwhite: #f5f9fe;
    --accent-blue: #005bbb;
    --color-gray: #fafafa;
    --color-gray-100: #8d8d8d;
    --color-gold-100: #feda26;
    --color-gold-200: #ffd500;
    --color-whitesmoke: #eee;
    --color-lightcoral: rgba(245, 135, 135, 0.69);

    /* Gaps */
    --gap-6xl: 25px;
    --gap-5xl: 24px;
    --gap-31xl: 50px;
    --gap-xl: 20px;
    --gap-lgi: 19px;
    --gap-mini: 15px;
    --gap-mid: 17px;
    --gap-3xs: 10px;
    --gap-3xs-1: 9.1px;
    --gap-7xl-6: 26.6px;
    --gap-7xs-7: 5.7px;
    --gap-35xl: 54px;
    --gap-8xl: 27px;
    --gap-11xl: 30px;
    --gap-5xs-8: 7.8px;
    --gap-9xl-8: 28.8px;
    --gap-8xs: 5px;
    --gap-mini-3: 14.3px;
    --gap-sm-2: 13.2px;
    --gap-6xl-9: 25.9px;
    --gap-5xl-3: 24.3px;
    --gap-base: 16px;
    --gap-3xs-4: 9.4px;
    --gap-9xs-5: 3.5px;
    --gap-163xl-1: 182.1px;
    --gap-7xs-5: 5.5px;
    --gap-smi-3: 12.3px;
    --gap-2xs: 11px;
    --gap-10xs: 3px;
    --gap-11xs-6: 1.6px;
    --gap-base-9: 16.9px;
    --gap-11xl-3: 30.3px;
    --gap-15xl-8: 34.8px;
    --gap-21xl: 40px;
    --gap-smi: 13px;
    --gap-2xs-2: 10.2px;
    --gap-4xs-4: 8.4px;
    --gap-4xs-3: 8.3px;
    --gap-7xl: 26px;
    --gap-10xl-4: 29.4px;
    --gap-7xl-1: 26.1px;
    --gap-xl-4: 20.4px;

    /* Paddings */
    --padding-93xl: 112px;
    --padding-18xl: 37px;
    --padding-54xl: 73px;
    --padding-5xl: 24px;
    --padding-xl: 20px;
    --padding-53xl: 72px;
    --padding-17xl: 36px;
    --padding-9xs-7: 3.7px;
    --padding-12xl: 31px;
    --padding-28xl: 47px;
    --padding-43xl: 62px;
    --padding-21xl: 40px;
    --padding-smi-5: 12.5px;
    --padding-2xl: 21px;
    --padding-5xl-7: 24.7px;
    --padding-lg: 18px;
    --padding-11xs-8: 1.8px;
    --padding-11xs-1: 1.1px;
    --padding-12xs: 1px;
    --padding-11xs: 2px;
    --padding-43xl-1: 62.1px;
    --padding-mini: 15px;
    --padding-7xs: 6px;
    --padding-5xs-5: 7.5px;
    --padding-2xs: 11px;
    --padding-8xl: 27px;
    --padding-10xs-5: 2.5px;
    --padding-3xs: 10px;
    --padding-6xl: 25px;
    --padding-10xs-2: 2.2px;
    --padding-sm-5: 13.5px;
    --padding-4xs: 9px;
    --padding-9xs: 4px;
    --padding-2xl-5: 21.5px;
    --padding-mini-5: 14.5px;
    --padding-87xl-1: 106.1px;
    --padding-8xs: 5px;
    --padding-6xs: 7px;
    --padding-xs: 12px;
    --padding-smi: 13px;
    --padding-base: 16px;
    --padding-16xl: 35px;
    --padding-4xl: 23px;
    --padding-5xs-9: 7.9px;
    --padding-8xs-6: 4.6px;
    --padding-xs-9: 11.9px;
    --padding-7xs-5: 5.5px;
    --padding-12xs-1: 0.1px;
    --padding-10xs: 3px;
    --padding-24xl: 43px;
    --padding-23xl: 42px;
    --padding-10xs-1: 2.1px;
    --padding-6xs-1: 6.1px;
    --padding-49xl: 68px;
    --padding-9xs-2: 3.2px;
    --padding-10xl-8: 29.8px;
    --padding-3xs-4: 9.4px;
    --padding-20xl: 39px;
    --padding-9xs-1: 3.1px;
    --padding-7xs-9: 5.9px;

    /* Border radiuses */
    --br-8xs: 5px;
    --br-3xs: 10px;
    --br-9xs: 4px;
    --br-8xs-3: 4.3px;
    --br-5xs: 8px;
}
