.line-active-menu12 {
  align-self: stretch;
  height: 0.113rem;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.logo-flag-ut-icon30 {
  height: 2.588rem;
  width: 4.037rem;
  position: relative;
  flex-shrink: 0;
}
.unite30 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 3.706rem;
}
.group91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
}
.together30 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 3.788rem;
}
.group92 {
  flex-direction: row;
  font-size: var(--font-size-2xs-6);
}
.group90,
.group92,
.logo-text-ut30,
.logo-ut16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group90 {
  flex-direction: column;
  gap: var(--gap-10xs-3);
}
.logo-text-ut30,
.logo-ut16 {
  flex-direction: row;
}
.logo-text-ut30 {
  flex-shrink: 0;
}
.logo-ut16 {
  height: 2.581rem;
  padding: 0 0 var(--padding-9xs-3);
  box-sizing: border-box;
  gap: var(--gap-6xs-2);
}
.frame-child58,
.frame-child59,
.frame-child60 {
  position: absolute;
  left: 0;
  border-top: 2px solid var(--primary-text);
  box-sizing: border-box;
  width: 1.625rem;
  height: 0.125rem;
}
.frame-child58 {
  top: 0;
}
.frame-child59,
.frame-child60 {
  top: 0.394rem;
}
.frame-child60 {
  top: 0.788rem;
}
.line-parent1 {
  width: 1.5rem;
  height: 0.913rem;
  position: relative;
}
.frame-wrapper30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-3);
}
.frame-header,
.logo-ut-parent1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.logo-ut-parent1 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-header {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg-3);
  color: var(--primary-text);
  font-family: var(--font-inter);
}
.actions7 {
  height: 1rem;
  width: 4.519rem;
  margin: 0 !important;
  position: absolute;
  top: 8.281rem;
  left: 1.5rem;
}
.title25 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.button16,
.subtitle4 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.subtitle4 {
  align-self: stretch;
}
.button16 {
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 6.25rem;
}
.register1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-sm);
  background-color: var(--accent-blue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 5.23px 0 5.23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon1 {
  position: absolute;
  top: 5.375rem;
  left: 0;
  width: 21rem;
  height: 15.519rem;
  object-fit: cover;
}
.button17 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--primary-text);
  text-align: left;
  display: inline-block;
  min-width: 3.75rem;
}
.donate13,
.donation-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.donate13 {
  cursor: pointer;
  border: 2px solid var(--accent-blue);
  padding: var(--padding-3xs) var(--padding-mid) var(--padding-3xs)
    var(--padding-xl);
  background-color: transparent;
  flex: 1;
  border-radius: 0 7.13px 0 7.13px;
}
.donation-button-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-8xs);
}
.pagination-icon1 {
  width: 3.619rem;
  height: 0.631rem;
  position: relative;
}
.donation-button-wrapper-parent {
  position: absolute;
  top: 0;
  left: 8.694rem;
  width: 6.681rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20.018rem;
}
.registration-buttons {
  align-self: stretch;
  height: 23.775rem;
  position: relative;
}
.form-content,
.registration-form,
.registration-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-content {
  flex: 1;
  background-color: var(--color-ghostwhite);
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-xs) var(--padding-44xl-9);
  box-sizing: border-box;
  gap: var(--gap-2xl-9);
  z-index: 1;
}
.registration-form,
.registration-form-wrapper {
  flex-direction: row;
}
.registration-form {
  flex: 1;
  position: relative;
}
.registration-form-wrapper {
  align-self: stretch;
  padding: 0 0 3.106rem;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.subheading3 {
  width: 5.625rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.heading28 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-size);
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.content-header-one {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xs);
  flex-shrink: 0;
}
.button18,
.text45 {
  position: relative;
  line-height: 150%;
}
.text45 {
  align-self: stretch;
}
.button18 {
  font-size: var(--body-regular-size);
  font-family: var(--text-medium-normal);
  color: var(--primary-text);
  text-align: left;
  display: inline-block;
  min-width: 5.063rem;
  white-space: nowrap;
}
.stylesecondary-smallfalse5 {
  cursor: pointer;
  border: 2px solid var(--accent-blue);
  padding: var(--padding-4xs) var(--padding-3xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0.025rem;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  box-sizing: border-box;
  width: 8.063rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button19 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 3.438rem;
  white-space: nowrap;
}
.icon-chevron-right3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.stylelink-smallfalse-dark3 {
  position: absolute;
  top: 0.75rem;
  left: 9.588rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.placeholder-image-icon14 {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 21rem;
  height: 17.706rem;
  object-fit: cover;
}
.content-actions-one {
  align-self: stretch;
  height: 23.706rem;
  position: relative;
  flex-shrink: 0;
  font-family: var(--text-medium-normal);
}
.content-wrapper-one,
.content-wrapper-one-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.content-wrapper-one {
  flex: 1;
  flex-direction: column;
  padding: 0 0 25.206rem;
  gap: var(--gap-3xl);
}
.content-wrapper-one-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 3.143rem;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.heading29,
.text46 {
  align-self: stretch;
  position: relative;
}
.heading29 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text46 {
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.content25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.button20 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 2.75rem;
}
.styleprimary-smallfalse-da2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--accent-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button21 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 3.313rem;
}
.stylesecondary-smallfalse6 {
  cursor: pointer;
  border: 1px solid var(--accent-blue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actions8 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-xl) 0;
  gap: var(--gap-base);
}
.actions8,
.content24,
.cta-27,
.cta-27-wrapper {
  display: flex;
  justify-content: flex-start;
}
.content24 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.cta-27,
.cta-27-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.cta-27 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-xs) var(--padding-31xl);
  background-image: url(./public/cta--27@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cta-27-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-30xl-6);
  text-align: center;
  font-size: var(--heading-mobile-h2-size);
  color: var(--neutral-background);
  font-family: var(--text-medium-normal);
}
.subheading4 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 7.038rem;
}
.heading30 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-size);
  line-height: 120%;
  font-weight: 700;
  font-family: var(--text-medium-normal);
}
.content-header-two {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xs);
}
.text47 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content-wrapper-two,
.content-wrapper-two-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-wrapper-two {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.content-wrapper-two-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 1.725rem;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.placeholder-image-icon15 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.name31,
.title26 {
  align-self: stretch;
}
.name31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
}
.title26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card-description {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.card,
.content28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content28 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.card {
  width: 18.75rem;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.placeholder-image-icon16 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.name32 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
}
.name32,
.text48,
.title27 {
  align-self: stretch;
}
.title27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text48 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.card1,
.content29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content29 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.card1 {
  width: 18.75rem;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.placeholder-image-icon17 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.name33 {
  margin: 0;
  height: 2.25rem;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.name33,
.text49,
.title28 {
  align-self: stretch;
}
.title28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text49 {
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.content30 {
  align-self: stretch;
  height: 9rem;
  flex-direction: column;
  gap: var(--gap-xs);
}
.card2,
.content26,
.content27,
.content30,
.row18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card2 {
  width: 18.75rem;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-xl);
}
.content26,
.content27,
.row18 {
  max-width: 100%;
}
.content27 {
  width: 20.938rem;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.content26,
.row18 {
  align-self: stretch;
  flex-direction: column;
}
.button22 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--font-montserrat);
  color: var(--primary-text);
  text-align: left;
  display: inline-block;
  min-width: 5.688rem;
  white-space: nowrap;
}
.stylesecondary-smallfalse7 {
  cursor: pointer;
  border: 2px solid var(--accent-blue);
  padding: var(--padding-4xs) var(--padding-3xl);
  background-color: transparent;
  flex: 1;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button23 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 4rem;
  white-space: nowrap;
}
.icon-chevron-right4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.stylelink-smallfalse-dark4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.content-actions-three,
.link-button-wrapper-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.content-actions-three {
  width: 17.438rem;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--body-regular-size);
}
.content-wrapper-three,
.content-wrapper-three-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-wrapper-three {
  flex: 1;
  flex-direction: column;
  gap: 2.625rem;
}
.content-wrapper-three-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 7.1rem var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.subheading5 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 7.813rem;
}
.heading31 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-size);
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.content-header-four,
.content-header-four-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-header-four {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.content-header-four-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) var(--padding-7xs-6) var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.text50 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.button24,
.text-wrapper3 {
  color: var(--primary-text);
  text-align: left;
}
.text-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-3xs-6);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--text-medium-normal-size);
  font-family: var(--font-montserrat);
}
.button24 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  display: inline-block;
  min-width: 5.063rem;
  white-space: nowrap;
}
.stylesecondary-smallfalse8 {
  cursor: pointer;
  border: 2px solid var(--accent-blue);
  padding: var(--padding-4xs) var(--padding-3xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  box-sizing: border-box;
  width: 8.063rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button25 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 3.438rem;
  white-space: nowrap;
}
.icon-chevron-right5 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.stylelink-smallfalse-dark5 {
  position: absolute;
  top: 0.75rem;
  left: 9.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.placeholder-image-icon18 {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 21rem;
  height: 17.706rem;
  object-fit: cover;
}
.action-buttons-four {
  height: 23.706rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.content-actions-four {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-30xl-6);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--primary-text);
  font-family: var(--text-medium-normal);
}
.heading32,
.text51 {
  align-self: stretch;
  position: relative;
}
.heading32 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text51 {
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.content32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.button26 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 3.188rem;
}
.styleprimary-smallfalse-da3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--accent-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button27 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 5.063rem;
  white-space: nowrap;
}
.stylesecondary-smallfalse9 {
  cursor: pointer;
  border: 1px solid var(--accent-blue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actions9 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-xl) 0;
  gap: var(--gap-base);
}
.actions9,
.content31,
.cta-27-container,
.cta-271 {
  display: flex;
  justify-content: flex-start;
}
.content31 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.cta-27-container,
.cta-271 {
  box-sizing: border-box;
  max-width: 100%;
}
.cta-271 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-xs) var(--padding-31xl);
  background-image: url(./public/cta--27@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cta-27-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-30xl-6);
  text-align: center;
  font-size: var(--heading-mobile-h2-size);
  color: var(--neutral-background);
  font-family: var(--text-medium-normal);
}
.logo-flag-ut-icon31 {
  height: 2.588rem;
  width: 4.037rem;
  position: relative;
  flex-shrink: 0;
}
.unite31 {
  position: relative;
  display: inline-block;
  min-width: 3.706rem;
}
.group94 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.together31 {
  position: relative;
  display: inline-block;
  min-width: 3.788rem;
}
.group95 {
  flex-direction: row;
  flex-shrink: 0;
  font-size: var(--font-size-2xs-6);
}
.group93,
.group95,
.logo-text-ut31,
.logo-ut17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group93 {
  flex-direction: column;
  gap: var(--gap-10xs-3);
}
.logo-text-ut31,
.logo-ut17 {
  flex-direction: row;
}
.logo-text-ut31 {
  flex-shrink: 0;
}
.logo-ut17 {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-6xs-2);
}
.briefly-about-us14 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.our-organization-unite16 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-300);
}
.briefly-about-us-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  flex-shrink: 0;
  font-size: var(--text-medium-normal-size);
  font-family: var(--font-montserrat);
}
.footer-content,
.footer-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.footer-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) var(--padding-6xl-6);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg-3);
  color: var(--primary-text);
  font-family: var(--font-inter);
}
.menu14 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.line-decoration28 {
  width: 2.813rem;
  height: 0.188rem;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
}
.about-us31,
.events42,
.projects31 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.menu-items2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
  font-size: var(--body-small-size);
  color: var(--color-darkslategray-300);
}
.menu-container,
.menu-container-wrapper,
.menu-items2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.menu-container-wrapper {
  width: 13.775rem;
  flex-direction: row;
  padding: 0 var(--padding-xs) var(--padding-6xl-6);
  box-sizing: border-box;
}
.contact14 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.icon-phone15 {
  position: absolute;
  top: 1.375rem;
  left: 0;
  width: 1.069rem;
  height: 0.938rem;
}
.line-decoration29 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
  width: 1.781rem;
  height: 0.188rem;
}
.phone-icon-container {
  width: 1.781rem;
  height: 2.313rem;
  position: relative;
}
.icon-email15,
.icon-geo15 {
  width: 1.069rem;
  height: 0.663rem;
  position: relative;
}
.icon-geo15 {
  height: 1.325rem;
}
.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg-7);
}
.contact-item {
  height: 0.875rem;
  line-height: 1.125rem;
  display: inline-block;
  flex-shrink: 0;
}
.contact-item,
.uniteforukraingmailcom13 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.tbilisi-2123-tsotne15 {
  width: 18.806rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.contact-details3,
.contact-item-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-item-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base-3);
}
.contact-details3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-1);
  margin-left: -0.025rem;
}
.contact-info1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--body-small-size);
  color: var(--color-darkslategray-300);
}
.contact-container,
.contact-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.contact-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 1.606rem;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-medium-normal-size);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.we-are-on14 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.decoration31 {
  width: 2.969rem;
  height: 0.188rem;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
}
.subscribe-to-us14 {
  align-self: stretch;
  position: relative;
  line-height: 170%;
}
.icon-fb15,
.icon-insta15,
.icon-tg15 {
  height: 1.375rem;
  width: 1.375rem;
  position: relative;
  min-height: 1.375rem;
}
.icon-tg15 {
  width: 1.438rem;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.social-icons-container {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
}
.social-container,
.social-content,
.social-header,
.social-icons-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-content {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xl);
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-300);
}
.social-container,
.social-header {
  max-width: 100%;
}
.social-header {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.social-container {
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 var(--padding-2xs);
}
.divider16,
.social-container,
.social-container-parent {
  align-self: stretch;
  box-sizing: border-box;
}
.divider16 {
  height: 0.063rem;
  position: relative;
  border: 1.5px solid var(--color-silver-200);
}
.social-container-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.35rem;
  gap: var(--gap-17xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-medium-normal-size);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.cookies-settings14,
.privacy-policy14,
.terms-of-service14 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: inline-block;
  min-width: 6rem;
}
.cookies-settings14,
.terms-of-service14 {
  min-width: 7.188rem;
}
.cookies-settings14 {
  min-width: 6.875rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.relume-all-rights {
  position: relative;
  line-height: 150%;
}
.footer-container,
.footer-container-wrapper,
.home-mobile1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-container {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.footer-container-wrapper,
.home-mobile1 {
  text-align: left;
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.footer-container-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-14xl);
  font-size: var(--body-small-size);
}
.home-mobile1 {
  width: 100%;
  position: relative;
  background-color: var(--neutral-background);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xl) 0 4.575rem;
  box-sizing: border-box;
  gap: 0.9rem;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--text-medium-normal-size);
}
