{% load static %}

<!-- СТИЛІ ТІЛЬКИ ДЛЯ ПАРТНЕРІВ -->

<style>
    .organization {
        display: flex;
        align-items: center;
        margin-bottom: 3px !important;
    }

    /* мобільні стилі не завершені */
    @media screen and (max-width: 720px) {

        .organization {
            flex-direction: column;
            align-items: baseline;
        }

        .logo {
            background-size: 50% !important;
            margin: 10px 0px;
        }

        .logo-1-ukraine {
            background-size: calc(120.4px * 0.7) !important;
            height: calc(127.9px * 0.7) !important;
        }

        .logo-3-aktiondeutsch {

            background-size: calc(170.3px * 0.8) !important;

        }

        .logo-9-peopleinneed {
            background-size: calc(147.4px * 0.6) !important;
            /* height: calc(79.5px*0.6) !important; */
        }

        .logo-10-adra {
            background-size: calc(120.4px * 0.6) !important;
            height: calc(121.8px * 0.7) !important;
        }

        .logo-11-helpinghand {
            background-size: calc(125.6px * 0.7) !important;
            height: calc(125px * 0.8) !important;
        }

        .description-part {
            width: 100%;
        }
    }

    .description-part h3 {
        margin: 0 0 1px;
        font-family: var(--font-montserrat);
        font-weight: 700;
        font-size: 20px;
        line-height: 170%;
        line-height: 1.2;
        color: var(--accent-blue);

    }

    .description-part p {
        margin: 0;
        font-family: var(--font-montserrat);
        font-size: var(--font-size-sm);
        line-height: 170%;
        color: var(--primary-text);
    }

    .logo {
        flex-shrink: 0;
        /* height: 79.5px; */
        width: 220px;
        background-repeat: no-repeat; /* запобігти повторенню зображення */
        background-position: left; /* розмістити логотип ліворуч */
        /* background-size: 100px ; */
    }

    .partners-section {
        margin-bottom: 20px;
    }

    .partner-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .partner-item img {
        max-width: 150px;
        margin-right: 20px;
    }

    .partner-item .description-part {
        flex: 1;
    }

    .partner-item h3 {
        margin: 0 0 10px;
    }

    .description-part {
        flex-grow: 1;
        padding-bottom: 1px !important;
        position: inherit;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

</style>


<div class="about-us-partners" data-animate-on-scroll>

    <div class="page-header3">
        <img class="bg-icon3" loading="lazy" alt="" src="{% static 'img/aboutus/bg@2x-1600px.jpg' %}"/>

        <div class="sec-title3">
            <div class="sublitle3">Підзаголовок</div>
            <div class="content3">
                <h1 class="events13">Про нас</h1>
                <div class="assets-panel">
                    <div class="discover-the-diverse3">
                        Об'єднаймося для підтримки та розвитку українських громад у Грузії
                        через сталі проєкти та програми.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <main class="two-columns-with-selectors">
        <!-- ОСНОВНА ЧАСТИНА -->

        <!-- Вибір категорій для сторінок "Про нас" -->
        <div class="left-selector-box">
            {% for category, link in links.items %}
                <a class="left-selector-text{% if link in request.path %}-active{% endif %}"
                   href="{% url  link %}">{{ category }}</a>
            {% endfor %}
        </div>


        <section class="right-part-of-static-page">
            <div class="partners-and-collaboration-parent" style="gap: 10px; padding-bottom: 10px;">
                <h1 class="partners-and-collaboration2">
                    Партнери та співпраця
                </h1>
                <div class="this-page-features">
                    Ця сторінка висвітлює організації та компанії, які підтримують нас у нашій місії допомоги
                    тим, хто потребує, і роблять значний внесок у розвиток наших проєктів.
                </div>
            </div>

            {% for partner in partners %}
                <div class="partner-item">
                    <div class="logo">
                        {% if partner.image %}
                            <img src="{{ partner.image.url }}" alt="{{ partner.title }}">
                        {% endif %}
                    </div>
                    <div class="description-part">
                        <h3>{{ partner.title }}</h3>
                        <p>{{ partner.description }}</p>
                        {% if partner.url_link %}
                            <a href="{{ partner.url_link }}" target="_blank">Дізнатись більше</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
</div>


