{% load static %}
{% load custom_filters %}


<div id="carouselExample" class="carousel slide">

  <div class="carousel-inner">
    {% for carousel_object in carousel_objects %}

        <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <a href="{{ carousel_object.get_url }}">
                {% if carousel_object.image %}
                	<img src="{{ carousel_object.image.url }}" class="d-block w-100" alt="">
                {% else %}
                    {% static 'img/placeholder-image1@2x.png' %}
                {% endif %}
            </a>
        </div>
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Add your carousel JavaScript here -->
<script>
    const carousel = new bootstrap.Carousel('#myCarousel')
</script>
