{% load static %}
<style>
    .carousel-container {
        position: relative;
        overflow: hidden;
        max-width: 100%;
    }

    .carousel-example .carousel-item {
        display: none;
        align-items: center;
        height: 100%;
    }

    .carousel-example .carousel-item.active {
        display: flex;
    }

    .carousel-example .carousel-text {
        flex: 1;
        padding: 20px;
    }

    .carousel-example .carousel-text h5 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
    }

    .carousel-example .carousel-text p {
        font-size: 1rem;
        color: #666;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        white-space: normal;
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .carousel-example .carousel-image {
        flex: 1;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .carousel-example img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -12px; /* Позиція під вмістом каруселі */
        left: 50%;
        transform: translateX(-125%);
        z-index: 15;
        display: flex;
        justify-content: center;
        gap: 5px;
        width: auto;
    }

    .carousel-indicators .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .carousel-indicators .active {
        background-color: #007bff;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: 0px; /* Позиція під вмістом каруселі */
        top: auto; /* Вимкнути вертикальне центрування */
        transform: translateY(0); /* Вимкнути вертикальне центрування */
        background-color: rgba(0, 0, 0, 0.5); /* Сірий колір фону */
        color: white;
        font-size: 2rem;
        z-index: 20;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-control-prev {
        left: 30%;
    }

    .carousel-control-next {
        right: 30%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
</style>

<div class="carousel-container">
    <div id="carouselExample" class="carousel slide carousel-example" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for carousel_object in carousel_objects %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <div class="d-flex">
                        <div class="carousel-text">
                            <h5>{{ carousel_object.title }}</h5>
                            <p>{{ carousel_object.text|safe }}</p>
                            <a href="{{ carousel_object.get_url }}" class="btn btn-primary">Дізнатися більше</a>
                        </div>
                        <div class="carousel-image">
                            <a href="{{ carousel_object.get_url }}">
                                <img src="{% if carousel_object.image_exists %}{{ carousel_object.image.url }}{% else %}{% static 'img/placeholder-image1@2x.png' %}{% endif %}" class="d-block" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="carousel-indicators">
            {% for carousel_object in carousel_objects %}
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ forloop.counter0 }}" class="indicator{% if forloop.first %} active{% endif %}"></button>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Попереднє</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Наступне</span>
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const carousel = new bootstrap.Carousel(document.getElementById('carouselExample'), {
            interval: 2000,
            wrap: true
        });

        const indicators = document.querySelectorAll('.indicator');
        indicators.forEach((indicator, index) => {
            indicator.addEventListener('click', () => {
                carousel.to(index);
            });
        });

        carousel._element.addEventListener('slide.bs.carousel', function (event) {
            const indicators = document.querySelectorAll('.indicator');
            indicators.forEach((indicator, index) => {
                indicator.classList.remove('active');
                if (index === event.to) {
                    indicator.classList.add('active');
                }
            });
        });
    });
</script>
