<div class="home-mobile1 mobile-navbar">
    {#1 Секція каруселі#}

                <div class="col-md-12">
                    {% include 'homepage/mobile-carousel.html' %}
                </div>

    <section class="registration-form-wrapper">
        <div class="registration-form">
            <div class="actions7"></div>
            <div class="form-content">
                <h1 class="title25">
                    Підтримка та розвиток українців у Грузії
                </h1>
                <div class="subtitle4">
                    Unite Together присвячено створенню сталих змін у житті українців у Грузії, які постраждали від війни. Через наші проєкти та програми ми надаємо фінансову допомогу, неформальну освіту, спортивні та консультаційні послуги.
                </div>
                <div class="registration-buttons">
                    <button class="register1">
                        <div class="button16">Реєстрація</div>
                    </button>
                    <img
                            class="image-icon1"
                            loading="lazy"
                            alt=""
                            src="./public/image1@2x.png"
                    />

                    <div class="donation-button-wrapper-parent">
                        <div class="donation-button-wrapper">
                            <button class="donate13">
                                <div class="button17">ПІДТРИМАТИ</div>
                            </button>
                        </div>
                        <img
                                class="pagination-icon1"
                                loading="lazy"
                                alt=""
                                src="./public/pagination1.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-wrapper-one-wrapper">
        <div class="content-wrapper-one">
            <div class="content-header-one">
                <div class="subheading3">Підтримка</div>
                <h1 class="heading28">Надання можливостей українцям, які постраждали від війни</h1>
            </div>
            <div class="text45">
                Основна мета Unite Together – підтримка та розвиток українців, які постраждали від війни. Ми прагнемо досягти сталих системних змін у їхньому житті та суспільстві.
            </div>
            <div class="content-actions-one">
                <button class="stylesecondary-smallfalse5">
                    <div class="button18">Дізнатися більше</div>
                </button>
                <div class="stylelink-smallfalse-dark3">
                    <div class="button19">Зареєструватися</div>
                    <img
                            class="icon-chevron-right3"
                            loading="lazy"
                            alt=""
                            src="./public/icon--chevronright1.svg"
                    />
                </div>
                <img
                        class="placeholder-image-icon14"
                        loading="lazy"
                        alt=""
                        src="./public/placeholder-image2@2x.png"
                />
            </div>
        </div>
    </section>

    <section class="content-wrapper-two-wrapper">
        <div class="content-wrapper-two">
            <div class="content-header-two">
                <div class="subheading4">Надання можливостей</div>
                <h1 class="heading30">
                    Створення тривалих змін для українців, які постраждали від війни
                </h1>
            </div>
            <div class="text47">
                Unite Together присвячено підтримці та розвитку українців, які постраждали від війни. Через наші проєкти та ініціативи ми прагнемо створити стійкі системні зміни в їхньому житті та суспільстві.
            </div>
        </div>
    </section>
    <section class="content-wrapper-three-wrapper">
        <div class="content-wrapper-three">
            <div class="content26">
                <div class="row18">
                    <div class="content27">
                        <div class="card">
                            <img
                                    class="placeholder-image-icon15"
                                    loading="lazy"
                                    alt=""
                                    src="./public/placeholder-image-13@2x.png"
                            />

                            <div class="content28">
                                <div class="title26">
                                    <h3 class="name31">Ключові проєкти та ініціативи</h3>
                                </div>
                                <div class="card-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                </div>
                            </div>
                        </div>
                        <div class="card1">
                            <img
                                    class="placeholder-image-icon16"
                                    loading="lazy"
                                    alt=""
                                    src="./public/placeholder-image-13@2x.png"
                            />

                            <div class="content29">
                                <div class="title27">
                                    <h3 class="name32">Підтримка українських сімей</h3>
                                </div>
                                <div class="text48">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <img
                                    class="placeholder-image-icon17"
                                    loading="lazy"
                                    alt=""
                                    src="./public/placeholder-image-13@2x.png"
                            />

                            <div class="content30">
                                <div class="title28">
                                    <h3 class="name33">Повне ім'я</h3>
                                </div>
                                <div class="text49">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-actions-three">
                <button class="stylesecondary-smallfalse7">
                    <div class="button22">Дізнатися більше</div>
                </button>
                <div class="link-button-wrapper-three">
                    <div class="stylelink-smallfalse-dark4">
                        <div class="button23">Зареєструватися</div>
                        <img
                                class="icon-chevron-right4"
                                loading="lazy"
                                alt=""
                                src="./public/icon--chevronright-11.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header-four-wrapper">
        <div class="content-header-four">
            <div class="subheading5">Розширення можливостей</div>
            <h1 class="heading31">Приєднуйтеся до нас і змінюйте життя вже сьогодні</h1>
        </div>
    </section>
    <section class="text-wrapper3">
        <div class="text50">
            Реєструючись та беручи участь у програмах Unite Together, ви стаєте частиною спільноти, яка присвячена підтримці та розвитку українців, які постраждали від війни. Разом ми можемо створити стійкі системні зміни в їхньому житті та суспільстві.
        </div>
    </section>
    <section class="content-actions-four">
        <div class="action-buttons-four">
            <button class="stylesecondary-smallfalse8">
                <div class="button24">Дізнатися більше</div>
            </button>
            <div class="stylelink-smallfalse-dark5">
                <div class="button25">Зареєструватися</div>
                <img
                        class="icon-chevron-right5"
                        loading="lazy"
                        alt=""
                        src="./public/icon--chevronright-2.svg"
                />
            </div>
            <img
                    class="placeholder-image-icon18"
                    loading="lazy"
                    alt=""
                    src="./public/placeholder-image2@2x.png"
            />
        </div>
    </section>
    <section class="cta-27-container">
        <div class="cta-271">
            <div class="content31">
                <div class="content32">
                    <h1 class="heading32">Підтримайте наші ініціативи сьогодні!</h1>
                    <div class="text51">
                        Ваша пожертва може змінити життя українців у Грузії.
                    </div>
                </div>
                <div class="actions9">
                    <button class="styleprimary-smallfalse-da3">
                        <div class="button26">ПІДТРИМАТИ</div>
                    </button>
                    <button class="stylesecondary-smallfalse9">
                        <div class="button27">Дізнатися більше</div>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
