{% load static %}

<div class="home desktop-navbar" data-animate-on-scroll>
    {#1 Секція Карусель#}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'homepage/carousel.html' %}
                </div>
            </div>
        </div>
    </section>

    {#2 Секція Про нас#}
    <section class="sec-about">
        <div class="container2">
            <div class="content22">
                <div class="section-title2">
                    {% if lang == 'en' %}
                        <div class="subheading2">{{ sec_about_us.subtitle_en }}</div>
                        <div class="content23">
                            <h2>
                                {{ sec_about_us.title_en }}
                            </h2>
                            <div class="text40">
                                {{ sec_about_us.text_en|safe }}
                            </div>
                        </div>
                    {% else %}
                        <div class="subheading2">{{ sec_about_us.subtitle }}</div>
                        <div class="content23">
                            <h2>
                                {{ sec_about_us.title }}
                            </h2>
                            <div class="text40">
                                {{ sec_about_us.text|safe }}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="actions6">
                    <button class="stylesecondary-smallfalse4">
                        {% if lang == 'en' %}
                            <a class="button12" href="{% url 'who_we_are_en' lang='en' %}">Read more</a>
                        {% else %}
                        	<a class="button12" href="{% url 'who_we_are' %}">Дізнатися більше</a>
                        {% endif %}

                    </button>
                    <button class="stylelink-smallfalse-dark2">
                        {% if lang == 'en' %}
                            <a class="button13" href="{% url 'register' %}">Register</a>
                        {% else %}
                        	<a class="button13" href="{% url 'register' %}">Зареєструватися</a>
                        {% endif %}

                        <img
                                class="icon-chevron-right2"
                                alt=""
                                src="{% static 'img/icon--chevronright.svg' %}"
                        />
                    </button>
                </div>
            </div>
            <img
                    class="placeholder-image-icon10"
                    loading="lazy"
                    alt=""
                    src="{% if sec_about_us.image %}
                    {{ sec_about_us.image.url }}
                  {% else %}
                    {% static 'img/placeholder-image1@2x.png' %}
                  {% endif %}"/>
        </div>
    </section>

    {#3 СТА-1 Зареєструватися#}

    {#        <section class="cta-1" style="background-image: {% static 'img/cta1@3x.png' %}  ;">#}
    <section class="cta-1"
            {% if sec_cta_first.image %}
                style="background-image: url({{ sec_cta_first.image.url }});"
            {% else %}
                style="background-image: url({% static 'img/cta1@3x.png' %});"
            {% endif %}>

    <div class="content20">
        <div class="content21">
            {% if lang == 'en' %}
                <h2>{{ sec_cta_first.title_en }}</h2>
                <div class="text39">
                    {{ sec_cta_first.description_en }}
                </div>
            {% else %}
                <h2>{{ sec_cta_first.title }}</h2>
                <div class="text39">
                    {{ sec_cta_first.description }}
                </div>
            {% endif %}

        </div>
        <div class="actions5">
            <button class="styleprimary-smallfalse-da1">
                {% if lang == 'en' %}
                    <a class="button10" href="{% url 'login' %}">Log in</a>
                {% else %}
                    <a class="button10" href="{% url 'login' %}">Увійти</a>
                {% endif %}
            </button>
            <button class="stylesecondary-smallfalse3">
                {% if lang == 'en' %}
                    <a class="button11" href="{% url 'register' %}">Register</a>
                {% else %}
                    <a class="button11" href="{% url 'register' %}">Зареєструватися</a>
                {% endif %}

            </button>
        </div>
    </div>
    </section>

    {#4 Секція Події#}
    <section class="sec-events">
        <div class="section-title1">
            {% if lang == 'en' %}
                <div class="column">
                    <div class="subheading1">{{ sec_events.subtitle_en }}</div>
                    <h2>
                        {{ sec_events.title_en }}
                    </h2>
                </div>
                <div class="text38">
                    {{ sec_events.extra_details_en }}
                </div>
            {% else %}
                <div class="column">
                    <div class="subheading1">{{ sec_events.subtitle }}</div>
                    <h2>
                        {{ sec_events.title }}
                    </h2>
                </div>
                <div class="text38">
                    {{ sec_events.extra_details }}
                </div>
            {% endif %}

        </div>
        <div class="content16">
            <div class="row12">
                {% for event in events_objects %}
                    <div class="column1">
                        {% if lang == 'en' %}
                            <a href="{{ event.get_url_en }}">
                        {% else %}
                            <a href="{{ event.get_url }}">
                        {% endif %}

                            <img class="placeholder-image-icon7" alt=""
                                 src="{% if event.image %}
                                            {{ event.image.url }}
                                      {% else %}
                                            {% static 'img/placeholder-image1@2x.png' %}
                                      {% endif %}"/>
                        </a>
                        <div class="content17">
                            {% if lang == 'en' %}
                                <h2>{{ event.title_en }}</h2>
                                <div class="text-duis-cursus" style="
                                            max-width: 300px; /* Встановити максимальну ширину div */
                                            overflow: hidden; /* Сховати будь-який текст, що виходить за межі */
                                            text-overflow: ellipsis; /* Відобразити многоточие (...) для вказівки перевищення тексту */
                                            white-space: nowrap; /* Заборонити перенесення тексту */
                                                ">{{ event.extra_details_en }}</div>
                            {% else %}
                            	<h2>{{ event.title }}</h2>
                                <div class="text-duis-cursus" style="
                                            max-width: 300px; /* Встановити максимальну ширину div */
                                            overflow: hidden; /* Сховати будь-який текст, що виходить за межі */
                                            text-overflow: ellipsis; /* Відобразити многоточие (...) для вказівки перевищення тексту */
                                            white-space: nowrap; /* Заборонити перенесення тексту */
                                                ">{{ event.extra_details }}</div>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="actions4">
                {% if lang == 'en' %}
                    <button class="stylesecondary-smallfalse2">
                            <a class="button8" href="{% url 'events_en' lang='en' %}">Read more</a>
                    </button>
                    <button class="stylelink-smallfalse-dark1">
                        <a class="button9" href="{% url 'register' %}">Register</a>
                        <img class="icon-chevron-right1" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                    </button>
                {% else %}
                    <button class="stylesecondary-smallfalse2">
                            <a class="button8" href="{% url 'events' %}">Дізнатися більше</a>
                    </button>
                    <button class="stylelink-smallfalse-dark1">
                        <a class="button9" href="{% url 'register' %}">Зареєструватися</a>
                        <img class="icon-chevron-right1" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                    </button>
                {% endif %}
            </div>
        </div>
    </section>

    {#5 Секція Проеєти#}
    <section class="sec-projects">
        <div class="container1">
            {% if lang == 'en' %}
                <div class="content14">
                <div class="section-title">
                    <div class="subheading">{{ sec_projects.subtitle_en }}</div>
                    <div class="content15">
                        <h2>{{ sec_projects.title_en }}</h2>
                        <div class="button-cluster">
                            {{ sec_projects.text_en|safe }}
                        </div>
                    </div>
                </div>
                <div class="actions3">
                    <button class="stylesecondary-smallfalse1">
                        <a class="button6" href="{% url 'projects' %}">Read more</a>
                    </button>
                    <button class="stylelink-smallfalse-dark">
                        <a class="button7" href="{% url 'register' %}">Register</a>
                        <img class="icon-chevron-right" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                    </button>
                </div>
            </div>
            {% else %}
                <div class="content14">
                <div class="section-title">
                    <div class="subheading">{{ sec_projects.subtitle }}</div>
                    <div class="content15">
                        <h2>{{ sec_projects.title }}</h2>
                        <div class="button-cluster">
                            {{ sec_projects.text|safe }}
                        </div>
                    </div>
                </div>
                <div class="actions3">
                    <button class="stylesecondary-smallfalse1">
                        <a class="button6" href="{% url 'projects' %}">Дізнатися більше</a>
                    </button>
                    <button class="stylelink-smallfalse-dark">
                        <a class="button7" href="{% url 'register' %}">Зареєструватися</a>
                        <img class="icon-chevron-right" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                    </button>
                </div>
            </div>
            {% endif %}

            <img class="placeholder-image-icon6" loading="lazy" alt="" src="{{ sec_projects.image.url }}"/>
        </div>
    </section>

    {#6 СТА-2 Пожертвувати#}
    <section class="cta-2"
            {% if sec_cta_last.image %}
                style="background-image: url({{ sec_cta_last.image.url }});"
            {% else %}
                style="background-image: url({% static 'img/cta1@3x.png' %});"
            {% endif %}>
        {% if lang == 'en' %}
            <div class="content12">
                <div class="content13">
                    <h2>{{ sec_cta_last.title_en }}</h2>
                    <div class="text37">
                        {{ sec_cta_last.description_en|safe }}
                    </div>
                </div>
                <div class="actions2">
                    <button class="styleprimary-smallfalse-da">
                        <a class="button4" href="{% url 'donate-paypal' %}">Donate</a>
                    </button>
                    <button class="stylesecondary-smallfalse">
                        <a class="button5" href="{{ sec_cta_last.link }}">Read more</a>
                    </button>
                </div>
            </div>
        {% else %}
            <div class="content12">
                <div class="content13">
                    <h2>{{ sec_cta_last.title }}</h2>
                    <div class="text37">
                        {{ sec_cta_last.description|safe }}
                    </div>
                </div>
                <div class="actions2">
                    <button class="styleprimary-smallfalse-da">
                        <a class="button4" href="{% url 'donate-paypal' %}">ПІДТРИМАТИ</a>
                    </button>
                    <button class="stylesecondary-smallfalse">
                        <a class="button5" href="{{ sec_cta_last.link }}">Дізнатися більше</a>
                    </button>
                </div>
            </div>
        {% endif %}

    </section>

</div>
