{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="home" data-animate-on-scroll>
        {#1 Carousel section#}
        <section class="main">
            <div class="bg-blue1"></div>
            <div class="content24">
                <div class="left">
                    <div class="content25">
                        <h1 class="title19">
                            static StaticSupporting and developing Ukrainians in Georgia
                        </h1>
                        {#            {% include 'homepage/carousel.html' %}#}
                        <div class="subtitle3">
                            static Unite Together is dedicated to creating sustainable changes in the lives of Ukrainians in
                            Georgia affected by the war. Through our projects and programs, we provide financial
                            assistance,
                            informal education, sports, and counseling.
                        </div>
                    </div>
                    <div class="actions7">
                        <button class="register">
                            <a class="button14" href="{% url 'register' %}">Registration</a>
                        </button>
                        <button class="donate8">
                            <a class="button15" href="{% url 'donate-paypal' %}">Donate</a>
                        </button>
                    </div>

                </div>
                <div class="container col-6" style="
        margin-right: 0px;
        height: min(50vh, 50vw);
        width: min(50vh, 50vw);
">
                    {% include 'homepage/carousel.html' %}
                </div>
            </div>
        </section>

        {#2 About Us section#}
        <section class="sec-about">
        <div class="container2">
          <div class="content22">
            <div class="section-title2">
              <div class="subheading2">{{ sec_about_us.subtitle }}</div>
              <div class="content23">
                <h1 class="heading24">
                  {{ sec_about_us.title }}
                </h1>
                <div class="text40">
                  {{ sec_about_us.text }}
                </div>
              </div>
            </div>
            <div class="actions6">
              <button class="stylesecondary-smallfalse4">
                <a class="button12" href="{% url 'who_we_are' %}">Learn More</a>
              </button>
              <button class="stylelink-smallfalse-dark2">
                <a class="button13" href="{% url 'register' %}">Sign Up</a>
                <img
                  class="icon-chevron-right2"
                  alt=""
                  src="{% static 'img/icon--chevronright.svg' %}"
                />
              </button>
            </div>
          </div>
          <img
            class="placeholder-image-icon10"
            loading="lazy"
            alt=""
            src="{% if sec_about_us.image %}
                    {{ sec_about_us.image.url }}
                  {% else %}
                    {% static 'img/placeholder-image1@2x.png' %}
                  {% endif %}"/>
        </div>
      </section>

        {#3 CTA-1 Register#}
        <section class="cta-1">
            <div class="content20">
                <div class="content21">
                    <h1 class="heading23">Support Our Initiatives Today!</h1>
                    <div class="text39">
                        Your donation can make a difference in the lives of Ukrainians in Georgia.
                    </div>
                </div>
                <div class="actions5">
                    <button class="styleprimary-smallfalse-da1">
                        <a class="button10" href="{% url 'login' %}">Log in</a>
                    </button>
                    <button class="stylesecondary-smallfalse3">
                        <a class="button11" href="{% url 'register' %}">Sign up</a>
                    </button>
                </div>
            </div>
        </section>

        {#4 Events section#}
        <section class="sec-events">
            <div class="section-title1">
                <div class="column">
                    <div class="subheading1">{{ sec_events.subtitle }}</div>
                    <h1 class="heading19">
                        {{ sec_events.title }}
                    </h1>
                </div>
                <div class="text38">
                    {{ sec_events.text }}
                </div>
            </div>
            <div class="content16">
                <div class="row12">
                    {% for event in events_objects %}
                        <div class="column1">
                            <a href="{{ event.get_url }}"><img class="placeholder-image-icon7" alt=""
                                                               src="{{ event.image.url }}"/></a>
                            <div class="content17">
                                <h1 class="heading20">{{ event.title }}</h1>
                                <div class="text-duis-cursus" style="
                                            max-width: 300px; /* Set the maximum width of the div */
                                            overflow: hidden; /* Hide any overflowing text */
                                            text-overflow: ellipsis; /* Display an ellipsis (...) to indicate text overflow */
                                            white-space: nowrap; /* Prevent text from wrapping */
                                                ">{{ event.text }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="actions4">
                    <button class="stylesecondary-smallfalse2">
                        <a class="button8" href="{% url 'events' %}">Learn More</a>
                    </button>
                    <button class="stylelink-smallfalse-dark1">
                        <a class="button9" href="{% url 'register' %}">Sign Up</a>
                        <img class="icon-chevron-right1" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                    </button>
                </div>
            </div>
        </section>

        {#5 Projects section#}
        <section class="sec-projects">
            <div class="container1">
                <div class="content14">
                    <div class="section-title">
                        <div class="subheading">{{ sec_projects.subtitle }}</div>
                        <div class="content15">
                            <h1 class="heading18">{{ sec_projects.title }}</h1>
                            <div class="button-cluster">
                                {{ sec_projects.text }}
                            </div>
                        </div>
                    </div>
                    <div class="actions3">
                        <button class="stylesecondary-smallfalse1">
                            <a class="button6" href="{% url 'projects' %}">Learn More</a>
                        </button>
                        <button class="stylelink-smallfalse-dark">
                            <a class="button7" href="{% url 'register' %}">Sign Up</a>
                            <img class="icon-chevron-right" alt="" src="{% static 'img/icon--chevronright.svg' %}"/>
                        </button>
                    </div>
                </div>
                <img class="placeholder-image-icon6" loading="lazy" alt="" src="{{ sec_projects.image.url }}"/>
            </div>
        </section>

        {#6 CTA-2 DONATE#}
        <section class="cta-2">
            <div class="content12">
                <div class="content13">
                    <h1 class="heading17">{{ sec_cta_last.title }}</h1>
                    <div class="text37">
                        {{ sec_cta_last.description }}
                    </div>
                </div>
                <div class="actions2">
                    <button class="styleprimary-smallfalse-da">
                        <a class="button4" href="{% url 'donate-paypal' %}">Donate</a>
                    </button>
                    <button class="stylesecondary-smallfalse">
                        <a class="button5" href="{{ sec_cta_last.link }}">Learn More</a>
                    </button>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
