{% load static %}

<footer class="footer">
    <div class="content">
        <div class="logo-ut">
            <img class="logo-flag-ut" src="{% static 'img/logo-flag-ut-2.png' %}"/>
            <div class="logo-text-ut">
                <div class="group">
                    <div class="div-wrapper">
                        <div class="text-wrapper">UNITE</div>
                    </div>
                    <div class="group-2">
                        <div class="text-wrapper-2">TOGETHER</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-culumn">
            <div class="menu-item">
                <div class="text-wrapper-3">About us</div>
            </div>
            <div class="menu-item-2">
                <div class="text-wrapper-3">News</div>
            </div>
            <div class="menu-item-2">
                <div class="text-wrapper-3">Events</div>
            </div>
            <div class="menu-item-2">
                <div class="text-wrapper-3">Projects</div>
            </div>
            <div class="menu-item-2">
                <div class="text-wrapper-3">Partners</div>
            </div>
            <div class="menu-item-2">
                <div class="news">Documents</div>
            </div>
            <div class="menu-item-2">
                <div class="text-wrapper-3">Contact</div>
            </div>
        </div>
        <img class="soc-icon" src="{% static 'img/soc-icon.png' %}"/>
    </div>
    <div class="divider"></div>
    <div class="div-2">
        <p class="element-all-rights">© 2023 Unite Together. All rights reserved.</p>
        <div class="div-2">
            <div class="text-wrapper-4">Privacy Policy</div>
            <div class="text-wrapper-4">Terms and Conditions</div>
            <div class="text-wrapper-4">Cookie Policy</div>
        </div>
    </div>
</footer>

</div>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>