{% load static %}

<section class="events-container-parent">
    <div class="menu-and-content">

        <div class="content-container">
            <div class="main-content1">


                <div class="header-504" style='background-image: url("{% static 'img/mob-events.png' %}");'>
                    <div class="container7">
                        <div class="section-title7">
                            <div class="tagline4">Підзаголовок</div>
                            <div class="content38">
                                <h1 class="short-heading-here4">Події</h1>
                                <div class="lorem-ipsum-dolor4">
                                    Відкрийте різноманітні події та активності, які ми пропонуємо для підтримки української спільноти в Грузії.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="event-card">

                    <!-- Dropdown Menu -->
                    <div class="col-md-12">
                        {% include 'events/mobile/events-sidebar-mobile.html' %}
                    </div>

                    <div class="description-liststext-link-fo">
{#                        <div class="text66">Filters</div>#}
                        <label class="select-your-city">Оберіть місто</label>
                            <form id="mobCityForm" method="POST" action="{% url 'events' %}">
                                {% csrf_token %}
                                <select id="mobCities" name="selected-city">
                                    <option value="All"{% if selected_city == "All" %} selected{% endif %}>Усі</option>
                                    {% for city in cities %}
                                        <option value="{{ city.name }}" {% if city.name == selected_city %}selected{% endif %} >
                                            {{ city.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        <!-- Filters Dropdown Menu -->
{#                        <div class="filter-dropdown-container">#}
{#                            <!-- City Selection Dropdown -->#}
{#                            <div class="variable-holder">#}
{#                                <div class="function-caller">#}
{#                                    <img class="dec-line-1-icon" loading="lazy" alt=""#}
{#                                         src="{% static 'img/decline1.svg' %}"/>#}
{#                                </div>#}
{##}
{#                                <label class="select-your-city">Оберіть місто</label>#}
{#                                <form id="cityForm" method="POST" action="{% url 'events' %}">#}
{#                                    {% csrf_token %}#}
{#                                    <select id="cities" name="selected-city"#}
{#                                            onchange="document.getElementById('cityForm').submit();">#}
{#                                        <option value="All"{% if selected_city == "All" %} selected{% endif %}>Усі#}
{#                                        </option>#}
{#                                        {% for city in cities %}#}
{#                                            <option value="{{ city.name }}"#}
{#                                                    {% if city.name == selected_city %}selected{% endif %}>#}
{#                                                {{ city.name }}#}
{#                                            </option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </form>#}
{##}
{#                                <div class="function-caller1">#}
{#                                    <img class="dec-line-2-icon" loading="lazy" alt=""#}
{#                                         src="{% static 'img/decline2.svg' %}"/>#}
{#                                </div>#}
{#                            </div>#}
{##}
                            <!-- Availability Checkbox -->
                            <div class="audio-processor">
                                <div class="availability">
{#                                    <div class="availability1">Доступність</div>#}
                                    <form id="mobFilterForm" action="{% url 'events' %}" method="POST">
                                        {% csrf_token %}
                                        <label for="mobActiveCheckbox" style="position: relative; top: -7px;">Вільні місця</label>
                                        <input id="mobActiveCheckbox"
                                               class="icon-check1"
                                               type="checkbox"
                                               name="free-spots-checkbox"


                                               {% if free_spots %}checked{% endif %}>

                                    </form>
                                </div>
                            </div>
{#                        </div>#}
                    </div>
                    <div class="event-details">
                        <div class="event-details-child"></div>
                        <div class="menu-items-container">

                            <div class="menu-items7">
                                {% for object in all_objects %}
{#                                    <div class="form8"></div>#}
                                    <div class="item-213">
{#                                        <div class="form8"></div>#}
                                        <div class="content-container-two">
                                            <div class="date-and-age">
                                                <div class="date-age-content">
                                                    <img
                                                            class="icon11"
                                                            alt=""
                                                            src="{% if object.image %}{{ object.image.url }}{% else %}{% static 'img/placeholder-image1@2x.png' %}{% endif %}"
                                                    />
                                                    {% if object.get_start_date_day %}
                                                        <div class="date14">
                                                            <div class="date15">
                                                                <div class="day">
                                                                    <div class="event-day">{{ object.get_start_date_day }}</div>
                                                                </div>
                                                                <div class="year6">{{ object.get_start_date_month }} {{ object.get_start_date_year }}</div>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                                {% if object.start_age %}
                                                    <div class="age14">
                                                        <div class="age13">
                                                            <span>Age: </span>
                                                            <span class="span7">
                                                              {% if object.start_age %}
                                                                  {{ object.start_age }}
                                                                  {% if object.end_age %}
                                                                      -{{ object.end_age }}
                                                                  {% endif %}
                                                              {% endif %}</span>

                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                        <div class="city-and-details">
                                            <div class="city6">
                                                <div class="bg-enrollment7"></div>
                                                <div class="city-icon">
                                                    <img
                                                            class="map-pin-icon"
                                                            loading="lazy"
                                                            alt=""
                                                            src="./public/vector-21.svg"
                                                    />
                                                </div>
                                                <div class="batumi4">
                                                    {% if object.selected_city %}
                                                        {{ object.selected_city }}
                                                    {% else %}
                                                        <span>Грузія</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="event-description">
                                                <div class="description-content">
                                                    <div class="header-item7">
                                                        <div class="decoration36"></div>
                                                        <b class="crafts-for-children4">
                                                            {{ object.title }}
                                                        </b>
                                                    </div>
                                                    <div
                                                            class="lorem-ipsum-is-simply-dummy-te-wrapper2"
                                                    >
                                                        <div class="lorem-ipsum-is-simply7">
                                                            {{ object.extra_details }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if object.is_active %}
                                                    <a class="button-join7" href="{{ object.get_url }}">
                                                        <div class="join-parent4">
                                                            <div class="join6">РЕЄСТРАЦІЯ</div>
                                                            <div class="join-icon">
                                                                <img
                                                                        class="vector-icon26"
                                                                        alt=""
                                                                        src='img/vector-11.svg'
                                                                />
                                                            </div>
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <button class="button-join6">
                                                        <div class="join-parent4">
                                                            <div class="join6">Закрито</div>
                                                            <div class="join-icon">
                                                                <img
                                                                        class="vector-icon26"
                                                                        alt=""
                                                                        src='img/vector-11.svg'
                                                                />
                                                            </div>
                                                        </div>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                <nav class="mt-4" aria-label="Page navigation sample">
                                    {% if all_objects.has_other_pages %}
                                        <ul class="pagination">
                                            {% if all_objects.has_previous %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ all_objects.previous_page_number }}">Попередня</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled"><a class="page-link"
                                                                                  href="#">Попередня</a>
                                                </li>
                                            {% endif %}

                                            {% for page_number in all_objects.paginator.page_range %}
                                                {% if all_objects.number == page_number %}
                                                    <li class="page-item active"><a class="page-link"
                                                                                    href="#">{{ page_number }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page={{ page_number }}">{{ page_number }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if all_objects.has_next %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ all_objects.next_page_number }}">Наступна</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled"><a class="page-link"
                                                                                  href="#">Наступна</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </nav>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    document.getElementById('mobCities').addEventListener('change', function() {
        document.getElementById('mobCityForm').submit();
    });

</script>