.bg-footer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-background);
}
.logo-flag-ut-icon {
  height: 38.5px;
  width: 60px;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.unite {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.group1 {
  position: absolute;
  height: 59.94%;
  width: 97.69%;
  top: 0;
  right: 2.31%;
  bottom: 40.06%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.together {
  position: relative;
  display: inline-block;
  min-width: 56.3px;
}
.group,
.group2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group2 {
  height: 34.09%;
  top: 65.91%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xs-9);
}
.group {
  height: 100%;
  top: 0;
}
.logo-text-ut,
.logo-ut-footer {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.logo-text-ut {
  height: 35.2px;
  flex: 1;
  position: relative;
}
.logo-ut-footer {
  width: 122px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-7xs-7);
  z-index: 1;
}
.briefly-about-us {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.our-organization-unite {
  width: 278px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-300);
  display: inline-block;
  z-index: 1;
}
.briefly-about-us-parent,
.logo-ut-footer-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.briefly-about-us-parent {
  align-self: stretch;
  gap: var(--gap-xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.logo-ut-footer-parent {
  flex: 1;
  gap: var(--gap-7xl-6);
  min-width: 199px;
}
.menu {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.line-decoration {
  width: 25px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.about-us,
.footer-heading {
  align-self: stretch;
  z-index: 1;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.about-us {
  position: relative;
  font-weight: 500;
}
.events {
  text-decoration: underline;
}
.events,
.projects {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.about-us-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-300);
}
.about-us-parent,
.footer-heading-parent,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-heading-parent {
  width: 196px;
  flex-direction: column;
  gap: var(--gap-lgi);
  min-width: 196px;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.frame-group {
  width: 526px;
  flex-direction: row;
  gap: var(--gap-5xl);
  min-width: 526px;
  max-width: 100%;
}
.contact {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.line-decoration1 {
  width: 26px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.footer-heading-wrapper,
.footer-heading1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-heading1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  z-index: 1;
}
.footer-heading-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.icon-phone {
  height: 15px;
  width: 15.6px;
  position: relative;
  min-height: 15px;
}
.div {
  flex: 1;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.phone {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.icon-email {
  width: 15.6px;
  height: 10.6px;
  position: relative;
}
.icon-email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-7) 0 0;
}
.uniteforukrainegmailcom {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 158px;
  white-space: nowrap;
}
.e-mail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.icon-geo {
  height: 21.2px;
  width: 15.6px;
  position: relative;
}
.tbilisi-2123-tsotne {
  height: 68px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.batumi-127-luka,
.kutaisi-62-agmashenebeli {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.batumi-127-luka-asatiani-st-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  margin-top: -41.8px;
}
.address {
  flex: 1;
  flex-direction: column;
  min-width: 182px;
}
.address,
.frame-div,
.geolocation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.geolocation {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
  z-index: 1;
}
.frame-div {
  width: 306px;
  flex-direction: column;
  gap: var(--gap-mini);
}
.we-are-on {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.decoration {
  width: 25px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.footer-heading2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  z-index: 1;
}
.subscribe-to-us {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-300);
  z-index: 1;
}
.icon-fb,
.icon-insta,
.icon-tg {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.icon-tg {
  width: 23px;
}
.footer-heading-group,
.soc-icons-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.soc-icons-footer {
  flex-direction: row;
  gap: var(--gap-mini);
  z-index: 1;
}
.footer-heading-group {
  width: 306px;
  flex-direction: column;
  gap: var(--gap-lgi);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-container,
.frame-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  justify-content: space-between;
  min-width: 485px;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-300);
  font-family: var(--font-montserrat);
}
.frame-parent {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider,
.logo-instance {
  align-self: stretch;
  box-sizing: border-box;
}
.logo-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
  max-width: 100%;
}
.divider {
  height: 1px;
  position: relative;
  border: 1.5px solid var(--color-silver-100);
  z-index: 1;
}
.unite-together-all {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.privacy-policy {
  display: inline-block;
  min-width: 96px;
}
.cookies-settings,
.privacy-policy,
.terms-of-service {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings {
  display: inline-block;
  min-width: 94px;
}
.footer-bar,
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.row {
  justify-content: flex-start;
  gap: var(--gap-4xl-7);
  z-index: 1;
}
.footer-bar {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.divider-parent,
.footer,
.footer-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
}
.footer,
.footer-parent {
  position: relative;
}
.footer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-93xl) 0 var(--padding-18xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.footer-parent {
  width: 100%;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-group {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .footer-heading-parent {
    flex: 1;
  }
  .frame-container,
  .frame-group {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .logo-instance {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .row {
    flex-wrap: wrap;
  }
  .footer {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .e-mail,
  .geolocation {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
}
