@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-us-partners-child,
.about-us-partners-item {
  width: 30px;
  height: 1640.9px;
  position: relative;
  background-color: var(--color-lightcoral);
  display: none;
}
.about-us-partners-item {
  height: 1707.7px;
}
.bg-menu4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-background);
}
.logo-flag-ut-icon8 {
  margin-left: -106.19999999999982px;
  height: 62.2px;
  width: 96.8px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.unite8 {
  position: relative;
  display: inline-block;
  min-width: 88.9px;
}
.group25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.together8 {
  position: relative;
  display: inline-block;
  min-width: 90.9px;
}
.group24,
.group26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group26 {
  flex-direction: row;
  font-size: var(--font-size-base-9);
}
.group24 {
  flex-direction: column;
  gap: var(--gap-9xs-5);
}
.logo-text-ut8 {
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.input-link,
.logo-text-ut8,
.logo-ut4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-ut4 {
  width: 197px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-87xl-1);
  box-sizing: border-box;
  gap: var(--gap-3xs-4);
  z-index: 1;
}
.input-link {
  width: 298px;
  flex-direction: column;
  font-size: var(--font-size-8xl-5);
  font-family: var(--font-inter);
}
.about-us8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 84px;
  white-space: nowrap;
}
.line-active-menu4 {
  height: 2px;
  width: 42px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--accent-blue);
}
.line-active-menu-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
}
.active-menu-wrapper1,
.active-menu4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.active-menu4 {
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.active-menu-wrapper1 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini-5);
  color: var(--accent-blue);
}
.events12,
.projects8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.projects8 {
  min-width: 76px;
}
.events-container,
.navbar-inner1 {
  display: flex;
  align-items: flex-start;
}
.events-container {
  width: 189px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar-inner1 {
  width: 280px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xl-5);
  box-sizing: border-box;
}
.blue-rectangle4,
.yellow-rectangle4 {
  position: absolute;
  top: 6px;
  left: 0;
  background-color: var(--color-gold-100);
  width: 19px;
  height: 6px;
}
.blue-rectangle4 {
  top: 0;
  background-color: var(--color-cornflowerblue-300);
}
.flag-ua4 {
  width: 19px;
  height: 12px;
  position: relative;
}
.flag-ua-wrapper2 {
  width: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.language-ua4 {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
}
.arrow-icon4 {
  width: 6px;
  height: 2px;
  position: relative;
}
.arrow-wrapper1 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.arrow-wrapper1,
.languages-wrapper1,
.languages4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.languages4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.languages-wrapper1 {
  width: 60px;
  flex-direction: column;
  padding: var(--padding-sm-5) 0 0;
  box-sizing: border-box;
}
.dividing-line-icon4 {
  width: 0;
  height: 32px;
  position: relative;
  object-fit: contain;
}
.dividing-line-wrapper2 {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
}
.user-icon4 {
  width: 14px;
  height: 15.5px;
  position: relative;
}
.user-icon-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-2);
}
.loginsign-up4 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--primary-text);
  text-align: left;
  display: inline-block;
  min-width: 116px;
  white-space: nowrap;
}
.button-register4,
.frame-parent17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent17 {
  align-items: flex-end;
  gap: var(--gap-mini);
}
.button-register4 {
  cursor: pointer;
  border: 2px solid var(--accent-blue);
  padding: var(--padding-3xs) var(--padding-6xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-3xs);
  overflow: hidden;
  align-items: flex-start;
}
.donate4 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--neutral-background);
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.donate-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.donate-icon4 {
  height: 25px;
  width: 25px;
  position: relative;
  min-height: 25px;
}
.button-donate4,
.right-part4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-donate4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-8xl);
  background-color: var(--accent-blue);
  border-radius: var(--br-3xs);
  overflow: hidden;
  gap: var(--gap-3xs);
}
.right-part4 {
  align-self: stretch;
  gap: var(--gap-6xl);
  z-index: 1;
}
.navbar5,
.right-part-wrapper1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.right-part-wrapper1 {
  width: 484px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-5);
  font-size: var(--font-size-base);
}
.navbar5 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-text);
  font-family: var(--font-montserrat);
}
.bg-icon3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sublitle3 {
  width: 86px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.events13 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.discover-the-diverse3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.assets-panel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.content3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xl);
  font-size: var(--font-size-37xl);
}
.content3,
.page-header3,
.sec-title3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sec-title3 {
  width: 636px;
  flex-direction: column;
  gap: var(--gap-base);
  z-index: 1;
}
.page-header3 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-53xl);
  box-sizing: border-box;
  position: relative;
  min-height: 370px;
}
.bg2,
.rectangle-bg4 {
  position: relative;
  display: none;
}
.bg2 {
  height: 2343.7px;
  width: 1440px;
  background-color: var(--color-ghostwhite);
  max-width: 100%;
}
.rectangle-bg4 {
  align-self: stretch;
  height: 325px;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-gray);
}
.who-we-are1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.data-collector {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) var(--padding-7xs);
}
.documents3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
  z-index: 1;
}
.aggregator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.active-rectangle {
  height: 38px;
  width: 306px;
  position: relative;
  background-color: var(--accent-blue);
  display: none;
}
.partners-and-collaboration1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--neutral-background);
  text-align: left;
  z-index: 1;
}
.item-active3,
.value-splitter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-active3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mini);
  background-color: var(--accent-blue);
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.item-active3:hover {
  background-color: var(--color-cornflowerblue-200);
}
.value-splitter {
  flex-direction: column;
  gap: var(--gap-5xl-3);
}
.contacts2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.contacts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.aside-box4,
.bg-white1 {
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
}
.aside-box4 {
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-49xl) 0 var(--padding-43xl-1);
  gap: var(--gap-5xl-3);
  z-index: 1;
}
.bg-white1 {
  width: 966px;
  height: 2119.7px;
  position: relative;
  background-color: var(--neutral-background);
  display: none;
  max-width: 100%;
}
.partners-and-collaboration2 {
  margin: 0;
  width: 568.6px;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.this-page-features {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  z-index: 1;
}
.partners-and-collaboration-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-17xl);
  color: var(--primary-text);
}
.frame-inner,
.image-4-icon {
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-4-icon {
  width: 120.4px;
  height: 127.9px;
}
.frame-inner {
  height: 97.8px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.rectangle-wrapper {
  width: 152.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 35.8px;
  box-sizing: border-box;
}
.aktion-deutschland-hilft-logo-icon,
.rectangle-icon {
  width: 170.3px;
  height: 46.6px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.rectangle-icon {
  height: 74.6px;
  width: 168.7px;
  object-fit: cover;
}
.error-handler-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7.2px;
}
.ssk-logo-1 {
  align-self: stretch;
  height: 54.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.error-handler1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 64.6px;
  gap: 105px;
}
.image-2-icon {
  height: 54.5px;
  width: 165.7px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 59.2px;
}
.world-vision-icon {
  height: 57.8px;
  width: 169.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.world-vision-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 46.8px;
}
.action-against-icon {
  height: 79.5px;
  width: 147.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.action-against-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 35.9px;
}
.image-1-icon {
  width: 147.4px;
  height: 79.5px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.image-4-parent {
  width: 180.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57.6px;
}
.embassy-of-ukraine,
.the-embassy-promotes {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.embassy-of-ukraine {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.the-embassy-promotes {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.embassy-of-ukraine-in-georgia-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs-4);
  gap: var(--gap-smi);
}
.federal-foreign-office,
.with-offices-in {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.federal-foreign-office {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.with-offices-in {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.federal-foreign-office-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.1px;
}
.aktion-deutschland-hilft,
.in-2001-aktion {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.aktion-deutschland-hilft {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.in-2001-aktion {
  height: 81.2px;
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
  display: inline-block;
}
.aktion-deutschland-hilft-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.asb-georgia,
.since-1992-asb {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.asb-georgia {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.since-1992-asb {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.asb-georgia-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.founded-in-1992,
.ssk-georgia {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.ssk-georgia {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.founded-in-1992 {
  height: 103.1px;
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
  display: inline-block;
  flex-shrink: 0;
}
.ssk-georgia-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.care-caucasus,
.care-international-a {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.care-caucasus {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.care-international-a {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.care-caucasus-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.for-over-70,
.world-vision-georgia {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.world-vision-georgia {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.for-over-70 {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.world-vision-georgia-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.action-against-hunger,
.founded-on-the {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.action-against-hunger {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.founded-on-the {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.action-against-hunger-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.founded-on-the1,
.people-in-need {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.people-in-need {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.founded-on-the1 {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.frame-parent20,
.people-in-need-parent {
  align-self: stretch;
  flex-direction: column;
}
.people-in-need-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame-parent20 {
  gap: var(--gap-21xl);
}
.frame-parent19,
.frame-parent20,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs-4) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 247px);
}
.frame-parent19 {
  align-self: stretch;
  flex-direction: row;
  gap: 67px;
  max-width: 100%;
}
.image-3-icon {
  width: 120.4px;
  height: 121.8px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.6px 0 0;
}
.adra,
.the-global-humanitarian {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.adra {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.the-global-humanitarian {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.adra-parent,
.frame-parent18,
.frame-parent21 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.adra-parent {
  width: 654px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame-parent18,
.frame-parent21 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent18 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 9.6px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.n-1-icon {
  width: 125.6px;
  height: 125px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.n-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.helping-hand,
.this-project-aims {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.helping-hand {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.this-project-aims {
  font-size: var(--font-size-sm);
  line-height: 170%;
  color: var(--primary-text);
}
.helping-hand-parent {
  width: 654px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
  flex-shrink: 0;
  debug_commit: 1de1738;
}

.frame-parent22 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.sec-partners {
  align-self: stretch;
  background-color: var(--color-ghostwhite);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-93xl) var(--padding-53xl);
  gap: var(--gap-5xl);
  color: var(--primary-text);
}
.logo-flag-ut-icon9 {
  height: 38.5px;
  width: 60px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.unite9 {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.group28 {
  position: absolute;
  height: 59.94%;
  width: 97.69%;
  top: 0;
  right: 2.31%;
  bottom: 40.06%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.together9 {
  position: relative;
  display: inline-block;
  min-width: 56.3px;
}
.group27,
.group29 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group29 {
  height: 34.09%;
  top: 65.91%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xs-9);
}
.group27 {
  height: 100%;
  top: 0;
}
.logo-text-ut9,
.logo-ut-footer4 {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.logo-text-ut9 {
  height: 35.2px;
  flex: 1;
  position: relative;
}
.logo-ut-footer4 {
  width: 122px;
  height: 38.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
  gap: var(--gap-7xs-7);
}
.briefly-about-us4 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.our-organization-unite5 {
  width: 278px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-200);
  display: inline-block;
}
.description1,
.title7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title7 {
  align-self: stretch;
  gap: var(--gap-mid);
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.description1 {
  width: 21.25%;
  margin: 0 !important;
  position: absolute;
  height: 45.07%;
  top: 26.29%;
  right: 73.68%;
  bottom: 28.64%;
  left: 5.07%;
  gap: var(--gap-7xl-6);
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.menu4 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.line-decoration8 {
  width: 25px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.item-12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.about-us9 {
  text-decoration: underline;
}
.about-us9,
.events14,
.projects9 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.about-us-group,
.item-menu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-group {
  align-self: stretch;
  gap: var(--gap-mini);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.item-menu1 {
  width: 13.61%;
  margin: 0 !important;
  position: absolute;
  height: 33.33%;
  top: 32.16%;
  right: 55.9%;
  bottom: 34.51%;
  left: 30.49%;
  gap: var(--gap-lgi);
}
.contact4 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.line-decoration9 {
  width: 26px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.item-22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.icon-phone4 {
  height: 15px;
  width: 15.6px;
  position: relative;
  min-height: 15px;
}
.blending-buddy {
  flex: 1;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.phone4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.icon-email4 {
  width: 15.6px;
  height: 10.6px;
  position: relative;
}
.fill-filler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-7) 0 0;
}
.uniteforukraingmailcom1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 151px;
  white-space: nowrap;
}
.e-mail4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.icon-geo4 {
  align-self: stretch;
  width: 15.6px;
  position: relative;
  max-height: 100%;
  min-height: 21px;
}
.tbilisi-2123-tsotne4 {
  position: relative;
  font-weight: 500;
}
.tbilisi-2123-tsotne-dadiani-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
}
.address4,
.item-contact1,
.proximity-provider,
.tbilisi-2123-tsotne-dadiani-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.address4 {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.item-contact1,
.proximity-provider {
  flex-direction: column;
}
.proximity-provider {
  align-self: stretch;
  gap: var(--gap-mini);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.item-contact1 {
  width: 21.25%;
  margin: 0 !important;
  position: absolute;
  height: 34.08%;
  top: 31.78%;
  right: 30.49%;
  bottom: 34.13%;
  left: 48.26%;
  gap: var(--gap-lgi);
}
.we-are-on4 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.decoration11 {
  width: 25px;
  height: 3px;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-100);
}
.item-32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.subscribe-to-us4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-200);
}
.icon-fb4,
.icon-insta4,
.icon-tg4 {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.icon-tg4 {
  width: 23px;
}
.soc-icons-footer4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.divider6,
.item-socmedia1 {
  position: absolute;
  margin: 0 !important;
}
.item-socmedia1 {
  width: 21.25%;
  height: 34.27%;
  top: 31.69%;
  right: 5.07%;
  bottom: 34.04%;
  left: 73.68%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.divider6 {
  height: 1px;
  width: 1440px;
  top: 344px;
  left: 0;
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
}
.unite-together-all4 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.privacy-policy4 {
  display: inline-block;
  min-width: 96px;
}
.cookies-settings4,
.privacy-policy4,
.terms-of-service4 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings4 {
  display: inline-block;
  min-width: 94px;
}
.row4 {
  margin: 0 !important;
  position: absolute;
  top: 385px;
  left: 365.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-sm);
}
.about-us-partners,
.footer4 {
  position: relative;
  background-color: var(--neutral-background);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-montserrat);
}
.footer4 {
  align-self: stretch;
  height: 426px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-93xl) var(--padding-53xl) var(--padding-xl);
  gap: 40px 59.3px;
  font-size: var(--font-size-lg);
  color: var(--primary-text);
}
.about-us-partners {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.3px;
  opacity: 0;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-base);
  color: var(--neutral-background);
}
.about-us-partners.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
    .sec-partners {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
  }
}
@media screen and (max-width: 1050px) {
  .events13 {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .page-header3 {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .partners-and-collaboration2 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .frame-parent19 {
    gap: 33px;
  }
  .frame-parent21,
  .frame-parent22 {
    flex-wrap: wrap;
  }

    .row4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .navbar5 {
    gap: var(--gap-6xl);
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .image-4-parent {
    display: none;
  }
  .frame-parent20 {
    gap: var(--gap-xl);
  }
  .frame-wrapper2 {
    max-width: 100%;
  }

    .sec-partners {
    padding: var(--padding-12xl) var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo-ut4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .events13 {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .contacts2,
  .documents3,
  .who-we-are1 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .partners-and-collaboration2 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .error-handler1 {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .action-against-hunger,
  .aktion-deutschland-hilft,
  .asb-georgia,
  .care-caucasus,
  .embassy-of-ukraine,
  .federal-foreign-office,
  .people-in-need,
  .ssk-georgia,
  .world-vision-georgia {
    font-size: var(--font-size-base);
  }
  .frame-parent19 {
    gap: var(--gap-mid);
  }
  .adra {
    font-size: var(--font-size-base);
  }
  .frame-parent18 {
    gap: var(--gap-xl);
  }
  .helping-hand {
    font-size: var(--font-size-base);
  }
  .e-mail4 {
    flex-wrap: wrap;
  }
  .footer4 {
    height: auto;
    min-height: 426;
  }
}
