{% extends "base.html" %}

{% load static %}

{% block content %}
<div style="margin: 10px; padding: 10px">
    <h1>Політика щодо cookies</h1>
    <p>Оновлено: 22.12.2024</p>

    <h2>Що таке cookies</h2>
    <p>Cookies — це невеликі текстові файли, які зберігаються на вашому пристрої для збору інформації про відвідування сайту. Вони дозволяють нам розуміти, як ви взаємодієте з нашим контентом.</p>

    <h2>Як ми використовуємо cookies</h2>
    <ul>
        <li>Для запам’ятовування ваших налаштувань та мовних вподобань.</li>
        <li>Для аналітики використання сайту (наприклад, через Google Analytics).</li>
        <li>Для забезпечення функціональності особистого кабінету та реєстрації на події.</li>
    </ul>

    <h2>Ваш вибір</h2>
    <p>Ви можете відключити файли cookies у налаштуваннях браузера. Однак це може обмежити функціональність сайту та доступ до деяких розділів.</p>
    <p>Детальніше про те, як ми використовуємо cookies, ви можете дізнатися, зв’язавшись з нами за <a href="mailto:info@unite-together.org">info@unite-together.org</a>.</p>
</div>
{% endblock %}