{% extends "base.html" %}

{% load static %}

{% block content %}
<div style="margin: 10px; padding: 10px">
    <h1>Політика конфіденційності</h1>
    <p>Дата набуття чинності: 22.12.2024</p>
    <p>Unite Together зобов’язується захищати вашу конфіденційність. Ця Політика конфіденційності пояснює, як ми збираємо, використовуємо, розкриваємо та захищаємо вашу інформацію.</p>

    <h2>Яку інформацію ми збираємо</h2>
    <ul>
        <li>Персональні дані, які ви надаєте під час реєстрації, участі в подіях або заповнення форм.</li>
        <li>Дані про використання вебсайту, включаючи файли cookie, IP-адреси, та аналітичну інформацію.</li>
    </ul>

    <h2>Як ми використовуємо вашу інформацію</h2>
    <ul>
        <li>Для організації подій, надання послуг та покращення роботи вебсайту.</li>
        <li>Для зв’язку з вами, зокрема, відправлення інформаційних повідомлень.</li>
        <li>Для дотримання законодавчих вимог.</li>
    </ul>

    <h2>Ваші права</h2>
    <p>Ви можете запитувати доступ до своїх даних, їх виправлення або видалення. Ви маєте право відкликати свою згоду на обробку персональних даних у будь-який час.</p>
    <p>Для детальної інформації або питань щодо Політики конфіденційності, зв’яжіться з нами за <a href="mailto:info@unite-together.org">info@unite-together.org</a>.</p>
</div>
{% endblock %}