{% extends "base.html" %}

{% load static %}

{% block content %}
<div style="margin: 10px; padding: 10px">
    <h1>Умови та положення</h1>
    <p>Оновлено: 22.12.2024</p>

    <h2>Загальні положення</h2>
    <ul>
        <li>Сайт та його вміст надаються "як є" для інформування та взаємодії з громадою.</li>
        <li>Unite Together залишає за собою право змінювати вміст сайту та умови його використання без попередження.</li>
    </ul>

    <h2>Зобов’язання користувача</h2>
    <ul>
        <li>Ви зобов’язані надавати правдиву інформацію при реєстрації та використанні наших послуг.</li>
        <li>Забороняється розповсюдження шкідливого програмного забезпечення, спаму чи іншої незаконної діяльності через сайт.</li>
    </ul>

    <h2>Обмеження відповідальності</h2>
    <p>Unite Together не несе відповідальності за можливі технічні збої, тимчасову недоступність сайту або втрату даних.</p>

    <p>Якщо у вас є запитання або зауваження щодо Умов та положень, будь ласка, зв’яжіться з нами за <a href="mailto:info@unite-together.org">info@unite-together.org</a>.</p>
</div>
{% endblock %}