<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./ProjectsMobile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="projects-mobile">
      <section class="social-media-parent">
        <header class="social-media1">
          <div class="logo-ut-parent1">
            <div class="logo-ut24">
              <img
                class="logo-flag-ut-icon38"
                loading="lazy"
                alt=""
                src="./public/logoflagut9.svg"
              />

              <div class="logo-text-ut38">
                <div class="group114">
                  <div class="group115">
                    <a class="unite38">UNITE</a>
                  </div>
                  <div class="group116">
                    <a class="together38">TOGETHER</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper31">
              <div class="line-parent5">
                <div class="frame-child71"></div>
                <div class="frame-child72"></div>
                <div class="frame-child73"></div>
              </div>
            </div>
          </div>
        </header>
        <div class="social-media-description2">
          <div class="line-active-menu16"></div>
          <div class="social-media-description-inner">
            <div class="frame-parent121">
              <div class="actions-parent">
                <div class="actions13"></div>
                <div class="header-503">
                  <div class="container6">
                    <div class="section-title6">
                      <div class="tagline3">Subtitle</div>
                      <div class="content36">
                        <h1 class="short-heading-here3">Projects</h1>
                        <div class="lorem-ipsum-dolor3">
                          Unite Together is dedicated to supporting and
                          uplifting Ukrainian communities in Georgia through
                          sustainable projects and programs.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-blue-group">
                <div class="bg-blue5"></div>
                <div class="text-card3">
                  <div class="title-and-preview3">
                    <div class="title38">All</div>
                    <img
                      class="chevron-down-icon7"
                      alt=""
                      src="./public/chevron-down3.svg"
                    />
                  </div>
                </div>
                <div class="description-liststext-link-fo">
                  <div class="text66">Filters</div>
                </div>
                <div class="rectangle-parent8">
                  <div class="frame-child74"></div>
                  <div class="frame-parent122">
                    <div class="badge-parent">
                      <div class="badge">
                        <div class="text67">Ongoing</div>
                      </div>
                      <img
                        class="placeholder-image-icon20"
                        loading="lazy"
                        alt=""
                        src="./public/placeholder-image41@2x.png"
                      />
                    </div>
                    <div class="decoration-group">
                      <div class="decoration35"></div>
                      <div class="frame-wrapper32">
                        <div class="frame-parent123">
                          <div class="frame-parent124">
                            <div class="heading-parent15">
                              <b class="heading42"
                                >PLIS (PENSION LEGAL & INFORMATIONAL SUPPORT)</b
                              >
                              <div class="text68">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Dummy text of the
                                printing and typesetting industry.
                              </div>
                            </div>
                            <div class="tag9">
                              <div class="tag-one21">Other</div>
                            </div>
                          </div>
                          <div class="button-delails-wrapper2">
                            <button class="button-delails6">
                              <div class="details6">details</div>
                              <div class="vector-wrapper35">
                                <img
                                  class="vector-icon26"
                                  alt=""
                                  src="./public/vector3.svg"
                                />
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form8"></div>
                  </div>
                  <div class="legal-info">
                    <div class="frame-parent122">
                      <div class="badge-parent">
                        <div class="badge">
                          <div class="text67">Ongoing</div>
                        </div>
                        <img
                          class="placeholder-image-icon20"
                          loading="lazy"
                          alt=""
                          src="./public/placeholder-image41@2x.png"
                        />
                      </div>
                      <div class="decoration-group">
                        <div class="decoration35"></div>
                        <div class="frame-wrapper32">
                          <div class="frame-parent123">
                            <div class="frame-parent124">
                              <div class="heading-parent15">
                                <b class="heading42"
                                  >PLIS (PENSION LEGAL & INFORMATIONAL
                                  SUPPORT)</b
                                >
                                <div class="text68">
                                  Lorem Ipsum is simply dummy text of the
                                  printing and typesetting industry. Dummy text
                                  of the printing and typesetting industry.
                                </div>
                              </div>
                              <div class="tag9">
                                <div class="tag-one21">Other</div>
                              </div>
                            </div>
                            <div class="button-delails-wrapper2">
                              <button class="button-delails6">
                                <div class="details6">details</div>
                                <div class="vector-wrapper35">
                                  <img
                                    class="vector-icon26"
                                    alt=""
                                    src="./public/vector-14.svg"
                                  />
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form8"></div>
                    </div>
                    <div class="pagination-container">
                      <div class="pagination">
                        <div class="vector-wrapper37">
                          <img
                            class="vector-icon28"
                            loading="lazy"
                            alt=""
                            src="./public/vector-21.svg"
                          />
                        </div>
                        <div class="back-wrapper">
                          <div class="back3">Back</div>
                        </div>
                        <div class="active-wrapper">
                          <div class="active3">
                            <div class="active-child1"></div>
                            <div class="page-number">1</div>
                          </div>
                        </div>
                        <div class="wrapper7">
                          <div class="div19">2</div>
                        </div>
                        <div class="wrapper7">
                          <div class="div20">3</div>
                        </div>
                        <img
                          class="vector-icon29"
                          loading="lazy"
                          alt=""
                          src="./public/vector-3.svg"
                        />

                        <div class="forward-wrapper">
                          <div class="forward3">Forward</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="logo-ut-wrapper5">
        <div class="logo-ut25">
          <img
            class="logo-flag-ut-icon38"
            loading="lazy"
            alt=""
            src="./public/logoflagut-17.svg"
          />

          <div class="logo-text-ut38">
            <div class="group117">
              <div class="group115">
                <b class="unite39">UNITE</b>
              </div>
              <div class="group116">
                <b class="together39">TOGETHER</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="projects-mobile-inner">
        <div class="briefly-about-us-container">
          <b class="briefly-about-us18">briefly about us</b>
          <div class="our-organization-unite21">
            Our organization "Unite Together" is aimed at creating and
            implementing projects aimed at supporting and developing Ukrainians
            affected by the war.
          </div>
        </div>
      </section>
      <div class="menu-items-wrapper">
        <div class="menu-items6">
          <b class="briefly-about-us18">MENU</b>
          <div class="legal-links1">
            <div class="line-decoration36"></div>
            <div class="menu-list">
              <div class="about-us35">About us</div>
              <a class="events46">Events</a>
              <div class="about-us35">Projects</div>
            </div>
          </div>
        </div>
      </div>
      <section class="contact-container4">
        <div class="contact-parent">
          <b class="contact19">CONTACT</b>
          <div class="menu-list">
            <div class="phone-info1">
              <div class="icon-phone-container">
                <img
                  class="icon-phone19"
                  loading="lazy"
                  alt=""
                  src="./public/iconphone7.svg"
                />

                <div class="line-decoration37"></div>
              </div>
              <div class="footer-legal">
                <div class="number3">+995 595 720 449</div>
              </div>
            </div>
            <div class="email-info1">
              <div class="footer-link">
                <img
                  class="icon-email19"
                  loading="lazy"
                  alt=""
                  src="./public/iconemail8.svg"
                />
              </div>
              <div class="uniteforukraingmailcom17">
                uniteforukrain@gmail.com
              </div>
            </div>
          </div>
          <div class="location-info1">
            <img
              class="icon-geo19"
              loading="lazy"
              alt=""
              src="./public/icongeo7.svg"
            />

            <div class="address-container1">
              <div class="about-us35">
                Tbilisi, 21/23 Tsotne Dadiani St., office 8
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="social-container2">
        <div class="we-are-on-social-media-parent">
          <b class="briefly-about-us18">we are on social media</b>
          <div class="decoration37"></div>
          <div class="social-description">
            <div class="subscribe-to-us18">
              Subscribe to us on social media so you don't miss the release of
              new incredible projects.
            </div>
            <div class="social-icons-container1">
              <div class="icons">
                <img
                  class="icon-insta19"
                  loading="lazy"
                  alt=""
                  src="./public/iconinsta7.svg"
                />

                <img
                  class="icon-insta19"
                  loading="lazy"
                  alt=""
                  src="./public/iconfb7.svg"
                />

                <img
                  class="icon-tg19"
                  loading="lazy"
                  alt=""
                  src="./public/icontg7.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="divider22"></div>
      <div class="sublitle10">Subtitle</div>
      <section class="footer-container2">
        <div class="footer-content1">
          <div class="legal-links2">
            <div class="privacy-policy18">Privacy Policy</div>
            <div class="terms-of-service18">Terms of Service</div>
            <div class="cookies-settings18">Cookie Settings</div>
          </div>
          <div class="relume-all-rights4">
            © 2023 Unite Together. All rights reserved.
          </div>
        </div>
      </section>
      <div class="footer-link-container">
        <div class="description-liststext-link-fo1">
          <div class="text71">Filters</div>
        </div>
      </div>
    </div>
  </body>
</html>
