{% load static %}

    <div class="projects-mobile">

{#      <section class="financial-assistance-icon-cont">#}
{#        <div class="list1">#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="aspectratioblock6">#}
{#            <div class="aspect-ratio6">#}
{#              <div class="aspect-ratio-keeper-rotated6"></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
{#      <div class="logo-ut-wrapper5">#}
{#        <div class="logo-ut31">#}
{#          <img#}
{#            class="logo-flag-ut-icon44"#}
{#            loading="lazy"#}
{#            alt=""#}
{#            src="./public/logoflagut-110.svg"#}
{#          />#}
{##}
{#          <div class="logo-text-ut44">#}
{#            <div class="group132">#}
{#              <div class="group136">#}
{#                <b class="unite45">UNITE</b>#}
{#              </div>#}
{#              <div class="group137">#}
{#                <b class="together45">TOGETHER</b>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="briefly-about-us-wrapper">#}
{#        <b class="briefly-about-us21">briefly about us</b>#}
{#      </div>#}
{#      <section class="organization-description">#}
{#        <div class="our-organization-unite24">#}
{#          Our organization "Unite Together" is aimed at creating and#}
{#          implementing projects aimed at supporting and developing Ukrainians#}
{#          affected by the war.#}
{#        </div>#}
{#      </section>#}
{#      <div class="menu-parent1">#}
{#        <b class="menu22">MENU</b>#}
{#        <div class="line-decoration42"></div>#}
{#      </div>#}
{#      <div class="about-us-frame">#}
{#        <a class="about-us38">About us</a>#}
{#      </div>#}
{#      <div class="about-us-frame">#}
{#        <a class="about-us38">Events</a>#}
{#      </div>#}
{#      <div class="projects-container">#}
{#        <div class="projects38">Projects</div>#}
{#      </div>#}
{#      <div class="briefly-about-us-wrapper">#}
{#        <b class="briefly-about-us21">CONTACT</b>#}
{#      </div>#}
{#      <div class="projects-mobile-child">#}
{#        <div class="frame-parent122">#}
{#          <div class="phone-content-parent">#}
{#            <div class="phone-content">#}
{#              <img#}
{#                class="icon-phone23"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/iconphone10.svg"#}
{#              />#}
{##}
{#              <div class="line-decoration43"></div>#}
{#            </div>#}
{#            <div class="phone-number5">#}
{#              <div class="phone-number6">+995 595 720 449</div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="frame-parent123">#}
{#            <div class="icon-email-wrapper7">#}
{#              <img#}
{#                class="icon-email23"#}
{#                loading="lazy"#}
{#                alt=""#}
{#                src="./public/iconemail11.svg"#}
{#              />#}
{#            </div>#}
{#            <div class="uniteforukraingmailcom21">uniteforukrain@gmail.com</div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="projects-mobile-inner1">#}
{#        <div class="icon-geo-parent">#}
{#          <img#}
{#            class="icon-geo23"#}
{#            loading="lazy"#}
{#            alt=""#}
{#            src="./public/icongeo10.svg"#}
{#          />#}
{##}
{#          <div class="tbilisi-2123-tsotne-dadiani-wrapper7">#}
{#            <div class="tbilisi-2123-tsotne23">#}
{#              Tbilisi, 21/23 Tsotne Dadiani St., office 8#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="we-are-on-social-media-parent">#}
{#        <b class="briefly-about-us21">we are on social media</b>#}
{#        <div class="decoration41"></div>#}
{#      </div>#}
{#      <div class="subscribe-to-us-on-social-medi-wrapper">#}
{#        <div class="our-organization-unite24">#}
{#          Subscribe to us on social media so you don't miss the release of new#}
{#          incredible projects.#}
{#        </div>#}
{#      </div>#}
{#      <div class="email-content">#}
{#        <div class="location1">#}
{#          <img#}
{#            class="icon-insta23"#}
{#            loading="lazy"#}
{#            alt=""#}
{#            src="./public/iconinsta10.svg"#}
{#          />#}
{##}
{#          <img#}
{#            class="icon-insta23"#}
{#            loading="lazy"#}
{#            alt=""#}
{#            src="./public/iconfb10.svg"#}
{#          />#}
{##}
{#          <img#}
{#            class="icon-tg23"#}
{#            loading="lazy"#}
{#            alt=""#}
{#            src="./public/icontg10.svg"#}
{#          />#}
{#        </div>#}
{#      </div>#}
{#      <div class="divider-wrapper1">#}
{#        <div class="divider25"></div>#}
{#      </div>#}
{#      <div class="address20">#}
{#        <div class="privacy-policy21">Privacy Policy</div>#}
{#      </div>#}
{#      <div class="address20">#}
{#        <div class="terms-of-service21">Terms of Service</div>#}
{#      </div>#}
{#      <div class="about-us-content1">#}
{#        <div class="cookies-settings21">Cookie Settings</div>#}
{#      </div>#}
{#      <section class="relume-all-rights-reserved-wrapper1">#}
{#        <div class="relume-all-rights7">#}
{#          © 2023 Unite Together. All rights reserved.#}
{#        </div>#}

{#      <section class="bg-blue-group">#}
        <div class="bg-blue8"></div>
{#        <div class="line-active-menu-wrapper8">#}
{#          <div class="line-active-menu19"></div>#}
{#        </div>#}
        <div class="actions16"></div>
        <div class="project-card-details-wrapper">
          <div class="project-card-details">
              <div class="col-md-12">
                  {% include 'projects/mobile/projects-sidebar-mobile.html' %}
              </div>
{#            <div class="project-content">#}
{##}
{#              <div class="text-card5">#}
{#                                                              <!-- Dropdown Menu -->#}
{##}
{#                <div class="title-and-preview5">#}
{##}
{#                  <div class="title41">All</div>#}
{#                  <img#}
{#                    class="chevron-down-icon9"#}
{#                    alt=""#}
{#                    src="./public/chevron-down3.svg"#}
{#                  />#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
            <div class="description-liststext-link-fo3">
              <a class="text69">Filters</a>
            </div>
          </div>
        </div>
        <div class="project-banner">
          <div class="rectangle-parent20">
            <div class="frame-child98"></div>
            <img
              class="baner-image-icon2"
              loading="lazy"
              alt=""
              src="./public/banerimage2@2x.png"
            />

            <div class="page-number-content">
              <div class="project-type-parent">
                <div class="project-type">
                  <div class="type-icons">
                    <div class="icons">
                      <img
                        class="ongoing-project-icon"
                        loading="lazy"
                        alt=""
                        src="./public/vector4.svg"
                      />
                    </div>
                    <div class="ongoing-project1">Ongoing project</div>
                  </div>
                  <div class="type-icons">
                    <div class="location-icons">
                      <img
                        class="financial-assistance-icon"
                        loading="lazy"
                        alt=""
                        src="./public/vector-16.svg"
                      />
                    </div>
                    <div class="ongoing-project1">Financial assistance</div>
                  </div>
                </div>
                <img
                  class="dec-line-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/decline.svg"
                />

                <div class="project-type">
                  <div class="frame-parent125">
                    <div class="icons">
                      <img
                        class="frame-child99"
                        loading="lazy"
                        alt=""
                        src="./public/group-6792.svg"
                      />
                    </div>
                    <div class="ongoing-project1">
                      December 2023 - February 2024
                    </div>
                  </div>
                  <div class="frame-parent126">
                    <div class="vector-wrapper35">
                      <img
                        class="vector-icon30"
                        loading="lazy"
                        alt=""
                        src="./public/vector-23.svg"
                      />
                    </div>
                    <div class="georgia1">Georgia</div>
                  </div>
                </div>
              </div>
              <div class="project-description-wrapper">
                <div class="project-description">
                  <span
                    >The program reimburses utility costs in winter in the
                    amount of
                  </span>
                  <span class="gel1">150 GEL</span>
                  <span> per month.</span>
                </div>
              </div>
              <div class="registration-button">
                <div class="button-registration2">
                  <div class="registration2">Registration</div>
                  <div class="vector-wrapper36">
                    <img
                      class="vector-icon31"
                      loading="lazy"
                      alt=""
                      src="./public/vector-31.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="winterization-group">
              <h1 class="winterization1">Winterization</h1>
              <div class="free-classes-of-container2">
                <p class="free-classes-of2">
                  Free classes of the club "On a first-name basis with autism"
                  for mothers and children diagnosed with ASD: you will find a
                  lot of information, trainings and advice from a social
                  pedagogue. Free classes of the club "On a first-name basis
                  with autism" for mothers and children diagnosed with ASD: you
                  will find a lot of information, trainings and advice from a
                  social pedagogue.
                </p>
                <p class="free-classes-of2">&nbsp;</p>
                <p class="free-classes-of2">
                  *As part of the long-term #MAS program with the support of the
                  German Federal Foreign Office and partners ASB Georgia, The
                  Samaritan Association of Georgia.
                </p>
              </div>
            </div>
            <div class="navigation-wrapper">
              <div class="navigation">
                <div class="navigationbutton2">
                  <div class="surface4">
                    <div class="navigationicon3">
                      <b class="b3">←</b>
                    </div>
                  </div>
                </div>
                <div class="counter">
                  <div class="numbers">
                    <div class="number3">1</div>
                    <div class="page-number">/</div>
                    <div class="number4">10</div>
                  </div>
                </div>
                <div class="navigationbutton2">
                  <div class="surface4">
                    <div class="navigationicon3">
                      <b class="b3">→</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{#      </section>#}
{#</section>#}
{#      <div class="description-liststext-link-fo-wrapper">#}
{#        <div class="description-liststext-link-fo4">#}
{#          <div class="text70">Filters</div>#}
{#        </div>#}
{#      </div>#}
    </div>

