.actions12 {
  width: 4.519rem;
  height: 1rem;
  display: none;
}
.sublitle9 {
  width: 5.375rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: none;
}
.logo-flag-ut-icon36 {
  margin-left: -4.425rem;
  height: 2.588rem;
  width: 4.037rem;
  position: relative;
  flex-shrink: 0;
}
.unite36 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 3.706rem;
}
.group109 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  flex-shrink: 0;
}
.together36 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 3.788rem;
}
.group110 {
  flex-direction: row;
  flex-shrink: 0;
  font-size: var(--font-size-2xs-6);
}
.group108,
.group110,
.logo-text-ut36,
.logo-ut22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group108 {
  flex-direction: column;
  gap: var(--gap-10xs-3);
}
.logo-text-ut36,
.logo-ut22 {
  flex-direction: row;
}
.logo-text-ut36 {
  flex-shrink: 0;
}
.logo-ut22 {
  width: 8.213rem;
  padding: 0 0 0 var(--padding-51xl);
  box-sizing: border-box;
  gap: var(--gap-6xs-2);
}
.frame-child68,
.frame-child69,
.frame-child70 {
  position: absolute;
  left: 0;
  border-top: 2px solid var(--primary-text);
  box-sizing: border-box;
  width: 1.625rem;
  height: 0.125rem;
}
.frame-child68 {
  top: 0;
}
.frame-child69,
.frame-child70 {
  top: 0.394rem;
}
.frame-child70 {
  top: 0.788rem;
}
.line-parent4 {
  width: 1.5rem;
  height: 0.913rem;
  position: relative;
}
.logout-mobile-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-3);
}
.logout-mobile {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg-3);
  color: var(--primary-text);
  font-family: var(--font-inter);
}
.line-active-menu15 {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  background-color: var(--color-whitesmoke-200);
}
.tagline2 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 4.063rem;
}
.short-heading-here2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
}
.content35,
.section-title5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content35 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-21xl);
}
.section-title5 {
  gap: var(--gap-xs);
}
.container5,
.section-title5 {
  align-self: stretch;
  align-items: flex-start;
}
.container5,
.header-502,
.header-mobile,
.menu-desktop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-502 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-45xl) var(--padding-xs);
  background-image: url(./public/header--50@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.header-mobile,
.menu-desktop {
  max-width: 100%;
}
.menu-desktop {
  margin-right: -0.732rem;
  width: 22.5rem;
  align-items: flex-start;
  gap: var(--gap-12xs-1);
}
.header-mobile {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--neutral-background);
  font-family: var(--font-montserrat);
}
.bg-blue4 {
  width: 22.506rem;
  height: 108.438rem;
  position: relative;
  background-color: var(--color-ghostwhite);
  display: none;
  max-width: 100%;
}
.title41 {
  position: relative;
  line-height: 1.75rem;
  font-weight: 500;
}
.chevron-down-icon6 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.title-and-preview3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.partner-info-child,
.text-card2 {
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
}
.text-card2 {
  align-self: stretch;
  background-color: var(--accent-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  z-index: 1;
}
.partner-info-child {
  width: 21rem;
  height: 95.45rem;
  position: relative;
  background-color: var(--neutral-background);
  display: none;
  max-width: 100%;
}
.partners-and-collaboration5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.this-page-features1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  z-index: 2;
}
.partner-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-30xl);
  gap: var(--gap-xl);
  font-size: var(--heading-h2-size);
  color: var(--primary-text);
}
.image-4-icon1 {
  width: 7.85rem;
  height: 7.994rem;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.embassy-of-ukraine1,
.the-embassy-promotes1 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.embassy-of-ukraine1 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.the-embassy-promotes1 {
  height: 10.719rem;
  font-size: var(--body-small-size);
  line-height: 170%;
  color: var(--primary-text);
  display: inline-block;
  flex-shrink: 0;
}
.embassy-description,
.partner-embassy {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.embassy-description {
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.partner-embassy {
  padding: 0 0 var(--padding-8xs);
  gap: 0.931rem;
}
.office-image-icon {
  width: 9.556rem;
  height: 6.113rem;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.federal-foreign-office1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.with-offices-in1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-size);
  line-height: 170%;
  color: var(--primary-text);
  z-index: 2;
}
.office-description,
.partner-office {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.office-description {
  align-self: stretch;
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.partner-office {
  width: 17.963rem;
  gap: var(--gap-mini);
}
.aktion-deutschland-hilft-logo-icon1 {
  width: 14.338rem;
  height: 3.919rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.aktion-deutschland-hilft1,
.in-2001-aktion1 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.aktion-deutschland-hilft1 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.in-2001-aktion1 {
  height: 9.731rem;
  font-size: var(--body-small-size);
  line-height: 170%;
  color: var(--primary-text);
  display: inline-block;
  flex-shrink: 0;
}
.b2 {
  flex: 1;
  position: relative;
  line-height: 1.469rem;
}
.navigationicon2 {
  width: 1.469rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.navigationicon2,
.partner-navigation,
.surface3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.surface3 {
  width: 2.45rem;
  border-radius: 27.44px;
  background-color: var(--accent-blue);
  justify-content: flex-start;
  padding: 0.487rem var(--padding-6xs) var(--padding-5xs-9);
  box-sizing: border-box;
  z-index: 2;
}
.partner-navigation {
  align-self: stretch;
  justify-content: flex-end;
  text-align: center;
  font-size: 1.225rem;
  color: var(--neutral-background);
  font-family: var(--font-inter);
}
.partner-aktion,
.partner-info {
  align-self: stretch;
  flex-direction: column;
}
.partner-aktion {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.partner-info {
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--neutral-background);
  padding: var(--padding-45xl) var(--padding-2xs) 3.268rem var(--padding-xs);
  gap: var(--gap-16xl);
  z-index: 1;
  color: var(--accent-blue);
}
.partner-container,
.partner-container-wrapper,
.partner-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.partner-container {
  flex: 1;
  background-color: var(--color-ghostwhite);
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-2xs) var(--padding-45xl-6)
    var(--padding-xs);
  gap: var(--gap-12xl-2);
}
.partner-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 3.837rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-background);
  font-family: var(--font-montserrat);
}
.logo-flag-ut-icon37 {
  height: 2.588rem;
  width: 4.037rem;
  position: relative;
  flex-shrink: 0;
}
.unite37 {
  position: relative;
  display: inline-block;
  min-width: 3.706rem;
}
.group112 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
}
.together37 {
  position: relative;
  display: inline-block;
  min-width: 3.788rem;
}
.group111,
.group113 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group113 {
  flex-direction: row;
  font-size: var(--font-size-2xs-6);
}
.group111 {
  flex-direction: column;
  gap: var(--gap-10xs-3);
}
.logo-text-ut37 {
  flex-shrink: 0;
}
.footer-container1,
.logo-text-ut37,
.logo-ut23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-ut23 {
  padding: 0;
  gap: var(--gap-6xs-2);
}
.footer-container1 {
  padding: 0 var(--padding-xs) 0.506rem;
  font-size: var(--font-size-lg-3);
  font-family: var(--font-inter);
}
.briefly-about-us17 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.our-organization-unite20 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 170%;
  color: var(--color-darkslategray-300);
}
.about-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.about,
.menu18 {
  align-self: stretch;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.menu18 {
  position: relative;
  text-transform: uppercase;
}
.line-decoration34 {
  width: 2.813rem;
  height: 0.188rem;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
}
.about-us34 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.events45 {
  text-decoration: none;
  color: inherit;
}
.events45,
.projects34 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.menu-items5 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
  font-size: var(--body-small-size);
  color: var(--color-darkslategray-300);
}
.menu-container3,
.menu-items5,
.menu17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.menu17 {
  width: 13.775rem;
  flex-direction: row;
  padding: 0 var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.contact18 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.icon-phone18 {
  position: absolute;
  top: 1.375rem;
  left: 0;
  width: 1.069rem;
  height: 0.938rem;
}
.line-decoration35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
  width: 1.781rem;
  height: 0.188rem;
}
.icon-phone-group {
  width: 1.781rem;
  height: 2.313rem;
  position: relative;
}
.icon-email18,
.icon-geo18 {
  width: 1.069rem;
  height: 0.663rem;
  position: relative;
}
.icon-geo18 {
  height: 1.325rem;
}
.contact-icons1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg-7);
}
.div18 {
  height: 0.875rem;
  line-height: 1.125rem;
  display: inline-block;
  flex-shrink: 0;
}
.div18,
.uniteforukraingmailcom16 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.tbilisi-2123-tsotne18 {
  width: 18.806rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.contact-details5,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base-3);
}
.contact-details5 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-1);
  margin-left: -0.025rem;
}
.contact-info3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--body-small-size);
  color: var(--color-darkslategray-300);
}
.contact-container3,
.contact17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-container3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.contact17 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.we-are-on17 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.decoration34 {
  width: 2.969rem;
  height: 0.188rem;
  position: relative;
  border-radius: 0 var(--br-8xs) 0 var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
}
.subscribe-to-us17 {
  align-self: stretch;
  position: relative;
  line-height: 170%;
}
.icon-fb18,
.icon-insta18,
.icon-tg18 {
  height: 1.375rem;
  width: 1.375rem;
  position: relative;
  min-height: 1.375rem;
}
.icon-tg18 {
  width: 1.438rem;
}
.icon-insta-group,
.social-icons3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-insta-group {
  gap: var(--gap-mini);
}
.social-icons3 {
  padding: 0 var(--padding-4xs);
}
.subscribe-to-us-on-social-medi-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xl);
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-300);
}
.social,
.social-container1,
.subscribe-to-us-on-social-medi-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
  max-width: 100%;
}
.social {
  flex-direction: row;
  padding: 0 var(--padding-xs) var(--padding-9xs) var(--padding-2xs);
}
.divider-container1,
.divider21,
.social {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider21 {
  flex: 1;
  position: relative;
  border: 1.5px solid var(--color-silver-200);
}
.divider-container1 {
  height: 0.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.cookies-settings17,
.privacy-policy17,
.terms-of-service17 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: inline-block;
  min-width: 6rem;
}
.cookies-settings17,
.terms-of-service17 {
  min-width: 7.188rem;
}
.cookies-settings17 {
  min-width: 6.875rem;
}
.legal1,
.privacy-policy-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policy-parent {
  flex-direction: column;
  gap: var(--gap-base);
}
.legal1 {
  flex-direction: row;
  padding: 0 var(--padding-14xl);
  font-size: var(--body-small-size);
}
.relume-all-rights3 {
  position: relative;
  line-height: 150%;
}
.copyright1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl);
  font-size: var(--body-small-size);
}
.about-us-partners-mobile,
.footer16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-montserrat);
}
.footer16 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-medium-normal-size);
  color: var(--primary-text);
}
.about-us-partners-mobile {
  width: 100%;
  position: relative;
  background-color: var(--neutral-background);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-3xl) 0 var(--padding-45xl-4);
  box-sizing: border-box;
  gap: 0.162rem;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--body-regular-size);
  color: var(--neutral-background);
}
