{% extends "base.html" %}

{% load static %}

{% block content %}
    <body>

    <section class="page-header">
        <img class="bg-icon" loading="lazy" alt="" src="{% static 'img/bg@2x.png' %}"/>

        <div class="sec-title1">
            <div class="sublitle1">Subtitle</div>
            <div class="content9">
                <h1 class="events6">ABOUT US</h1>
                <div class="discover-the-diverse-range-of-wrapper">
                    <div class="discover-the-diverse1">
                        (in develop)
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <section class="section-conten padding-y" style="min-height:450vh">
            <div class="row">
                <!--Section 1 header-->
                <header class="header">
                    <div class="col-6">{{ header.title }}</div>
                    <p class="col-6">
                        {{ header.text }}
                    </p>
                </header>
                <!--End Section 1-->
            </div>
            <div class="row">
                <!--Section 2 mission-->
                <div class="sect-mission">
                    <div class="col-6">
                        <div class="text-16">
                            <p class="text-wrapper-6">
                                {{ mission.title }}
                            </p>
                            <p class="text-17">
                                {{ mission.text }}
                            </p>
                        </div>
                        {#            <img class="line-dec" src="{% static 'img/line-dec.svg' %}" />#}
                    </div>
                    <div class="col-6">
                        <img class="placeholder-image-2" src="{{ mission.image.url }}"/>
                    </div>
                </div>
                <!--End Section 2-->
            </div>
            <div class="row">
                <!--Section 3 stats-->
                <div class="sect-stats">
                    <div class="title-subtitle-2">
                        <p class="heading">{{ stats.title }}</p>
                        <div class="subheading-3">Empowering</div>
                    </div>
                    <div class="mission-button">
                        <p class="text-9">
                            {{ stats.text }}
                        </p>
                        <button class="button">
                            <div class="text-5">Learn more</div>
                        </button>
                    </div>
                    <div class="stats">
                        {% for stats_sub in stats_subs %}
                            <div class="stat">
                                <div class="text-10">{{ stats_sub.title }}</div>
                                <div class="text-11">{{ stats_sub.text }}</div>
                                <img class="line-2" src="{% static 'img/line-8.svg' %}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--End Section 3-->
            </div>
            <div class="row">
                <!--Section 4 history-->
                <div class="sect-history">
                    <div class="history-left">
                        <div class="text-more">
                            <p class="text-4">
                                {{ history.text }}
                            </p>
                            <button class="button-more">
                                <div class="text-5">Learn more</div>
                            </button>
                        </div>
                        <div class="title-subtitle">
                            <p class="heading">{{ history.title }}</p>
                            <div class="subheading-2">Empowering</div>
                        </div>
                    </div>
                    <div class="frame-2">
                        {% for history_sub in history_subs %}
                            <div class="timeline-item">
                                <div class="text-6">
                                    <p class="text-7">
                                        <span class="span">{{ history_sub.text }}</span>
                                    </p>
                                    <div class="heading-2">{{ history_sub.title }}</div>
                                </div>
                                <div class="dec-line-elipse">
                                    <div class="ellipse"></div>
                                    <img class="line" src="{% static 'img/line-16.svg' %}"/>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <!--End Section 4-->
            </div>
            <div class="row">
                <!--Section 5 achievements-->
                <div class="sect-achievements">
                    <div class="left">
                        <div class="title-text">
                            <div class="heading">{{ achievements.title }}</div>
                            <div class="subheading">Empowering</div>
                        </div>
                        <img class="placeholder-image" src="{{ achievements.image.url }}"/>
                    </div>
                    <div class="frame">
                        {% for achievements_sub in achievements_subs %}
                            <div class="item">
                                <p class="text">{{ achievements_sub.text }}</p>
                                <img class="icon" src="{{ achievements_sub.image.url }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--End Section 5-->
            </div>

        </section>
    </div>

{% endblock %}