{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

{#    <link rel="stylesheet" href="{% static 'css/aboutus/index.css'%}" />#}
    <link rel="stylesheet" href="{% static 'css/aboutus/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/aboutus/about-us.css'%}" />
    <link rel="stylesheet" href="{% static 'css/aboutus/about-us-documents.css'%}" />
    <link rel="stylesheet" href="{% static 'css/aboutus/about-us-partners.css'%}" />
    <link rel="stylesheet" href="{% static 'css/aboutus/about-us-contacts.css'%}" />

    <link rel="stylesheet" href="{% static 'css/events/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/events/index.css'%}" />
    <link rel="stylesheet" href="{% static 'css/events/event_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'css/events/e-v-e-n-t-s.css'%}" />
      
    <link rel="stylesheet" href="{% static 'css/common.css'%}" />
      

    <link rel="stylesheet" href="{% static 'css/projects/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/projects/projects.css'%}" />
    <link rel="stylesheet" href="{% static 'css/projects/project-detail.css'%}" />

    <link rel="stylesheet" href="{% static 'css/home/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/home/index.css'%}" />



    <link rel="stylesheet" href="{% static 'css/accounts/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/accounts/login.css'%}" />
    <link rel="stylesheet" href="{% static 'css/accounts/signup.css'%}" />

    <link rel="stylesheet" href="{% static 'css/persons/personal-account-accounts-family.css'%}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"    />

    <link rel="stylesheet" href="{% static 'css/events/bootstrap.min.css' %}">




  </head>


  <body>

  {#  navbar#}
  {% include 'includes/new/navbar.html' %}


  {% block content %}
      {#        content#}
  {% endblock %}

  {#  footer#}
  {% include 'includes/new/footer.html' %}


  </body>
</html>
