{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="about-us">
      <div class="div">
        <footer class="footer">
          <div class="content">
            <div class="logo-ut">
              <img class="logo-flag-ut" src="{% static 'img/logo-flag-ut-2.png' %}" />
              <div class="logo-text-ut">
                <div class="group">
                  <div class="div-wrapper"><div class="text-wrapper">UNITE</div></div>
                  <div class="group-2"><div class="text-wrapper-2">TOGETHER</div></div>
                </div>
              </div>
            </div>
            <div class="menu-culumn">
              <div class="menu-item"><div class="text-wrapper-3">About us</div></div>
              <div class="menu-item-2"><div class="text-wrapper-3">News</div></div>
              <div class="menu-item-2"><div class="text-wrapper-3">Events</div></div>
              <div class="menu-item-2"><div class="text-wrapper-3">Projects</div></div>
              <div class="menu-item-2"><div class="text-wrapper-3">Partners</div></div>
              <div class="menu-item-2"><div class="news">Documents</div></div>
              <div class="menu-item-2"><div class="text-wrapper-3">Contact</div></div>
            </div>
            <img class="soc-icon" src="{% static 'img/soc-icon.png' %}" />
          </div>
          <div class="divider"></div>
          <div class="div-2">
            <p class="element-all-rights">© 2023 Unite Together. All rights reserved.</p>
            <div class="div-2">
              <div class="text-wrapper-4">Privacy Policy</div>
              <div class="text-wrapper-4">Terms and Conditions</div>
              <div class="text-wrapper-4">Cookie Policy</div>
            </div>
          </div>
        </footer>
        <div class="sect-achievements">
          <div class="left">
            <div class="title-text">
              <div class="heading">Significant successes and achievements</div>
              <div class="subheading">Empowering</div>
            </div>
            <img class="placeholder-image" src="{% static 'img/placeholder-image-1.png' %}" />
          </div>
          <div class="frame">
            <div class="item">
              <p class="text">Organization of large-scale support and development programs.</p>
              <img class="icon" src="{% static 'img/icon-1.png' %}" />
            </div>
            <div class="item-2">
              <p class="p">Creation of an extensive database of Ukrainians living in Georgia.</p>
              <img class="img" src="{% static 'img/icon-2.png' %}" />
            </div>
            <div class="item-3">
              <p class="text-2">
                Systematic research into the needs of Ukrainians for more effective planning and implementation of
                programs.
              </p>
              <img class="group-3" src="{% static 'img/group.png' %}" />
            </div>
            <div class="item-4">
              <p class="text-3">
                Opening representative offices of the organization in various regions of Georgia to expand coverage and
                strengthen ties with the Ukrainian diaspora.
              </p>
              <img class="icon-2" src="{% static 'img/icon-4.png' %}" />
            </div>
          </div>
        </div>
        <div class="sect-history">
          <div class="history-left">
            <div class="text-more">
              <p class="text-4">
                &#34;Unite Together&#34; emerged from Ukrainian volunteers&#39; desire to aid their compatriots during
                the war. Initially organizing charity events to send medicines to Ukraine and support Ukrainians in
                Georgia, it transitioned into a structured NGO after securing its first European grant following a
                survey of Ukrainian residents in Georgia in June 2022. Officially established as an NGO on September 1,
                2022, it continues its mission to assist Ukrainians in Georgia.
              </p>
              <button class="button-more"><div class="text-5">Learn more</div></button>
            </div>
            <div class="title-subtitle">
              <p class="heading">Our journey: Milestones and Educational Initiatives</p>
              <div class="subheading-2">Empowering</div>
            </div>
          </div>
          <div class="frame-2">
            <div class="timeline-item">
              <div class="text-6">
                <p class="text-7">
                  <span class="span">Through the </span>
                  <span class="text-wrapper-5">#UkrCash</span>
                  <span class="span">
                    program, supported by ASB, monthly financial aid is provided to Ukrainians year-round, benefiting
                    over 3,000 individuals with a total exceeding €2 million.</span
                  >
                </p>
                <div class="heading-2">Financial support for Ukrainians</div>
              </div>
              <div class="dec-line-elipse">
                <div class="ellipse"></div>
                <img class="line" src="{% static 'img/line-16.svg' %}" />
              </div>
            </div>
            <div class="timeline-item">
              <div class="text-8">
                <p class="text-7">
                  <span class="span"
                    >Launch of the #Winterization program with the support of ASB and PIN, aimed at covering utility
                    costs for
                  </span>
                  <span class="text-wrapper-5">670 families</span>
                  <span class="span">.</span>
                </p>
                <div class="heading-3">Help with utility bills</div>
              </div>
              <div class="dec-line-elipse">
                <div class="ellipse"></div>
                <img class="line" src="{% static 'img/line-16.svg' %}" />
              </div>
            </div>
            <div class="timeline-item">
              <div class="group-4">
                <div class="dec-line-elipse">
                  <div class="ellipse"></div>
                  <img class="line" src="{% static 'img/line-16.svg' %}" />
                </div>
                <div class="text-8">
                  <p class="text-7">
                    <span class="span">Reimbursement of </span>
                    <span class="text-wrapper-5">50%</span>
                    <span class="span"> of housing costs for 90 Ukrainian families with PIN support.</span>
                  </p>
                  <div class="heading-3">Support for Ukrainian communities</div>
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="dec-line-elipse">
                <div class="ellipse"></div>
                <img class="line" src="{% static 'img/line-16.svg' %}" />
              </div>
              <div class="text-6">
                <p class="text-7">
                  <span class="span">Implementation of programs for children and the elderly in </span>
                  <span class="text-wrapper-5">Tbilisi, Batumi, Kutaisi</span>
                  <span class="span"
                    >, including educational, sports and entertainment events, language lessons and master classes in
                    various areas.</span
                  >
                </p>
                <div class="heading-3">Educational and cultural programs</div>
              </div>
            </div>
          </div>
        </div>
        <div class="sect-stats">
          <div class="title-subtitle-2">
            <p class="heading">Making a Difference in the Lives of Ukrainians</p>
            <div class="subheading-3">Empowering</div>
          </div>
          <div class="mission-button">
            <p class="text-9">
              Unite Together is dedicated to creating sustainable systemic changes in the lives of Ukrainians in Georgia
              affected by the war. Through our programs and projects, we provide financial assistance, informal
              education, sports, and counseling to empower individuals and strengthen the community. Together, we can
              make a difference.
            </p>
            <button class="button"><div class="text-5">Learn more</div></button>
          </div>
          <div class="stats">
            <div class="stat">
              <div class="text-10">12 000</div>
              <div class="text-11">People Helped</div>
              <img class="line-2" src="{% static 'img/line-8.svg' %}" />
            </div>
            <div class="stat">
              <div class="text-10">1 400</div>
              <div class="text-11">People Helped</div>
              <img class="line-2" src="{% static 'img/line-8.svg' %}" />
            </div>
            <div class="stat-2">
              <div class="text-12">2 000</div>
              <div class="text-13">People Helped</div>
              <img class="line-2" src="{% static 'img/line-8.svg' %}" />
            </div>
            <div class="stat-3">
              <div class="text-14">10 000</div>
              <div class="text-15">People Helped</div>
              <img class="line-2" src="{% static 'img/line-8.svg' %}" />
            </div>
          </div>
        </div>
        <div class="sect-mission">
          <div class="content-2">
            <div class="text-16">
              <p class="text-wrapper-6">
                Empowering Ukrainians in Georgia affected by war through sustainable systemic changes.
              </p>
              <p class="text-17">
                Unite Together was founded with the aim of providing support and development opportunities to Ukrainians
                in Georgia impacted by the war. Since our inception, we have been dedicated to creating projects and
                implementing programs for financial assistance, informal education, sports, and counseling. Our mission
                is to make a positive and lasting impact on the lives of those affected by the war.
              </p>
            </div>
            <img class="line-dec" src="{% static 'img/line-dec.svg' %}" />
          </div>
          <img class="placeholder-image-2" src="{% static 'img/placeholder-image.png' %}" />
        </div>
        <header class="header">
          <div class="text-wrapper-7">Empowering Ukranian Communities</div>
          <p class="text-wrapper-8">
            Unite Together is dedicated to supporting and uplifting Ukrainian communities in Georgia through sustainable
            projects and programs.
          </p>
        </header>
        <div class="navbar">
          <img class="line-header" src="{% static 'img/line-header.svg' %}" />
          <div class="button-login">
            <img class="icon-user" src="{% static 'img/icon-user.png' %}" />
            <div class="text-wrapper-9">Login/Register</div>
          </div>
          <div class="button-donate"><div class="text-wrapper-9">Donate</div></div>
          <div class="menu-culumn-2">
            <div class="menu-item"><div class="text-wrapper-3">About us</div></div>
            <div class="menu-item-2"><div class="text-wrapper-3">News</div></div>
            <div class="menu-item-2"><div class="text-wrapper-3">Events</div></div>
            <div class="menu-item-2"><div class="text-wrapper-3">Projects</div></div>
            <div class="menu-item-2"><div class="text-wrapper-3">Partners</div></div>
            <div class="menu-item-2"><div class="news">Documents</div></div>
            <div class="menu-item-2"><div class="text-wrapper-3">Contact</div></div>
          </div>
          <div class="logo-ut-2">
            <img class="logo-flag-ut" src="{% static 'img/logo-flag-ut.png' %}" />
            <div class="logo-text-ut">
              <div class="group">
                <div class="div-wrapper"><div class="text-wrapper">UNITE</div></div>
                <div class="group-2"><div class="text-wrapper-2">TOGETHER</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
