{% load static %}

<style>
    .three-column-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; /* расстояние между колонками */
    }

    .opacity-controller2 {
        /* Дополнительные стили для индивидуальных блоков, если необходимо */
        padding: 10px;
        background-color: #f5f5f5; /* Пример фона */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .frame-parent54 {
        display: flex; /* Используем Flexbox для выстраивания элементов */
        flex-direction: column; /* По умолчанию выстраиваем элементы вертикально */
        gap: 10px; /* Промежуток между элементами */
    }

    @media (min-width: 768px) {
        /* Для экранов шире 768px */
        .frame-parent54 {
            flex-direction: row; /* Выстраиваем элементы горизонтально */
            justify-content: space-between; /* Распределяем пространство между элементами */
            align-items: center; /* Выравниваем элементы по центру по вертикали */
        }
    }
</style>

<section class="page-header6">
    <img class="bg-icon6" loading="lazy" alt="" src="{% static 'img/desc-projects.png' %}"/>

    <div class="sec-title6">
        {#            <h1 class="events24">Проекти</h1>#}
        <div class="sublitle6">Підзаголовок</div>

        <div class="content18">
            <h1 class="events6">Проекти</h1>
            <div class="discover-the-diverse-range-of-wrapper3">
                <div class="discover-the-diverse6">
                    Відкрийте різноманітний спектр подій та активностей, які ми пропонуємо для підтримки української
                    громади в Грузії.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rectangle-group">
    <div class="rectangle-div"></div>
    <div class="aside-box">
        <div class="iterative-processor">

            <div class="database-connection">
                <div class="error-handler">
                    <a class="sport1{% if request.path == '/projects/' %}-active{% endif %}"
                       href="{% url 'projects' %}">Усі</a>
                    {% for category in links %}
                        <a class="sport1{% if category.slug in request.path %}-active{% endif %}"
                           href="{{ category.pre_computed_url }}">{{ category.name }}</a>
                    {% endfor %}
                    <div class="variable-holder">

                        <div class="function-caller">
                            <img
                                    class="dec-line-1-icon"
                                    loading="lazy"
                                    alt=""
                                    src="{% static 'img/decline1.svg' %}"
                            />
                        </div>

                        <div class="function-caller1">
                            <img
                                    class="dec-line-2-icon"
                                    loading="lazy"
                                    alt=""
                                    src="{% static 'img/decline2.svg' %}"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="audio-processor">
            <div class="availability">
                <div class="availability1"></div>

                <form id="filterForm" action="{% url 'projects' %}" method="POST">
                    {% csrf_token %}
                    <input id="activeCheckbox" class="icon-check1" type="checkbox" name="free-spots-checkbox"
                           {% if free_spots == True %}checked="{true}{% endif %}">

                    <label for="activeCheckbox">Тільки поточні</label>
                </form>

            </div>
        </div>
    </div>
    <div class="stroke-manager">
{#        <div class="bg5">#}
            <div class="three-column-container">
                <div class="blend-mode-adapter">
                    {% for object in all_objects %}
                        <div class="opacity-controller2">
                            <a href="{{ object.get_url }}" class="placeholder-image-container">
                                <img
                                        class="placeholder-image-icon8"
                                        alt=""
                                        src="{% if object.image %}
                                                    {{ object.image.url }}
                                                 {% else %}
                                                    {% static '/img/placeholder-image1%402x.png' %}
                                                 {% endif %}"
                                />

                                <div class="vector-wrapper13">
                                    <img
                                            class="frame-child14"
                                            alt=""
                                            src="{% static 'img/vector-35.svg' %}"
                                    />
                                </div>
                                <div class="decoration18"></div>
                            </a>
                            <div class="frame-parent54">
                                <div class="heading-parent4">
                                    <b class="heading20">{{ object.title }}</b>
                                    <div class="text-parent">
                                        <div class="lorem-ipsum-is-simply5">
                                            {{ object.extra_details }}

                                        </div>
                                        <div class="tag2">
                                            <div class="tag-one5">{{ object.group }}</div>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="vector-wrapper14">#}
{#                                    <img#}
{#                                            class="frame-child15"#}
{#                                            alt=""#}
{#                                            src="{% static 'img/variant-handler.svg' %}"#}
{#                                    />#}
{#                                </div>#}
                                <div class="tag-one-container">
                                    <div class="tag-one6">
                                        {% if object.is_active %}Поточний{% else %}
                                            Завершений
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="button-delails-container">
                                    <button class="button-delails2">
                                        <a href="{{ object.get_url }}" class="details2">деталі</a>
                                        <div class="vector-wrapper15">
                                            <img
                                                    class="vector-icon13"
                                                    alt=""
                                                    src="{% static 'img/vector-11.svg' %}"
                                            />
                                        </div>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <img
                                class="opacity-controller-icon1"
                                alt=""
                                src="{% static 'img/vector-33.svg' %}"
                        />
                    {% endfor %}
                </div>
            </div>
{#        </div>#}

        <div class="data-visualizer">
            <nav class="mt-4" aria-label="Навігація по сторінках">
                {% if all_objects.has_other_pages %}
                    <ul class="pagination">
                        {% if all_objects.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ all_objects.previous_page_number }}">Попередня</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Попередня</a></li>
                        {% endif %}

                        {% for page_number in all_objects.paginator.page_range %}
                            {% if all_objects.number == page_number %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endif %}
                        {% endfor %}


                        {% if all_objects.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ all_objects.next_page_number }}">Наступна</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Наступна</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>

    </div>
</section>

<div class="tag5">
    <div class="tag-one11">Інше</div>
</div>
<div class="decoration22"></div>
<div class="button-delails5">
    <div class="details5">деталі</div>
    <img class="vector-icon16" alt="" src="{% static 'img/vector-11.svg' %}"/>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    document.getElementById('cities').addEventListener('change', function () {
        document.getElementById('cityForm').submit();
    });
</script>

<script>
    // Зберегти позицію прокрутки перед переходом
    window.onbeforeunload = function () {
        sessionStorage.setItem('scrollPosition', window.scrollY);
    };

    // Відновити позицію прокрутки при завантаженні сторінки
    window.onload = function () {
        var scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
        }
    };
</script>
