.navbar {
  width: 1440px;
  height: 186px;
}

.navbar .div {
  display: inline-flex;
  flex-direction: column;
  height: 186px;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 20px 0px;
  position: relative;
}

.navbar .top-menu {
  display: flex;
  width: 1296px;
  align-items: center;
  gap: 620px;
  padding: 20px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -7px;
}

.navbar .logo-ut {
  position: relative;
  width: 196.99px;
  height: 62px;
}

.navbar .logo-flag-ut {
  position: absolute;
  width: 97px;
  height: 62px;
  top: 0;
  left: 0;
}

.navbar .logo-text-ut {
  position: absolute;
  width: 91px;
  height: 56px;
  top: 0;
  left: 106px;
}

.navbar .group {
  position: relative;
  height: 56px;
}

.navbar .div-wrapper {
  position: absolute;
  width: 91px;
  height: 34px;
  top: 0;
  left: 0;
}

.navbar .text-wrapper {
  position: absolute;
  width: 89px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #464646;
  font-size: 27.5px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .group-2 {
  position: absolute;
  width: 93px;
  height: 19px;
  top: 37px;
  left: 0;
}

.navbar .text-wrapper-2 {
  position: absolute;
  width: 91px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #464646;
  font-size: 15.9px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .right-part {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.navbar .languages {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.navbar .flag-UA {
  position: relative;
  width: 19px;
  height: 12px;
}

.navbar .yellow-rectangle {
  position: absolute;
  width: 19px;
  height: 6px;
  top: 6px;
  left: 0;
  background-color: #feda26;
}

.navbar .blue-rectangle {
  position: absolute;
  width: 19px;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #1367bf;
}

.navbar .language-UA {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .arrow {
  position: relative;
  width: 7px;
  height: 3.1px;
  margin-right: -0.5px;
}

.navbar .dividing-line {
  position: relative;
  width: 1.5px;
  height: 32.5px;
}

.navbar .button-login {
  gap: 15px;
  padding: 14px 25px;
  border: 2px solid;
  border-color: #005bbb;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.navbar .user-icon {
  position: relative;
  width: 14px;
  height: 15.47px;
}

.navbar .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .button-donate {
  gap: 10px;
  padding: 12px 26px;
  background-color: #005bbb;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.navbar .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .donate-icon {
  position: relative;
  width: 25px;
  height: 25px;
}

.navbar .line-header {
  position: relative;
  width: 1440px;
  height: 1.5px;
}

.navbar .menu {
  position: relative;
  /*width: 1296px;*/
  /*height: 42px;*/
  margin-left: 10px;
}

.navbar .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  left: 50px;
}

.navbar .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #464646;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .active {
  position: relative;
  width: 65px;
  height: 28px;
}

.navbar .text-wrapper-6 {
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #005bbb;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar .line-active-menu {
  position: absolute;
  width: 42px;
  height: 2px;
  top: 27px;
  left: 10px;
}
