{% extends "coordination/coordination_base.html" %}

{% block coordination_content %}

            <h2>Events</h2>
            <a type="button" class="btn btn-primary" href="{% url 'event_create' %}">Create Event</a>
            <ul>
                {% for event in events %}
                    <li class="event-item">
                        <span class="event-name">
                            <a href="{% url 'participant_list' event.pk %}">{{ event.name }}</a>
                        </span>
                        <span class="event-actions">
                            <a type="button" class="btn btn-primary" href="{% url 'event_update' event.pk %}">Edit</a>
                            <a type="button" class="btn btn-danger" href="{% url 'event_delete' event.pk %}">X</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>

{% endblock %}
