{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="sec-poster">
        <div class="poster">
            <div class="content1">
                <div class="items">
                    {% for object in all_objects %}
                        <div class="card-1">
                            <div class="top-part-item">
                                <img
                                        class="placeholder-image-icon"
                                        alt=""
                                        src="{{ object.image.url }}"
                                />

                                <div class="tag-age">
                                    <div class="age">Age: {{ object.start_age }}-{{ object.end_age }}</div>
                                </div>
                                <div class="tag-date">
                                    <div class="date-bg"></div>
                                    <div class="date">
                                        <div class="div">{{ object.start_date.day }}</div>
                                        <div class="year">{{ object.get_start_date_month }} {{ object.start_date.year }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-part-item">
                                <div class="bg-item"></div>
                                <div class="content2">
                                    <div class="events-details">
                                        <div class="tag">
                                            <div class="age">{{ object.group }}</div>
                                        </div>
                                        <b class="heading">{{ object.name }}</b>
                                        <div class="location">
                                            <div class="text">{{ object.city }}</div>
                                            <img
                                                    class="icon-location"
                                                    alt=""
                                                    src="{% static 'img/events/iconlocation.svg' %}"
                                            />
                                        </div>
                                    </div>
                                    <div class="button-register">
                                        <div class="free">Free</div>
                                        <img
                                                class="button-register-child"
                                                alt=""
                                                src="{% static 'img/events/arrow-8.svg' %}"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="left-side">
                    <div class="filter-menu">
                        <div class="rectangle-bg"></div>
                        <div class="items1">
{#                            <div class="activ-item">#}
{#                                <div class="activ-item-child"></div>#}
{#                                <div class="all">All</div>#}
{#                            </div>#}
                            <ul class="list-menu">
                                <li><a href="{% url 'events' %}">All</a></li>
                                {% for category in links %}
                                    <li><a href="{{ category.get_url }}">{{ category.name }}  </a></li>
                                {% endfor %}
                            </ul>
{#                            <div class="sport">Sport</div>#}
{#                            <div class="events-and-master">Events and master classes</div>#}
{#                            <div class="non-formal-education">Non-formal education</div>#}
                        </div>
                    </div>
                    <div class="left-side-inner">
                        <div class="arrow-parent">
                            <img class="arrow-icon1" alt="" src="{% static 'img/events/arrow.svg' %}"/>

                            <div class="city">Age</div>
                        </div>
                    </div>
                    <div class="left-side-inner">
                        <div class="arrow-parent">
                            <img class="arrow-icon1" alt="" src="{% static 'img/events/arrow.svg' %}"/>

                            <div class="city">City</div>
                        </div>
                    </div>
                    <div class="check-button">
                        <div class="icon-check">
                            <div class="icon-check-child"></div>
                            <img
                                    class="icon-check-item"
                                    alt=""
                                    src="{% static 'img/events/vector-1.svg' %}"
                            />
                        </div>
                        <div class="vacant-seats">Vacant seats</div>
                    </div>
                </div>
            </div>
            <div class="bottom-part">
                <div class="pages">
                    <img class="pages-child" alt="" src="{% static 'img/events/vector-6.svg' %}"/>

                    <img class="pages-item" alt="" src="{% static 'img/events/vector-7.svg' %}"/>

                    <div class="div6">1</div>
                    <div class="div7">2</div>
                    <div class="div8">3</div>
                </div>
                <div class="button-view-all">
                    <div class="view-all">View all</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-events">
        <div class="header">
            <img
                    class="placeholder-image-icon6"
                    alt=""
                    src="{% static 'img/events/placeholderimage@2x.png' %}"
            />

            <div class="sec-title">
                <div class="sublitle">Subtitle</div>
                <div class="content8">
                    <b class="events1">Events</b>
                    <div class="discover-the-diverse">
                        Discover the diverse range of events and activities we offer to
                        support the Ukrainian community in Georgia.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
