{% extends 'base.html' %}

{% block content %}


    <div class="footer-parent">
      <section class="footer">
        <div class="bg-footer"></div>
        <div class="logo-instance">
          <div class="frame-parent">
            <div class="frame-group">
              <div class="logo-ut-footer-parent">
                <div class="logo-ut-footer">
                  <img
                    class="logo-flag-ut-icon"
                    loading="lazy"
                    alt=""
                    src="./public/logoflagut.svg"
                  />

                  <div class="logo-text-ut">
                    <div class="group">
                      <div class="group1">
                        <b class="unite">UNITE</b>
                      </div>
                      <div class="group2">
                        <b class="together">TOGETHER</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="briefly-about-us-parent">
                  <b class="briefly-about-us">briefly about us</b>
                  <div class="our-organization-unite">
                    Our organization "Unite Together" is aimed at creating and
                    implementing projects aimed at supporting and developing
                    Ukrainians affected by the war. Our main goal is to achieve
                    sustainable systemic change in their lives and society.
                  </div>
                </div>
              </div>
              <div class="footer-heading-parent">
                <div class="footer-heading">
                  <b class="menu">MENU</b>
                  <div class="line-decoration"></div>
                </div>
                <div class="about-us-parent">
                  <div class="about-us">About us</div>
                  <div class="events">Events</div>
                  <div class="projects">Projects</div>
                </div>
              </div>
            </div>
            <div class="frame-container">
              <div class="frame-div">
                <div class="footer-heading-wrapper">
                  <div class="footer-heading1">
                    <b class="contact">CONTACT</b>
                    <div class="line-decoration1"></div>
                  </div>
                </div>
                <div class="phone">
                  <img
                    class="icon-phone"
                    loading="lazy"
                    alt=""
                    src="./public/iconphone.svg"
                  />

                  <div class="div">+995 595 720 449</div>
                </div>
                <div class="e-mail">
                  <div class="icon-email-wrapper">
                    <img
                      class="icon-email"
                      loading="lazy"
                      alt=""
                      src="./public/iconemail.svg"
                    />
                  </div>
                  <div class="uniteforukrainegmailcom">
                    uniteforukraine@gmail.com
                  </div>
                </div>
                <div class="geolocation">
                  <img
                    class="icon-geo"
                    loading="lazy"
                    alt=""
                    src="./public/icongeo.svg"
                  />

                  <div class="address">
                    <div class="tbilisi-2123-tsotne">
                      Tbilisi, 21/23 Tsotne Dadiani St., office 8
                    </div>
                    <div class="batumi-127-luka-asatiani-st-parent">
                      <div class="batumi-127-luka">
                        Batumi, 127 Luka Asatiani St.
                      </div>
                      <div class="kutaisi-62-agmashenebeli">
                        Kutaisi, 62 Agmashenebeli St.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-heading-group">
                <div class="footer-heading2">
                  <b class="we-are-on">we are on social media</b>
                  <div class="decoration"></div>
                </div>
                <div class="subscribe-to-us">
                  Subscribe to us on social media so you don't miss the release
                  of new incredible projects.
                </div>
                <div class="soc-icons-footer">
                  <img
                    class="icon-insta"
                    loading="lazy"
                    alt=""
                    src="./public/iconinsta.svg"
                  />

                  <img
                    class="icon-fb"
                    loading="lazy"
                    alt=""
                    src="./public/iconfb.svg"
                  />

                  <img
                    class="icon-tg"
                    loading="lazy"
                    alt=""
                    src="./public/icontg.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider-parent">
          <div class="divider"></div>
          <div class="footer-bar">
            <div class="row">
              <div class="unite-together-all">
                © 2023 Unite Together. All rights reserved.
              </div>
              <div class="privacy-policy">Privacy Policy</div>
              <div class="terms-of-service">Terms and Conditions</div>
              <div class="cookies-settings">Cookie Policy</div>
            </div>
          </div>
        </div>
      </section>
    </div>


{% endblock %}