{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

  <body>
    <div class="events-detail" data-animate-on-scroll>
        <section class="sec-detail">
            <div class="bg-detail"></div>
            <div class="aside-box">
                <div class="iterative-processor">
                    <div class="database-connection">
                        <div class="error-handler">
                            <a class="sport1" href="{% url 'events' %}">All</a>
                            {% for category in links %}
                                <a class="sport1" href="{{ category.get_url }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="while-loop">
                <img
                        class="baner-image-icon"
                        loading="lazy"
                        alt=""
                        src="{{ single_event.image.url }}"
                />

                <div class="about-events">
                    <div class="bg"></div>
                    <div class="variable-holder">
                        <div class="constant-holder">
                            <h1 class="autism-speaks-to">
                                {{ single_event.title }}
                            </h1>
                            <div class="age-3-16-parent">
                                <div class="age-3-16">
                                    <b>Age</b>
                                    <span class="span">: {{ single_event.start_age }}-{{ single_event.end_age }}</span>
                                </div>
                                <div class="free-classes-of-container">
                                    <p class="free-classes-of">
                                        {{ single_event.text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img
                            class="dec-line-3-icon"
                            loading="lazy"
                            alt=""
                            src="{% static 'img/decline3.svg' %}"
                    />

                    <div class="string-op">
                        <div class="array-op">
                            <div class="list-op">
                                <div class="dictionary-op">
                                    <div class="set-op">
                                        <img
                                                class="set-op-child"
                                                loading="lazy"
                                                alt=""
                                                src="{% static 'img/group-679.svg' %}"
                                        />
                                    </div>
                                    <div class="weekly-at-1400">Weekly at 14:00</div>

                                </div>
                                <div class="frame-div">
                                        <div class="vector-wrapper">
                                            <img
                                                    class="vector-icon"
                                                    loading="lazy"
                                                    alt=""
                                                    src="{% static 'img/vector.svg' %}"
                                            />
                                        </div>
                                        <div class="batumi-127-luka">
                                            {{ single_event.selected_city }} {{ single_event.address }}
                                        </div>
                                    </div>
                                    {% if single_event.is_active %}
                                        <a class="button-registration" href="{% url 'login' %}">
                                            <div class="registration">Registration</div>
                                            <div class="vector-container">
                                                <img
                                                        class="vector-icon1"
                                                        alt=""
                                                        src="{% static 'img/vector-1.svg' %}"
                                                />
                                            </div>
                                        </a>
                                    {% else %}
                                        <button class="button-join">
                                            <div class="join-parent">
                                                <div class="join">Closed</div>
                                                <div class="vector-container">
                                                    <img
                                                            class="vector-icon1"
                                                            alt=""
                                                            src="{% static 'img/vector-1.svg' %}"
                                                    />
                                                </div>
                                            </div>
                                        </button>
                                    {% endif %}

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
      
    </div>


  </body>
</html>

{% endblock %}