{% extends "base.html" %}

{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html>

    <body>
    <div class="events-detail" data-animate-on-scroll>
        <section class="sec-detail">
            <div class="bg-detail"></div>
            <div class="aside-box">
                <div class="iterative-processor">
                    <div class="database-connection">
                        <div class="error-handler">
                            <a class="sport1" href="{% url 'events' %}">All</a>
                            {% for category in links %}
                                <a class="sport1" href="{{ category.get_url }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="while-loop">
                <img
                        class="baner-image-icon"
                        loading="lazy"
                        alt=""
                        src="
                        {% if single_event.image %} {{ single_event.image.url }}
                        {% else %} {% static '/img/placeholder-image1%402x.png' %}
                        {% endif %}"/>


                <div class="about-events">
                    <div class="bg"></div>
                    <div class="variable-holder">
                        <div class="constant-holder">
                            <h1 class="autism-speaks-to">
                                {{ single_event.title }}
                            </h1>
                            <div class="age-3-16-parent">
                                <div class="age-3-16">
                                    <b>Age</b>
                                    <span class="span">: {{ single_event.start_age }}-{{ single_event.end_age }}</span>
                                </div>
                                <div class="free-classes-of-container">
                                    <p class="free-classes-of">
                                        {{ single_event.text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img
                            class="dec-line-3-icon"
                            loading="lazy"
                            alt=""
                            src="{% static 'img/decline3.svg' %}"
                    />

                    <div class="string-op">
                        <div class="array-op">
                            <div class="list-op">
                                <div class="dictionary-op">
                                    {% if single_event.extra_details %}
                                        <div class="set-op">
                                            <img
                                                    class="set-op-child"
                                                    loading="lazy"
                                                    alt=""
                                                    src="{% static 'img/group-679.svg' %}"
                                            />
                                        </div>
                                        <div class="weekly-at-1400">{{ single_event.extra_details }}</div>
                                    {% endif %}

                                </div>
                                <div class="frame-div">
                                    <div class="vector-wrapper">
                                        <img
                                                class="vector-icon"
                                                loading="lazy"
                                                alt=""
                                                src="{% static 'img/vector.svg' %}"
                                        />
                                    </div>
                                    <div class="batumi-127-luka">
                                        {{ single_event.selected_city }} {{ single_event.address }}
                                    </div>
                                </div>
                                {#                                    <form id="personForm" method="POST" action="{% url 'event_detail' %}">#}
                                {% if single_event.is_active %}
                                    <form id="personForm" method="POST">
                                        {% csrf_token %}
                                        {% if request.user %}
{#                                            #}

                                            <select name="selected-person">
                                                {% for person in persons %}
                                                    <option value="{{ person.id }}">{{ person }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <br>
                                            <button type="submit" class="button-registration">
                                                <div class="registration">Registration</div>
                                                <div class="vector-container">
                                                    <img class="vector-icon1" alt=""
                                                         src="{% static 'img/vector-1.svg' %}"/>
                                                </div>
                                            </button>




                                        {% else %}
                                            <a class="button-registration" href="{% url 'login' %}">
                                                <div class="registration">Registration</div>
                                                <div class="vector-container">
                                                    <img
                                                            class="vector-icon1"
                                                            alt=""
                                                            src="{% static 'img/vector-1.svg' %}"
                                                    />
                                                </div>
                                            </a>
                                        {% endif %}
                                    </form>
                                {% else %}
                                    <button class="button-join">
                                        <div class="join-parent">
                                            <div class="join">Closed</div>
                                            <div class="vector-container">
                                                <img
                                                        class="vector-icon1"
                                                        alt=""
                                                        src="{% static 'img/vector-1.svg' %}"
                                                />
                                            </div>
                                        </div>
                                    </button>
                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>


    </body>
    </html>

{% endblock %}