body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --body-regular: "Helvetica Neue";
  --text-medium-normal: Roboto;

  /* font sizes */
  --body-regular-size: 1rem;
  --font-size-mini: 0.938rem;
  --text-medium-normal-size: 1.125rem;
  --font-size-2xs-6: 0.663rem;
  --font-size-lg-3: 1.144rem;
  --body-small-size: 0.875rem;
  --font-size-smi: 0.813rem;
  --font-size-3xs-9: 0.619rem;
  --font-size-mid: 1.063rem;
  --font-size-xl: 1.25rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --heading-mobile-h2-size: 2.25rem;
  --font-size-10xl: 1.813rem;
  --font-size-3xl: 1.375rem;
  --font-size-37xl: 3.5rem;
  --font-size-26xl: 2.813rem;
  --font-size-15xl: 2.125rem;
  --font-size-base-9: 0.994rem;
  --font-size-8xl-5: 1.719rem;
  --font-size-xs: 0.75rem;
  --font-size-6xs: 0.438rem;
  --font-size-5xs: 0.5rem;
  --font-size-3xs: 0.625rem;
  --font-size-2xs: 0.688rem;
  --font-size-sm-4: 0.838rem;
  --font-size-smi-1: 0.756rem;
  --font-size-11xl: 1.875rem;
  --heading-h2-size: 2rem;
  --font-size-7xl: 1.625rem;
  --font-size-29xl: 3rem;
  --font-size-19xl: 2.375rem;
  --font-size-21xl: 2.5rem;

  /* Colors */
  --neutral-background: #fff;
  --hitbox: #0d6efd;
  --accent-blue: #005bbb;
  --primary-text: #464646;
  --color-darkslategray-100: #464644;
  --color-darkslategray-200: rgba(70, 70, 70, 0.5);
  --color-darkslategray-300: rgba(70, 70, 70, 0.8);
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: #eee;
  --color-whitesmoke-300: rgba(238, 238, 238, 0.93);
  --color-silver-100: #c4c4c4;
  --color-silver-200: #b8b8b8;
  --color-silver-300: rgba(196, 196, 196, 0);
  --color-cornflowerblue-100: #2682e0;
  --color-cornflowerblue-200: #186ac1;
  --color-cornflowerblue-300: #1367bf;
  --color-cornflowerblue-400: rgba(38, 130, 224, 0.09);
  --color-ghostwhite: #f5f9fe;
  --color-gray-100: #fafafa;
  --color-gray-200: #8d8d8d;
  --color-gray-300: #82868f;
  --body-text-body-color: #212529;
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --hitbox1: rgba(255, 255, 255, 0);
  --color-gold-100: #feda26;
  --color-gold-200: #fed920;
  --color-gold-300: #ffd500;
  --color-lightcoral: rgba(245, 135, 135, 0.69);
  --gray-black: #000;
  --gray-600: #6c757d;
  --gray-400: #ced4da;
  --theme-danger: #dc3545;
  --color-darkgray-100: #a3a3a3;
  --color-darkgray-200: #969ba0;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.09);

  /* Gaps */
  --gap-15xl-8: 2.175rem;
  --gap-xs: 0.75rem;
  --gap-xl: 1.25rem;
  --gap-3xs: 0.625rem;
  --gap-6xs-2: 0.387rem;
  --gap-10xs-3: 0.143rem;
  --gap-6xl: 1.562rem;
  --gap-5xl: 1.5rem;
  --gap-31xl: 3.125rem;
  --gap-lgi: 1.187rem;
  --gap-mini: 0.937rem;
  --gap-mid: 1.062rem;
  --gap-3xs-1: 0.568rem;
  --gap-7xl-6: 1.662rem;
  --gap-7xs-7: 0.356rem;
  --gap-35xl: 3.375rem;
  --gap-8xl: 1.687rem;
  --gap-11xl: 1.875rem;
  --gap-29xl: 3rem;
  --gap-5xs-8: 0.487rem;
  --gap-9xl-8: 1.8rem;
  --gap-8xs: 0.312rem;
  --gap-mini-3: 0.893rem;
  --gap-sm-2: 0.825rem;
  --gap-6xl-9: 1.618rem;
  --gap-5xl-3: 1.518rem;
  --gap-base: 1rem;
  --gap-3xs-4: 0.587rem;
  --gap-9xs-5: 0.218rem;
  --gap-3xl: 1.375rem;
  --gap-163xl-1: 11.381rem;
  --gap-7xs-5: 0.343rem;
  --gap-smi-3: 0.768rem;
  --gap-2xs: 0.687rem;
  --gap-10xs: 0.187rem;
  --gap-11xs-6: 0.1rem;
  --gap-base-9: 1.056rem;
  --gap-11xl-3: 1.893rem;
  --gap-5xs: 0.5rem;
  --gap-21xl: 2.5rem;
  --gap-13xl: 2rem;
  --gap-xl-1: 1.256rem;
  --gap-smi: 0.812rem;
  --gap-4xl-7: 1.481rem;
  --gap-2xs-2: 0.637rem;
  --gap-4xs-4: 0.525rem;
  --gap-11xl-1: 1.881rem;
  --gap-4xs-3: 0.518rem;
  --gap-7xl: 1.625rem;
  --gap-10xl-4: 1.837rem;
  --gap-7xl-1: 1.631rem;
  --gap-xl-4: 1.275rem;
  --gap-7xs-4: 0.337rem;
  --gap-mini-5: 0.906rem;
  --gap-2xl: 1.312rem;
  --gap-lg: 1.125rem;
  --gap-17xl: 2.25rem;
  --gap-16xl: 2.187rem;
  --gap-5xs-2: 0.45rem;
  --gap-9xs: 0.25rem;
  --gap-sm: 0.875rem;
  --gap-12xs-1: 0.006rem;
  --gap-xl-5: 1.281rem;
  --gap-68xl-3: 5.456rem;
  --gap-25xl: 2.75rem;
  --gap-6xs: 0.437rem;
  --gap-lgi-7: 1.231rem;
  --gap-4xs: 0.562rem;
  --gap-5xl-6: 1.537rem;
  --gap-9xl: 1.75rem;
  --gap-61xl: 5rem;
  --gap-base-3: 1.018rem;
  --gap-lg-7: 1.168rem;
  --gap-2xl-9: 1.368rem;
  --gap-xs-1: 0.693rem;
  --gap-12xl-2: 1.95rem;

  /* Paddings */
  --padding-6xl-3: 1.581rem;
  --padding-xs: 0.75rem;
  --padding-2xs: 0.687rem;
  --padding-51xl: 4.375rem;
  --padding-10xs-5: 0.156rem;
  --padding-3xs: 0.625rem;
  --padding-25xl: 2.75rem;
  --padding-10xs-2: 0.137rem;
  --padding-12xs: 0.062rem;
  --padding-8xs: 0.312rem;
  --padding-5xs: 0.5rem;
  --padding-11xs: 0.125rem;
  --padding-10xs: 0.187rem;
  --padding-6xl: 1.562rem;
  --padding-4xs-6: 0.537rem;
  --padding-9xs-3: 0.206rem;
  --padding-93xl: 7rem;
  --padding-18xl: 2.312rem;
  --padding-54xl: 4.562rem;
  --padding-5xl: 1.5rem;
  --padding-xl: 1.25rem;
  --padding-53xl: 4.5rem;
  --padding-17xl: 2.25rem;
  --padding-9xs-7: 0.231rem;
  --padding-12xl: 1.937rem;
  --padding-28xl: 2.937rem;
  --padding-43xl: 3.875rem;
  --padding-7xl: 1.625rem;
  --padding-21xl: 2.5rem;
  --padding-smi-5: 0.781rem;
  --padding-11xs-9: 0.118rem;
  --padding-2xl: 1.312rem;
  --padding-5xl-7: 1.543rem;
  --padding-lg: 1.125rem;
  --padding-11xs-8: 0.112rem;
  --padding-11xs-1: 0.068rem;
  --padding-43xl-1: 3.881rem;
  --padding-mini: 0.937rem;
  --padding-7xs: 0.375rem;
  --padding-5xs-5: 0.468rem;
  --padding-8xl: 1.687rem;
  --padding-sm-5: 0.843rem;
  --padding-4xs: 0.562rem;
  --padding-9xs: 0.25rem;
  --padding-2xl-5: 1.343rem;
  --padding-mini-5: 0.906rem;
  --padding-87xl-1: 6.631rem;
  --padding-6xs: 0.437rem;
  --padding-smi: 0.812rem;
  --padding-6xs-9: 0.431rem;
  --padding-base: 1rem;
  --padding-16xl: 2.187rem;
  --padding-4xl: 1.437rem;
  --padding-5xs-9: 0.493rem;
  --padding-8xs-6: 0.287rem;
  --padding-xs-9: 0.743rem;
  --padding-7xs-5: 0.343rem;
  --padding-12xs-1: 0.006rem;
  --padding-22xl: 2.562rem;
  --padding-406xl-9: 26.618rem;
  --padding-10xs-1: 0.131rem;
  --padding-11xl: 1.875rem;
  --padding-23xl: 2.625rem;
  --padding-6xs-1: 0.381rem;
  --padding-13xl: 2rem;
  --padding-49xl: 4.25rem;
  --padding-12xs-3: 0.018rem;
  --padding-9xs-2: 0.2rem;
  --padding-45xl: 4rem;
  --padding-10xl-8: 1.862rem;
  --padding-3xs-6: 0.6rem;
  --padding-7xs-6: 0.35rem;
  --padding-3xs-4: 0.587rem;
  --padding-45xl-6: 4.037rem;
  --padding-10xl: 1.812rem;
  --padding-20xl: 2.437rem;
  --padding-9xs-1: 0.193rem;
  --padding-24xl: 2.687rem;
  --padding-55xl: 4.625rem;
  --padding-9xl: 1.75rem;
  --padding-7xs-9: 0.368rem;
  --padding-34xl: 3.312rem;
  --padding-10xl-4: 1.837rem;
  --padding-4xs-9: 0.556rem;
  --padding-13xl-5: 2.031rem;
  --padding-43xl-9: 3.931rem;
  --padding-mini-9: 0.931rem;
  --padding-6xl-5: 1.593rem;
  --padding-11xs-5: 0.093rem;
  --padding-3xs-5: 0.593rem;
  --padding-33xl-5: 3.281rem;
  --padding-8xs-5: 0.281rem;
  --padding-3xs-1: 0.568rem;
  --padding-sm: 0.875rem;
  --padding-mid: 1.062rem;
  --padding-31xl: 3.125rem;
  --padding-7xs-3: 0.331rem;
  --padding-7xs-4: 0.337rem;
  --padding-54xl-5: 4.593rem;
  --padding-54xl-4: 4.587rem;
  --padding-30xl: 3.062rem;
  --padding-8xs-3: 0.268rem;
  --padding-10xs-6: 0.162rem;
  --padding-81xl: 6.25rem;
  --padding-46xl: 4.062rem;
  --padding-36xl: 3.437rem;
  --padding-46xl-4: 4.087rem;
  --padding-45xl-4: 4.025rem;
  --padding-161xl: 11.25rem;
  --padding-98xl: 7.312rem;
  --padding-6xs-8: 0.425rem;
  --padding-40xl-5: 3.718rem;
  --padding-3xl-5: 1.406rem;
  --padding-2xs-5: 0.656rem;
  --padding-26xl: 2.812rem;
  --padding-11xs-3: 0.081rem;
  --padding-44xl: 3.937rem;
  --padding-87xl: 6.625rem;
  --padding-93xl-5: 7.031rem;
  --padding-48xl-7: 4.231rem;
  --padding-11xs-4: 0.087rem;
  --padding-xs-8: 0.737rem;
  --padding-3xl: 1.375rem;
  --padding-14xl: 2.062rem;
  --padding-6xl-6: 1.6rem;
  --padding-30xl-6: 3.1rem;
  --padding-44xl-9: 3.993rem;
  --padding-smi-3: 0.768rem;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-7xl: 26px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-8xs-3: 4.3px;
  --br-5xs: 8px;
  --br-lg-8: 18.8px;
  --br-980xl: 999px;
  --br-7xs: 6px;
  --br-5xs-1: 7.1px;
  --br-7xs-2: 5.2px;
}
